<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h6>Ageing Master</h6>
   
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="15"
      pagination
      hover
      striped
      border
      sorter
     >
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" class="align-middle">
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectAgeing(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectAgeing(item)" >Delete</CButton>
      <!-- <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectAgeing(item)"> Details </CButton> -->
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add New Ageing</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Add New Ageing</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">





<div class="form-group">
  <label for="ageing_Months">Ageing Months</label>
<input type="text" name="ageing_Months" class="form-control form-control-lg" required placeholder="Ageing Months"  v-model="newAgeing.ageing_Months">
</div>



<div class="form-group">

<CButton size="sm" color="info" class="-align-left"   @click="ShowAddModal=false;addAgeing();" >Add Ageing </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

 

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Ageing Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">


<div class="form-group">
  <label for="ageing_Months">Ageing Months</label>
<input type="text" name="ageing_Months" readonly class="form-control form-control-lg" placeholder="Ageing Months" v-model="CurrentAgeing.ageing_Months">
</div>


<div class="form-group">
 
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>


  

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Ageing</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group">
    <label for="ageing_Id">Ageing Id</label>
<input type="text" label ="Id" name="ageing_Id" readonly class="form-control form-control-sm" placeholder= "Ageing Id" v-model="CurrentAgeing.ageing_Id">
</div>



<div class="form-group">
    <label for="ageing_Months">Ageing Months</label>
<input type="text" name="ageing_Months" class="form-control form-control-lg" placeholder="Ageing Months"  v-model="CurrentAgeing.ageing_Months">
</div>



<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateAgeing();" > Update Ageing </button>
</div>
</form>

</div>
</div>
</div>
</div>


<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Ageing</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Ageing ? </h4>
<h5> You are deleting {{ this.CurrentAgeing.ageing_Id +' || '+ this.CurrentAgeing.material_Type_Id }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteAgeing();getAllAgeingDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const apiurl =  'FGS_FIFO_Ageing_Master/'
 const items = [
  { key: 'ageing_Id', _style:'min-width:200px' },
  { key: 'ageing_Months',    _style: 'width:1%',  },

  
 ]    
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
  data ()
  {
     return {
     items: items.map((item,) => { return {...item,}}),
     fields: [
              { key: 'ageing_Id' , label: 'Ageing Id',},
              { key: 'ageing_Months' , label: 'Ageing Months',},
              { key: 'show_details',  label: '',   _style: 'width:30%', }          
      ],
  details: [],
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentAgeing:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  //materialitems:"",
  newAgeing: {ageing_Id:0,ageing_Months:0 , status : 1}, }
  },
  
  mounted()
  {
  
   this.getAllAgeingDetails();
    // this.getAllMaterilalTypeDetails();
  },

  methods:
  {
   getAllAgeingDetails: function()
   {
   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items = response.data.filter(x => x.status == 1)
        
       }
    });
   },

   
  addAgeing()
  {
    
     Vue.axios.post(this.$url + apiurl,this.newAgeing).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        
        this.getAllAgeingDetails();
        this.SuccessMsg ="Record added Successfully.."
       // this.smallModal = true;
        
        location.reload();
       }
    })
   },

  UpdateAgeing()
  {
   
    Vue.axios.put(this.$url + apiurl +this.CurrentAgeing.ageing_Id,this.CurrentAgeing,).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.getAllAgeingDetails();
         this.SuccessMsg ="Records Updated Successfully.."
 
         
       }
    })
   },

  deleteAgeing()
    {

      var ageing_Id = this.CurrentAgeing.ageing_Id;
        axios({   method: 'delete',
        url: this.$url + apiurl + ageing_Id
    });   

     this.getAllAgeingDetails();
        this.SuccessMsg="Ageing Status of "+ ageing_Id +" Changed to Inactive Succesfully"
        
    },
      
  SelectAgeing(Ageing)
    {
     this.CurrentAgeing=Ageing;
    },
  }

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>