<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="lg"

      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>BatchType Master</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="10"
      pagination
      hover
      striped
      border
      sorter
     >
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectBatchType(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectBatchType(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectBatchType(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add New BatchType</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal" >
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">New BatchType</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">


<div class="form-group">
  <label for="batch_Type_Name">Batch Type Name</label>
<input type="text" name="batch_Type_Name" class="form-control form-control-sm" placeholder="Batch Type Name" v-model="newBatchType.batch_Type_Name">
</div>

<div class="form-group">

<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addBatchType();" >Add BatchType </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

 

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">BatchType Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group">
  <label for="batch_Type_Id">BatchType Id</label>
<input type="text" label ="Id" name="batch_Type_Id" readonly class="form-control form-control-sm" placeholder= "BatchType Id" v-model="CurrentBatchType.batch_Type_Id">
</div>

<div class="form-group">
  <label for="batch_Type_Name">Batch Type Name</label>
<input type="text" name="batch_Type_Name" readonly class="form-control form-control-sm" placeholder="Batch Type Name" v-model="CurrentBatchType.batch_Type_Name">
</div>


<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>


  

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update BatchType</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">


<div class="form-group">
  <label for="batch_Type_Name">Batch Type Name</label>
<input type="text" name="batch_Type_Name" class="form-control form-control-sm" placeholder="Batch Type Name" v-model="CurrentBatchType.batch_Type_Name">
</div>


<div class="form-group">

<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateBatchType();" > Update BatchType </button>
</div>
</form>

</div>
</div>
</div>
</div>


<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete BatchType</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the BatchType ? </h4>
<h5> You are deleting {{ this.CurrentBatchType.batch_Type_Id +' || '+ this.CurrentBatchType.batch_Type_Name }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteBatchType();getAllBatchTypeDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const apiurl =  'FGS_FIFO_BatchType_Master/'
 const items = [
  { key: 'batch_Type_Id', _style:'min-width:200px' },
  { key: 'batch_Type_Name', _style:'min-width:100px;' },
 
 ]    
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
  data ()
  {
     return {
     items: items.map((item,) => { return {...item,}}),
     fields: [
              { key: 'batch_Type_Id' , label: ' Id',},
              { key: 'batch_Type_Name', label: 'Batch Type Name',},
              { key: 'show_details',  label: '',  _style: 'width:30%', }          
      ],
  details: [],
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentBatchType:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newBatchType: {batch_Type_Id:0,batch_Type_Name:"", batch_Type_Status : 1}, }
  },



  mounted()
  {
  
   this.getAllBatchTypeDetails();
  },

  methods:
  {
   getAllBatchTypeDetails: function()
   {
   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.batch_Type_Status == 1)
         this.getAllBatchTypeDetails();
       }
    });
   },

   
  addBatchType()
  {
    if(this.items.find(x => x.batch_Type_Name == this.newBatchType.batch_Type_Name && x.batch_Type_Status == this.newBatchType.batch_Type_Status ))
    {
     this.SuccessMsg= "Batch Type Name  " + this.newBatchType.batch_Type_Name +" already exist. Please try another Name";
this.smallModal = true;
    }
    else
    {
   Vue.axios.post(this.$url + apiurl,this.newBatchType).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.getAllBatchTypeDetails();
        location.reload();
        this.SuccessMsg ="Record added Successfully.."
       // this.smallModal = true;
     
       }
    })
    }
   },

  UpdateBatchType()
  {
   
    Vue.axios.put(this.$url + apiurl +this.CurrentBatchType.batch_Type_Id,this.CurrentBatchType,).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {this.getAllBatchTypeDetails();
         this.SuccessMsg ="Records Updated Successfully.."
         
       }
    })
   },

  deleteBatchType()
    {
    
      var batch_Type_Id = this.CurrentBatchType.batch_Type_Id;
        axios({   method: 'delete',
        url: this.$url + apiurl+ batch_Type_Id
    });  
       this.getAllBatchTypeDetails(); 
        this.SuccessMsg="BatchType Status of "+ batch_Type_Id +" Changed to Inactive Succesfully"
     
    },
      
  SelectBatchType(BatchType)
    {
     this.CurrentBatchType=BatchType;
    },
    

  },

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>