<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Material Type Master</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
        :items-per-page="15"
      pagination
      hover
      striped
      border
      sorter
     >
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectMaterialType(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectMaterialType(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectMaterialType(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add New Material Type</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Add New Material Type</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

  

<!-- 
<div class="form-group">
<input type="text" name="customer_Id" class="form-control form-control-lg" placeholder="Customer Id" v-model="newCustomer.customer_Id">
</div> -->

<div class="form-group">
   <label for="Material_Code">Material Code</label>
<input type="text" name="material_Type_Name" class="form-control form-control-lg" placeholder="Material Type Name" v-model="newMaterialType.material_Type_Name">
</div>
<!-- 
<div class="form-group">
<input type="text" name="material_Type_Status" class="form-control form-control-lg" placeholder="Material Type Status" v-model="newMaterialType.material_Type_Status">
</div> -->


<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addMaterialType();" > Add Material Type </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

 

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Material Type Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
  <div class="form-group">
<label for="Material Type Id">Material Type Id</label>
<input type="text" name="material_Type_Id" readonly class="form-control form-control-lg" placeholder="Material Type Id" v-model="CurrentMaterialType.material_Type_Id">
</div>

<div class="form-group">
   <label for="material_Type_Name">Material Type Name</label>
<input type="text" label ="Id" name="material_Type_Name" readonly class="form-control form-control-lg" placeholder= "Material Type Name" v-model="CurrentMaterialType.material_Type_Name">
</div>



<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>




<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Material Type</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group">
   <label for="material_Type_Id">Material Type Id</label>
<input type="text" name="material_Type_Id"  readonly class="form-control form-control-lg" placeholder="Material Type Id" v-model="CurrentMaterialType.material_Type_Id">
</div>

<div class="form-group">
   <label for="material_Type_Name">Material Type Name</label>
<input type="text" name="material_Type_Name" class="form-control form-control-lg" placeholder="Material Type Name" v-model="CurrentMaterialType.material_Type_Name">
</div>

<!-- <div class="form-group">
<input type="text" name="material_Type_Status" class="form-control form-control-lg" placeholder="Material Type Status" v-model="CurrentMaterialType.material_Type_Status">
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateMaterialType();SelectMaterialType(CurrentMaterialType) " >Update Material Type </button>
</div>
</form>

</div>
</div>
</div>
</div>


<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Material Type</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Material Type ? </h4>
<h5> You are deleting {{ this.CurrentMaterialType.material_Type_Name }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteMaterialType(); this.getAllMaterialType();"> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const apiurl =  'FGS_FIFO_MaterialType_Master/'
const items = [
  { key: 'material_Type_Id', _style:'min-width:200px' },
  { key: 'material_Type_Name', _style:'min-width:100px;' },
 // { key: 'material_Type_Status', _style:'min-width:50px;' },
 
 ]    
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
  data ()
  {
     return {
     items: items.map((item,) => { return {...item,}}),
     fields: [
              { key: 'material_Type_Id' , label: 'Material Type Id',},
              { key: 'material_Type_Name', label: 'Material Type Name', },
             // { key: 'material_Type_Status', label: 'Status', _classes: 'font-weight-bold' },
              { key: 'show_details',  label: '',  _style: 'width:35%', }
      
              
      ],
  details: [],
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterialType:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  MaterialType:"",
  newMaterialType: {material_Type_Id:0,material_Type_Name:"", material_Type_Status : 1}, }
  },



  mounted()
  {
   this.getAllMaterialType();
  },

  methods:
  {
    
   getAllMaterialType: function()
   {
   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.material_Type_Status == 1)
       }
    });
   },

   
  addMaterialType()
  {
    if(this.items.find(x => x.material_Type_Name == this.newMaterialType.material_Type_Name && x.material_Type_Status == this.newMaterialType.material_Type_Status ))
    {
     this.SuccessMsg="Material Type Name  " + this.newMaterialType.material_Type_Name +" already exist. Please try another Name";
this.smallModal=true;
    }
    else
    {
   Vue.axios.post(this.$url + apiurl,this.newMaterialType).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
       this.SuccessMsg ="Record added Successfully.."
       // this.smallModal = true;
        this.getAllMaterialType();
        location.reload();
       }
    })
  }
   },

  UpdateMaterialType()
  {
   
    Vue.axios.put(this.$url + apiurl + this.CurrentMaterialType.material_Type_Id,this.CurrentMaterialType).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
          this.SuccessMsg ="Record added Successfully.."
        this.smallModal = true;
         this.getAllMaterialType();
         location.reload();
       }
    })
   },

  deleteMaterialType()
    {
      var material_Type_Id = this.CurrentMaterialType.material_Type_Id;
        axios({   method: 'delete',
        url: this.$url + apiurl + material_Type_Id
    });   
    this.SuccessMsg="Customer Status of "+ this.CurrentMaterialType.material_Type_Name +" Changed to Inactive Succesfully"
    this.getAllMaterialType();
    location.reload();
    },
      
  SelectMaterialType(MaterialType)
    {
      
     this.CurrentMaterialType = MaterialType;
    
    },
    

  },

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>