<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Customer Master</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="15"
      pagination
      hover
      striped
      border
      sorter
     >
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectCustomer(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectCustomer(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectCustomer(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add New Customer</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Enter Customer</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">


<div class="form-group">
    <label for="customer_Name">Name</label>
<input type="text" name="customer_Name" class="form-control form-control-lg" placeholder="" v-model="newCustomer.customer_Name">
</div>

<div class="form-group">
    <label for="customer_Address">Address</label>
<input type="text" name="customer_Address" class="form-control form-control-lg" placeholder="" v-model="newCustomer.customer_Address">
</div>

<div class="form-group">
    <label for="batch_Type_Id">BatchType Id</label>
 <select class="form-control"   v-model="newCustomer.batch_Type_Id" >
    <option value="" selected disabled>Select Batch Type</option>
    <option v-for="item in batchitems" :value="item.batch_Type_Id" :key="item.batch_Type_Id">{{ item.batch_Type_Name }}</option>
  </select>
</div>
<div class="form-group">
  <label for="customer_Type_Name">Customer Type</label>
 <select class="form-control"   v-model="newCustomer.customer_Type_Id" >
    <option value="" selected disabled>Select Customer Type</option>
    <option v-for="item in custitems" :value="item.customer_Type_Id" :key="item.customer_Type_Id">{{ item.customer_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addCustomer();" > Add Customer </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

 

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Customer Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group">
    <label for="customer_Id">Id</label>
<input type="text" label ="Id" name="customer_Id" readonly class="form-control form-control-lg" placeholder= "Customer Id" v-model="CurrentCustomer.customer_Id">
</div>

<div class="form-group">
    <label for="customer_Name">Name</label>
<input type="text" name="customer_Name" readonly class="form-control form-control-lg" placeholder="Customer Name" v-model="CurrentCustomer.customer_Name">
</div>

<div class="form-group">
    <label for="customer_Address">Address</label>
<input type="text" name="customer_Address" readonly class="form-control form-control-lg" placeholder="Customer Address" v-model="CurrentCustomer.customer_Address">
</div>

<div class="form-group">
    <label for="batch_Type_Id">BatchType </label>
<input type="text" name="batch_Type_Id" readonly class="form-control form-control-lg" placeholder="Batch Type Id"  v-model="CurrentCustomer.batchTypeName">
</div>
<div class="form-group">
    <label for="customer_Type_Name">Customer Type</label>
<input type="text" name="customer_Type_Name" readonly class="form-control form-control-lg" placeholder="Batch Type Id"  v-model="CurrentCustomer.customer_Type_Name">
</div>


<div class="form-group">
  
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>


  

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Customer</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group">
    <label for="customer_Id">Id</label>
<input type="text" name="customer_Id"  readonly class="form-control form-control-lg" placeholder="Customer Id" v-model="CurrentCustomer.customer_Id">
</div>

<div class="form-group">
    <label for="customer_Name">Name</label>
<input type="text" name="customer_Name" class="form-control form-control-lg" placeholder="Customer Name" v-model="CurrentCustomer.customer_Name">
</div>

<div class="form-group">
    <label for="customer_Address">Address</label>
<input type="text" name="customer_Address" class="form-control form-control-lg" placeholder="Customer Address" v-model="CurrentCustomer.customer_Address">
</div>

<div class="form-group">
    <label for="batch_Type_Id">Batch Type </label>

 <select class="form-control"   v-model="CurrentCustomer.batch_Type_Id" >
    <option value="" selected disabled>Select Batch Type</option>
    <option v-for="item in batchitems" :value="item.batch_Type_Id" :key="item.batch_Type_Id">{{ item.batch_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
    <label for="customer_Type_Name">Customer Type</label>

 <select class="form-control"   v-model="CurrentCustomer.customer_Type_Id" >
    <option value="" selected disabled>Select Customer Type</option>
    <option v-for="item in custitems" :value="item.customer_Type_Id" :key="item.customer_Type_Id">{{ item.customer_Type_Name }}</option>
  </select>
</div>


<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateCustomer();" > Update Customer </button>
</div>
</form>

</div>
</div>
</div>
</div>


<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Customer</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Customer ? </h4>
<h5> You are deleting {{ this.CurrentCustomer.customer_Name +' || '+ this.CurrentCustomer.customer_Address }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteCustomer();getAllCustomerDetails(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const apiurl =  'FGS_FIFO_Customer_Master/'
const items = [
  { key: 'customer_Id', },
  { key: 'customer_Name',  },
  { key: 'customer_Address',  },
  { key: 'batchTypeName',     },
  { key: 'customer_Type_Name',     },

 ]    
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
  data ()
  {
     return {
     items: items.map((item,) => { return {...item,}}),
     fields: [
              { key: 'customer_Id' , label: 'Id',},
              { key: 'customer_Name', label: 'Name', },
              { key: 'customer_Address', label: 'Address',  },
              { key: 'batchTypeName' , label: 'Batch Type',},
              { key: 'customer_Type_Name' , label: 'Customer Type',},
              
              { key: 'show_details',  label: '',  _style: 'width:30%', }
      
              
      ],
      custitems:"",
      batchitems:"",
  details: [],
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentCustomer:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newCustomer: {customer_Id:0,customer_Name:"",customer_Address:"",batch_Type_Id:0 , cust_Status : 1}, }
  },



  mounted()
  {
   this.getAllCustomerDetails();
   this.getAllCustomerTypeDetails();
   this.getAllBatchTypeDetails();
  },

  methods:
  {
   getAllCustomerDetails: function()
   {
   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.cust_Status == 1)
       }
    });
   },

   
  addCustomer()
  {
  
    if(this.items.find(x => x.customer_Name == this.newCustomer.customer_Name && x.cust_Status == this.newCustomer.cust_Status))
    {
    
        this.SuccessMsg ="Customer Name " + this.newCustomer.location_Name +" already exist."
        this.smallModal = true;
    }
    else
    {
   Vue.axios.post(this.$url + apiurl,this.newCustomer).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Record added Successfully.."
        this.smallModal = true;
        this.getAllCustomerDetails();
        location.reload();
       }
    })
    }
   },

  UpdateCustomer()
  {
   // alert('http://localhost:44348/api/FGS_FIFO_Customer_Master/'+this.CurrentCustomer.customer_Id);
    Vue.axios.put(this.$url + apiurl +this.CurrentCustomer.customer_Id,this.CurrentCustomer,).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllCustomerDetails();
       }
    })
   },

  deleteCustomer()
    {
       
      var customer_Id = this.CurrentCustomer.customer_Id;
        axios({   method: 'delete',
        url: this.$url + apiurl + customer_Id
    });   
        this.SuccessMsg="Customer Status of "+customer_Id+" Changed to Inactive Succesfully"
        this.getAllCustomerDetails();
    },
      
  SelectCustomer(Customer)
    {
     this.CurrentCustomer=Customer;
    },

  getAllCustomerTypeDetails: function()
   {

   Vue.axios.get(this.$url +'FGS_FIFO_CustomerType_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
       
        this.custitems =response.data.filter(x => x.customer_Type_Status = 1);
       

       }
    });
   },
  getAllBatchTypeDetails: function()
   {
   Vue.axios.get(this.$url +'FGS_FIFO_BatchType_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.batchitems =response.data.filter(x => x.batch_Type_Status == 1)
         
       }
    });
   }, 

  },

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>