<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Location Master</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
        :items-per-page="15"
      pagination
      hover
      striped
      border
      sorter
     >
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectLocation(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectLocation(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectLocation(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add New Location</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Add New Location</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">



<!-- 
<div class="form-group">
<input type="text" name="Location_Id" class="form-control form-control-lg" placeholder="Location Id" v-model="newLocation.Location_Id">
</div> -->

<div class="form-group">
     <label for="location_Name">Location Name</label>
<input type="text" name="location_Name" class="form-control form-control-lg" placeholder="Location Name" v-model="newLocation.location_Name">
</div>

<!-- <div class="form-group">
<input type="text" name="location_Status" class="form-control form-control-lg" placeholder="Location Status" v-model="newLocation.location_Status">
</div> -->

<!-- <div class="form-group">
     <label for="location_Is_Empty">Location Is Empty</label>
<input type="text" name="location_Is_Empty" class="form-control form-control-lg" placeholder="Location Is Empty" v-model="newLocation.location_Is_Empty">
</div> -->

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addLocation();" >Add Location </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Location Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group">
     <label for="location_Id">Location Id</label>
<input type="text" label ="Id" name="location_Id" readonly class="form-control form-control-lg" placeholder= "Location Id" v-model="CurrentLocation.location_Id">
</div>

<div class="form-group">
     <label for="location_Name">Location Name</label>
<input type="text" name="location_Name" readonly class="form-control form-control-lg" placeholder="Location Name" v-model="CurrentLocation.location_Name">
</div>



<div class="form-group">
     <label for="location_Is_Empty">Location Is Empty</label>
<input type="text" name="location_Is_Empty" readonly  class="form-control form-control-lg" placeholder="Location Is Empty" v-model="CurrentLocation.location_Is_Empty">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>


  

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Location</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group">
     <label for="location_Id">Location Id</label>
<input type="text" label ="Id" name="location_Id" readonly class="form-control form-control-lg" placeholder= "Location Id" v-model="CurrentLocation.location_Id">
</div>

<div class="form-group">
     <label for="location_Name">Location Name</label>
<input type="text" name="location_Name" class="form-control form-control-lg" placeholder="Location Name" v-model="CurrentLocation.location_Name">
</div>

<!-- <div class="form-group">
     <label for="location_Status">Location Status</label>
<input type="text" name="location_Status" class="form-control form-control-lg" placeholder="Location Status" v-model="CurrentLocation.location_Status">
</div> -->

<div class="form-group">
     <label for="location_Is_Empty">Location Is Empty</label>
<input type="text" name="location_Is_Empty"   class="form-control form-control-lg" placeholder="Location Is Empty" v-model="CurrentLocation.location_Is_Empty">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateLocation();" > Update Location </button>
</div>
</form>

</div>
</div>
</div>
</div>


<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Location</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Location ? </h4>
<h5> You are deleting {{ this.CurrentLocation.location_Id +' || '+ this.CurrentLocation.location_Name }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteLocation();getAllLocationDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const apiurl =  'FGS_FIFO_Location_Master/'
 const items = [
  { key: 'location_Id',  },
  { key: 'location_Name',  },
 // { key: 'location_Status', _style:'min-width:50px;' },
 
 ]    
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
  data ()
  {
     return {
     items: items.map((item,) => { return {...item,}}),
     fields: [
              { key: 'location_Id' , label: 'Location Id',},
              { key: 'location_Name', label: 'Location Name', },
             // { key: 'location_Status', label: 'Location Status', _classes: 'font-weight-bold' },
              { key: 'show_details',  label: '',  _style: 'width:35%', }          
      ],
  details: [],
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentLocation:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newLocation: {location_Id:0,location_Name:"", location_Status : 1}, }
  },



  mounted()
  {
  
   this.getAllLocationDetails();
  },

  methods:
  {
   getAllLocationDetails: function()
   {
   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.location_Status == 1)
        
       }
    });
   },

   
  addLocation()
  {
    
    if(this.items.find(x => x.location_Name == this.newLocation.location_Name && x.location_Status == this.newLocation.location_Status))
    {
     this.SuccessMsg="Location Name " + this.newLocation.location_Name +" already exist. Please try another Name";
     this.smallModal = true;


    }
    else
    {
   Vue.axios.post(this.$url + apiurl,this.newLocation).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
          this.SuccessMsg ="Record added Successfully.."
       // this.smallModal = true;
        this.getAllLocationDetails();
        location.reload();
       }
    })
    }
   },

  UpdateLocation()
  {
   
    Vue.axios.put(this.$url + apiurl+this.CurrentLocation.location_Id,this.CurrentLocation,).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllLocationDetails();
       }
    })
   },

  deleteLocation()
    {
    
      var location_Id = this.CurrentLocation.location_Id;
        axios({   method: 'delete',
        url: this.$url + apiurl+ location_Id
    });   
        this.SuccessMsg="Location Status of "+ location_Id +" Changed to Inactive Succesfully"
         this.getAllLocationDetails();
    },
      
  SelectLocation(Location)
    {
     this.CurrentLocation=Location;
    },

  },

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>