<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

  
<CCardBody>
    <h5>Tag Reprint </h5>
    <form class="form-inline">
    <h6> Trucker -  222222   </h6>
  <div class="form-group mx-sm-2 mb-2">
    
    <label for="BNB" class="sr-only" id="BNB">Banbury</label>

    
     </div>
   <!-- <CButton size="sm" color="dark" class="ml-1" @click="getAllPPCShedule()"> Search </CButton> -->
  
</form>
    <CDataTable
    
      :items="items"      
      :fields="fields"
      table-filter
     
     
     
      hover
      striped
      border
     
      
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >      
      <CButton size="sm" color="dark" class="ml-1" @click="SelectEntry(item); "> Select</CButton>
      <!-- <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectEntry(item)" getMHEForDual(); >Delete</CButton> -->
    
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>


<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Production Details</h5>
    <button type="button" class="close"  @click="ShowDetailModal=false; ">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl " >

<form  >

  <div>
      <CListGroupItem  color="dark"> 
    <CRow>
      

  <CCol sm="1"  >Date</CCol>
      <CCol sm="2">
        <CInput
          readonly
           v-model   = this.items[0].date 
           
        />
      </CCol>
      <CCol sm="1" >Shift</CCol>
         <CCol sm="1">
        <CInput
          readonly
      
          v-model = this.items[0].shift 
        />
      </CCol>
   <CCol sm="1"> Banbury</CCol>
      <CCol sm="1">
        <CInput
         readonly
     
          v-model = this.searchdata.bnbid
        />
      </CCol>  
           <CCol sm="1" >Trucker</CCol>
        <CCol sm="2">
         <CInput          
         readonly
         placeholder = "222222"
           v-model = CurrentEntry.trucker_Code
           
        />
        </CCol>
    <CRow>
  
    </CRow>
         
    
    </CRow>
       
   
   </CListGroupItem  >
     
           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="2" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.comp_Code
        />
      </CCol> 
      <CCol sm="1" >-</CCol>
        <CCol sm="2" > <select class="form-control form-control-sm" id="plantid"  v-model="CurrentEntry.specail_Trails"   ><option value=" " > </option><option value="SPL" >SPL</option> <option value="NR">NR</option><option value="EXP" >EXP</option> <option value="NT">NT</option></select>

</CCol>

      
    </CRow>
    <CRow>

  
    <CCol sm="2" >  Operator</CCol>
      <CCol sm="2">
        <CInput
        
         v-model = CurrentEntry.operator_Code
        />
      </CCol>
             
    </CRow>
        <CRow>
          
       <CCol sm="2" >SkidNo</CCol>
       <CCol sm="2">
        <CInput
        
           v-model = CurrentEntry.skid_NO
            placeholder = 0
        />
      </CCol>
      <CCol sm="1" >Batch</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = CurrentEntry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = CurrentEntry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
            </CRow>
          <CRow>
        <CCol sm="2" >Location</CCol>
            <CCol sm="2" ><select class="form-control" v-model="CurrentEntry.location" size="sm"  >   
              <option v-for="locitem in locitems" :value="locitem.bnB_Location_Name" :key="locitem.bnB_Location_Name">{{ locitem.bnB_Location_Name }}</option>
           </select> </CCol>
           <CCol sm="1"></CCol>
            <CCol sm="2">
           <CButton size="sm" color="success" @click="SelectEntry(CurrentEntry);ValidateInputs();"> Print Tag</CButton>
      
      </CCol>
      
       <!-- <CCol >
           <CButton size="sm" color="info"  @click="Refresh();"> Refresh </CButton>
      
      </CCol> -->
 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    <CListGroupItem  color="dark">
   <CRow>
       
        <CCol sm="3" >Hold Reason</CCol>
        <CCol sm="6">
         <select class="form-control" v-model="CurrentEntry.hold_reason"  >   
    <option v-for="item in holditems" :value="item.hold_reason" :key="item.hold_reason">{{ item.hold_reason }} </option>
       </select>

      </CCol>
      
         <CCol sm="2">
        <CButton size="sm" color="warning" class="ml-1" @click="SelectEntry(CurrentEntry); ValidateHoldInputs(); ">Hold Print</CButton>
         </CCol>
          
    <!-- <CCol sm="2">
         <CButton size="sm" color="danger" class="ml-1" @click=" ShowDeleteAlert= true;  ShowDetailModal=false;  SelectEntry(CurrentEntry);"> Delete </CButton>
       </CCol> -->
       
          
     
      
     
    </CRow>
     </CListGroupItem> 
  </div>
</form>
</div>
</div>
</div>
</div>

<!-- Alert hold Modal -->
<div id="overlay" v-if="ShowHoldAlert">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Adding to Hold</h5>
    <button type="button" class="close"  @click="ShowHoldAlert=false; ShowDetailModal=true;">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to add to hold ? </h4>
<h5> You are adding {{this.CurrentEntry.skid_NO +' || '+ this.CurrentEntry.batch_No}} to Hold</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowHoldAlert=false; AddToProduction('HOLD'); ShowDetailModal=true; "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowHoldAlert=false ;ShowDetailModal=true;"> No </button>
</div>
</div>
</div>
</div>

<!-- Alert Delete Modal -->
<!-- <div id="overlay" v-if="ShowDeleteAlert">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete</h5>
    <button type="button" class="close"  @click="ShowDeleteAlert=false; ShowDetailModal=true;">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete ? </h4>
<h5> You are deleting schdeule for Tread Code{{this.CurrentEntry.ext_Code +' || Color Code: '+ this.CurrentEntry.size_Code +' ||Quantity : '+ this.CurrentEntry.quantity +' || Priority :'+ this.CurrentEntry.priority  +' || Schedule :'+ this.CurrentEntry.sch_value  }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteAlert=false; AddToProduction(2);   "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteAlert=false ;ShowDetailModal=true;"> No </button>
</div>
</div>
</div>
</div> -->

</div>
</template>
<script>
   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'bNBShiftDate',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
    { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },      
  { key: 'show_details',  label: '',  _style: 'width:15%', },

 ] 
 const apiurlproduction = 'BNB_Production_Entry/'
//  const apigetsw =  'Trace_Storage_Location_Master/GetTrace_Storage_Location_MasterSW/'
 const apigetbanbury =  'BNB_Master'
 const apiurl =  'BNB_Production_Entry/'
 const apiholdurl =  'BNB_Hold_Reason/'
//  const apitag =  'Trace_Tag_Generation/'
//  const apihold =  'Trace_Hold/'
const apilocationurl =  'BNB_Location_Master'
//  const apiholdreason =  'Trace_Hold_Reasons/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
      fields: [
     // { key: ' production_Id' , label: 'Id',},
   { key: 'prod_Barcode' , label: 'Barcode Id',},     
   { key: 'banbury' , label: 'Banbury',}   ,      
   { key: 'shift_Date', label: 'Date' },
   { key: 'shift',  label: 'Shift' },  
   { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
  { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },    
  { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'lab_Remarks', label: 'Lab Remarks' },  
  { key: 'show_details',  label: '',  _style: 'width:5%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},


bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { bnbid:"",shiftid:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
    //alert("")
  //this.BNB_Production_Entry();
   this.getAllBanbury();
      this.getAllLocations();
  this.getAllHoldReasons();
 //this.getAllStorageLocDetails();
  },

  methods:
  {
 


getAllBanbury: function()
   {
  
   Vue.axios.get(this.$url + apigetbanbury)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
  
        this.banburyitems = response.data.filter(x => x.bnB_Status == true);
       console.log(this.banburyitems);
       }
    });
   },
   getAllLocations: function()
   {

    Vue.axios.get(this.$url + apilocationurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.locitems =response.data.filter(x => x.bnB_Location_Status == true && x.compoundCategory == "Master");
  

       }
    });
   },
  getAllHoldReasons: function()
   {
    Vue.axios.get(this.$url + apiholdurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.holditems =response.data.filter(x => x.status == true);
     
       }
    });
   },
 

  

getAllPPCShedule()
{
  

  var bnb= this.searchdata.bnbid;
  var shiftid= this.searchdata.shiftid;

if(bnb=="")
{  
//   wait for user input
}
else if (shiftid =="")
{
//     wait for user input
}
else
{
   
     Vue.axios.get(this.$url + apiurl + bnb +'/'+ shiftid )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.SuccessMsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });
}
},

ValidateHoldInputs()
{


 if(this.CurrentEntry.skid_NO == null || this.CurrentEntry.skid_NO == "" )//|| this.CurrentEntry.skiD_NO == undefined && this.CurrentEntry.skiD_NO.length == 13 )
  {
    this.SuccessMsg = "Please enter skid number";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }

 
    if(this.CurrentEntry.batchI == null || this.CurrentEntry.batchI==0  || this.CurrentEntry.batchII == null || this.CurrentEntry.batchII==0 )
    {
     this.SuccessMsg = "Please enter valid batcH_NO";
     this.smallModal =  true;
     this.ShowDetailModal = true;
    }
       this.CurrentEntry.batch_No = this.CurrentEntry.batchI + "-" + this.CurrentEntry.batchII

   if( this.CurrentEntry.location == null)
  {
    this.SuccessMsg = "select location";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
  if(this.CurrentEntry.operator_Code == null ) 
  {
    this.SuccessMsg = "Enter 6 digit operator Id";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
  if(this.CurrentEntry.operator_Code != null && this.CurrentEntry.operator_Code.length != 6) 
  {
    this.SuccessMsg = "Enter 6 digit operator Id";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }

  if(this.CurrentEntry.hold_reason == null || this.CurrentEntry.hold_reason =="" )
  {
   this.SuccessMsg = "Please select a Hold Reason";
   this.smallModal =  true;
   this.ShowDetailModal = true;
  }

  if(this.CurrentEntry.hold_reason !="" && this.CurrentEntry.skid_NO >= 1 && this.CurrentEntry.batch_No != "-" && this.CurrentEntry.operator_Code.length == 6 &&  this.CurrentEntry.location != null && this.CurrentEntry.batchI !=0 && this.CurrentEntry.batchII !=0 ) 
  {
   
    this.ShowHoldAlert = true;
    
  }
 
},


ValidateInputs()
{
 
  if(this.CurrentEntry.skid_NO == null || this.CurrentEntry.skid_NO == "" )//|| this.CurrentEntry.skiD_NO == undefined && this.CurrentEntry.skiD_NO.length == 13 )
  {
    this.SuccessMsg = "Please enter skid number";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }

  
    if(this.CurrentEntry.batchI == null || this.CurrentEntry.batchI== 0 || this.CurrentEntry.batchII == null || this.CurrentEntry.batchII0 == 0 )
    {
     this.SuccessMsg = "Please enter valid batcH_NO";
     this.smallModal =  true;
     this.ShowDetailModal = true;
    }
       this.CurrentEntry.batch_No = this.CurrentEntry.batchI + "-" + this.CurrentEntry.batchII

   if( this.CurrentEntry.location == null)
  {
    this.SuccessMsg = "select location";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
  if(this.CurrentEntry.operator_Code == null ) 
  {
    this.SuccessMsg = "Enter 6 digit operator Id";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
  if(this.CurrentEntry.operator_Code != null && this.CurrentEntry.operator_Code.length != 6) 
  {
    this.SuccessMsg = "Enter 6 digit operator Id";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }

  if(this.CurrentEntry.skid_NO >= 1 && this.CurrentEntry.batch_No != "-" && this.CurrentEntry.operator_Code.length == 6 &&  this.CurrentEntry.location != null && this.CurrentEntry.batchI != 0 && this.CurrentEntry.batchII != 0 ) 
  {
    
    this.AddToProduction('OK') ;
     this.CurrentEntry.hold_reason ="";
    
  }
},

AddToProduction(status)
{
 
 this.bnbid = this.banburyitems.filter(x => x.bnB_Name == this.searchdata.bnbid); 
 this.CurrentEntry.banbury =  this.searchdata.bnbid;
  this.CurrentEntry.shift = this.items[0].shift ;
  this.CurrentEntry.created_Date = new Date().toLocaleTimeString() ;
  this.CurrentEntry.bNBShiftDate = this.items[0].date ;
  this.CurrentEntry.compound_Code =  this.CurrentEntry.comp_Code;
   
  this.CurrentEntry.plant_Code =  "1004",
  this.CurrentEntry.trucker_Code = this.CurrentEntry.trucker_Code;
 
  this.CurrentEntry.prod_Status =  status;


    if(status == 'HOLD')
    {
      this.CurrentEntry.module_Name = "BNBHOLD"
      this.CurrentEntry.prod_Remarks = this.CurrentEntry.hold_reason;
    
    }
   if (status == 'OK')
    {
      this.CurrentEntry.module_Name= "BNBOK"

    }


  Vue.axios.post(this.$url+ apiurlproduction,this.CurrentEntry).then((response)=>{
     

       if(response.data.error)
       {
          alert('Data Error')
       }
       else if(response.data == "Already Exists")
       {
         
       this.SuccessMsg = "Tag generation already done for skid "
       this.smallModal = true;

       }
       else
       {
  
      this.CurrentEntry.hold_reason ="";
     //  this.SuccessMsg ="Tag Printing in progress..",
      // this.smallModal = true;
       this.ShowDetailsModal = true;
       this.CurrentEntry.hold_reason ="";
      this.getAllLocations();
        
       }
    })
 
 

},

 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },

  Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
  },


 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
