<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ Successmsg }}

</CModal>

  
<CCardBody>
    <h5>Edit Lab Status SO </h5>
    <form class="form-inline">
       
          <h6>Date</h6>
  <div class="form-group mx-xl-3 mb-2">  
<input type="date" name="FromDate" class="form-control form-control-xl" placeholder="From" v-model="searchdata.selecteddate" >
  </div>
   <h6> Shift</h6>
  <div class="form-group mx-xl-2 mb-2">      
         <select class="form-control form-control-xl" id="shiftid"  v-model="searchdata.shiftid"><option value="A">A</option> <option value="B">B</option><option value="C" >C</option></select>
     <!-- <CCol sm="1.5"> Production Time</CCol>
      <CCol  >
          
        <CSelect     v-if='this.searchdata.shiftid == "A"'       
          placeholder="HH" v-model="searchdata.prdntime"
              
          :options="[ 6, 7, 8, 9, 10, 11, 12, 13,14  ]"
          />         
        <CSelect   v-if='this.searchdata.shiftid == "B"'       
          placeholder="HH"
          v-model="searchdata.prdntime"                
          :options="[14, 15, 16, 17, 18, 19, 20,21,22 ]"
        />        
        <CSelect     v-if='this.searchdata.shiftid == "C"'       
          placeholder="HH"
           v-model="searchdata.prdntime"
          :options="[22, 23,24, 1, 2, 3, 4, 5,6]"
        />
        
        </CCol> -->
 
     </div>  
        <h6> Banbury    </h6>
  <div class="form-group mx-sm-2 mb-2">  
    <select class="form-control" v-model="searchdata.bnbid">
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="banburyitem in banburyitems" :value="banburyitem.bnB_Name" :key="banburyitem.bnB_Name">{{banburyitem.bnB_Name}} </option>
  </select>
          <!-- <select class="form-control form-control-sm" id="Dual"  v-model="searchdata.dualid"  @change="getAllPPCShedule();"><option value="1" >Dual1</option> <option value="4">Dual2</option></select> -->
    <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> -->
  </div>  
 <CButton color="dark"  @click="validate()" >Search</CButton> 
  
</form>
    <CDataTable      
      :items="items"      
      :fields="fields"
      table-filter     
      hover
      striped
      border
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >      
      <CButton size="xl" color="dark" class="ml-1" @click="SelectEntry(item);"> Edit </CButton>
      <!-- <CButton size="xl" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectEntry(item)" getMHEForDual(); >Delete</CButton> -->
    
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>


<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Production Details</h5>
    <button type="button" class="close"  @click="ShowDetailModal=false; ">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl " >

<form  >

  <div>
      <CListGroupItem  color="dark"> 
    <CRow>
      

  <CCol sm="1"  >Date</CCol>
      <CCol sm="2">
        <CInput
          readonly
           v-model   = this.items[0].date 
           
        />
      </CCol>
      <CCol sm="1" >Shift</CCol>
         <CCol sm="1">
        <CInput
          readonly
      
          v-model = this.items[0].shift 
        />
      </CCol>
   <CCol sm="1"> Banbury</CCol>
      <CCol sm="1">
        <CInput
         readonly
     
          v-model = this.searchdata.bnbid
        />
      </CCol>  
           <CCol sm="1" >Trucker</CCol>
        <CCol sm="2">
         <CInput          
       
           v-model = CurrentEntry.trucker_Code
           
        />
        </CCol>
    <CRow>
  
    </CRow>
         
    
    </CRow>
       
   
   </CListGroupItem  >
     
           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="2" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.comp_Code
        />
      </CCol> 
      <CCol sm="1" >-</CCol>
        <CCol sm="2" > <select class="form-control form-control-sm" id="plantid" 
         v-model="CurrentEntry.specail_Trails"   >
         <option value=" " > </option>
         <option value="SPL" >SPL</option> 
         <option value="NR">NR</option>
         <option value="EXP" >EXP</option> 
         <option value="NT">NT</option> 
         <option value="NT">O</option>
         </select>

</CCol>

      
    </CRow>
    <CRow>

  
    <CCol sm="2" >  Operator</CCol>
      <CCol sm="2">
        <CInput
        
         v-model = CurrentEntry.operator_Code
        />
      </CCol>
       <CCol sm="1.5"> Production Time</CCol>       
      <CCol sm="1.5" >   
<select class="form-control form-control-sm" id="plantid" 
         v-model="searchdata.prdntime" v-if='this.items[0].shift  == "A"'  >
         <option value=" " > </option>
         <option value="6" >6</option> 
         <option value="7" >7</option>
         <option value="8" >8</option> 
         <option value="9" >9</option> 
         <option value="10">10</option>
         <option value="11">11</option>
         <option value="12">12</option>
         <option value="13">13</option>
         <option value="14">14</option>
         </select> 
         <select class="form-control form-control-sm" id="plantid" 
         v-model="searchdata.prdntime" v-if='this.items[0].shift  == "B"'  >
         <option value=" " > </option>
         <option value="14">14</option> 
         <option value="15">15</option>
         <option value="16">16</option> 
         <option value="17">17</option> 
         <option value="18">18</option>
         <option value="19">19</option>
         <option value="20">20</option>
         <option value="21">21</option>
         <option value="22">22</option>
         </select> 
         <select class="form-control form-control-sm" id="plantid" 
         v-model="searchdata.prdntime" v-if='this.items[0].shift  == "C"'  >
         <option value=" " > </option>
         <option value="22">22</option> 
         <option value="23">23</option>
         <option value="24">24</option> 
         <option value="1" >1</option> 
         <option value="2" >2</option>
         <option value="3" >3</option>
         <option value="4" >4</option>
         <option value="5" >5</option>
         <option value="6" >6</option>
         </select> 
        </CCol>             
    </CRow>
        <CRow>
          
       <CCol sm="2" >SkidNo</CCol>
       <CCol sm="2">
        <CInput
        
           v-model = CurrentEntry.skid_NO
            placeholder = 0
        />
      </CCol>
      <CCol sm="1" >Batch</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = CurrentEntry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = CurrentEntry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
            </CRow>
          <CRow>
        <CCol sm="2" >Location</CCol>
            <CCol sm="2" ><select class="form-control" v-model="CurrentEntry.location" size="sm"  >   
              <option v-for="locitem in locitems" :value="locitem.bnB_Location_Name" :key="locitem.bnB_Location_Name">{{ locitem.bnB_Location_Name }}</option>
           </select> </CCol>
           <CCol sm="1"></CCol>
            <CCol sm="2">
           <CButton size="sm" color="success" @click="SelectEntry(CurrentEntry);ValidateInputs();"> Print Tag</CButton>
      
      </CCol>      
 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    
  </div>
</form>
</div>
</div>
</div>
</div>

</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
 
     // { key: ' production_Id' , label: 'Id',},
              { key: 'comp_Code' , label: 'Compound Code',},     
              { key: 'sch_value' , label: 'Sch_Value',}   ,      
              { key: 'sch_Remarks', label: 'Sch_Remarks' },
              { key: 'rpm',  label: 'RPM' },                       
              { key: 'show_details',  label: '',  _style: 'width:30%', },
 ] 

 const apiurl =  'BNB_Lab/'
const apiurlproduction = 'BNB_Production_Entry/'
 const apieditlab =  'BNB_Lab/EditProductionEntryLabStatus/'
 const apippcshedule =  'BNB_Production_Entry/GetscheduleForTagPrintforSO/'
  const apigetbanbury =  'BNB_Master'
  const apilocationurl =  'BNB_Location_Master'

import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
     
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
     fields: [
     // { key: ' production_Id' , label: 'Id',},
              { key: 'comp_Code' , label: 'Compound Code',},     
              { key: 'sch_value' , label: 'Sch_Value',}   ,      
              { key: 'sch_Remarks', label: 'Sch_Remarks' },
              { key: 'rpm',  label: 'RPM' },  
                     
              { key: 'show_details',  label: '',  _style: 'width:30%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  Successmsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0, 
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},

UpdateModal :{
  bNB_Prod_Id: 0,
  lab_EmpCode: "",
lab_Status: "",
lab_Remarks: "",
prod_Barcode : ""
},

bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { selecteddate:"",shiftid:"",bnbid:"",prdntime:0},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
    
    
  this.getAllBanbury();
  //this.getAllLocations();

     
  },

  methods:
  {
 getAllBanbury: function()
   {

   Vue.axios.get(this.$url + apigetbanbury)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
          
  
        this.banburyitems = response.data.filter(x => x.bnB_Status == true);
       console.log(this.banburyitems);
       }
    });
   },
   getAllLocations: function()
   {

    Vue.axios.get(this.$url + apilocationurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.locitems =response.data.filter(x => x.bnB_Location_Status == true && x.compoundCategory == "Master");
  

       }
    });
   },
   validate(){
     if(this.searchdata.selecteddate == "" || this.searchdata.shiftid =="" || this.searchdata.bnbid == ""){
         if(this.searchdata.selecteddate == "")
         {
           this.Successmsg = "Please select Shift Date"
            this.smallModal = true;
         }
         else if(this.searchdata.shiftid =="" )
         {
           this.Successmsg = "Please select Shift"
           this.smallModal = true;
         }
         else if(this.searchdata.bnbid == "")
         {
            this.Successmsg = "Please select Banbury"
            this.smallModal = true;
         }    
     }
     else
     {
        this.getAllLabDetails()
     }
     
   },
getAllLabDetails()
{
  
    this.shift_Date= this.searchdata.selecteddate;
  this.shift= this.searchdata.shiftid;
   

     Vue.axios.get(this.$url + apippcshedule +this.shift_Date +'/'+ this.shift +'/'+this.searchdata.bnbid)
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.Successmsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });


 
},
ValidateInputs()
{
 
  if(this.CurrentEntry.skid_NO == null || this.CurrentEntry.skid_NO == "" )//|| this.CurrentEntry.skiD_NO == undefined && this.CurrentEntry.skiD_NO.length == 13 )
  {
   
    this.Successmsg = "Please enter skid number"
      this.smallModal = true;
     
    
  }

  
    if(this.CurrentEntry.batchI == null || this.CurrentEntry.batchI== 0 || this.CurrentEntry.batchII == null || this.CurrentEntry.batchII0 == 0 )
    {
     this.Successmsg = "Please enter valid batcH_NO";
     this.smallModal =  true;
     
    }
       this.CurrentEntry.batch_No = this.CurrentEntry.batchI + "-" + this.CurrentEntry.batchII

   if( this.CurrentEntry.location == null)
  {
    this.Successmsg = "select location";
    this.smallModal =  true;
    
  }
   if( this.searchdata.prdntime == null)
  {
    this.Successmsg = "select Production time";
    this.smallModal =  true;
    
  }
  if(this.CurrentEntry.operator_Code == null ) 
  {
    this.Successmsg = "Enter 4 digit operator Id";
    this.smallModal =  true;
    
  }
  if(this.CurrentEntry.operator_Code != null && this.CurrentEntry.operator_Code.length >= 4) 
  {
    this.Successmsg = "Enter 4 digit operator Id";
    this.smallModal =  true;

  }

  if(this.CurrentEntry.skid_NO >= 1 && this.CurrentEntry.batch_No != "-" && this.CurrentEntry.operator_Code.length == 6 &&  this.CurrentEntry.location != null && this.CurrentEntry.batchI != 0 && this.CurrentEntry.batchII != 0 ) 
  {
    
    this.AddToProduction('OK') ;
     this.CurrentEntry.hold_reason ="";
    
  }
},
AddToProduction(status)
{
 
 this.bnbid = this.banburyitems.filter(x => x.bnB_Name == this.searchdata.bnbid); 
 this.CurrentEntry.banbury =  this.searchdata.bnbid;
  this.CurrentEntry.shift = this.items[0].shift ;
  this.CurrentEntry.created_Date = new Date().toLocaleTimeString() ;

  
  this.CurrentEntry.bNBShiftDate = this.items[0].date;
const soprintTime =this.CurrentEntry.bNBShiftDate+" "+ this.searchdata.prdntime+":00";
 alert(soprintTime);
this.CurrentEntry.bnB_ProdTime = soprintTime ;

  this.CurrentEntry.compound_Code =  this.CurrentEntry.comp_Code;
  
  this.CurrentEntry.plant_Code =  "1001",
  this.CurrentEntry.trucker_Code = this.CurrentEntry.trucker_Code;
 
  this.CurrentEntry.prod_Status =  status;


    if(status == 'HOLD')
    {
      this.CurrentEntry.module_Name = "BNBHOLD"
      this.CurrentEntry.prod_Remarks = this.CurrentEntry.hold_reason;
    
    }
   if (status == 'OK')
    {
      this.CurrentEntry.module_Name= "BNBOK"

    }


  Vue.axios.post(this.$url+ apiurlproduction,this.CurrentEntry).then((response)=>{
     

       if(response.data.error)
       {
          alert('Data Error')
       }
       else if(response.data == "Already Exists")
       {
         
       this.Successmsg = "Tag generation already done for skid "
       this.smallModal = true;

       }
      else if(response.data == "Please select another location")
       {
         
       this.Successmsg = "Please select another location"
       this.smallModal = true;

       }
       else
       {
  
      this.CurrentEntry.hold_reason ="";
      this.Successmsg ="Tag Printing in progress..",
      this.smallModal = true;
       this.ShowDetailsModal = true;
       this.CurrentEntry.hold_reason ="";
      this.getAllLocations();
        
       }
    })
 
 

},






LabStatusUpdate(status)
{

 if(this.CurrentEntry.lab_Status == "OK" && status == "OK")
 
 {
      this.Successmsg = "Current Lab Status is 'OK'"
      this.smallModal = true;

 }
 else
 {
 
   this.UpdateModal.bNB_Prod_Id= this.CurrentEntry.bnB_Prod_id,
   this.UpdateModal.lab_EmpCode=  this.CurrentEntry.lab_EmpCode,
  this.UpdateModal.lab_Status= status;
  this.UpdateModal.prod_Barcode = this.CurrentEntry.prod_Barcode;
  this.UpdateModal.lab_Remarks = this.CurrentEntry.lab_Remarks;
  // if(status = 'Hold')
  


       Vue.axios.put(this.$url + apieditlab ,this.UpdateModal).then((response)=>{
         console.log(this.UpdateModal)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
        
         location.reload();
       }
    })
  }


},


 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },

  Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
  },


 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
