<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ Successmsg }}

</CModal>

  
<CCardBody>
    <h5>Trucker Reprinting - This option is only for mistake proofing Tag printed by Trucker</h5>
    <form class="form-inline">
        <div>   </div>
          <h6>Date</h6>
  <div class="form-group mx-xl-3 mb-2">  
<input type="text" name="FromDate" class="form-control form-control-xl"  disabled v-model="searchdata.selecteddate" >
  </div>
   <h6>Shift</h6>
  <div class="form-group mx-xl-3 mb-2">  
<input type="text" name="Shift" class="form-control form-control-xl"  disabled v-model="this.searchdata.shiftid" >
  </div>  
  
</form>
    <CDataTable      
      :items="items"      
      :fields="fields"
      table-filter     
      hover
      striped
      border
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >      
      <CButton size="xl" color="dark" class="ml-1" @click="SelectEntry(item);"> Edit </CButton>
      <!-- <CButton size="xl" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectEntry(item)" getMHEForDual(); >Delete</CButton> -->
    
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>


<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">{{"Edit Status - "+this.CurrentEntry.prod_Barcode + " - " + this.CurrentEntry.compound_Code +" "+" - This option is only for mistake proofing Tag printed by Trucker"}} </h5>
    <button type="button" class="close"  @click="ShowDetailModal=false; ">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl " >

<form  >

  <div>
           
 <CListGroupItem  color="secondary">
    <CRow>
   
  <CCol xl="2"  >Date</CCol>
      <CCol xl="2">
        <CInput
          disabled
           v-model   = CurrentEntry.shift_Date           
        />
      </CCol>
      <CCol xl="2" >Shift</CCol>
         <CCol xl="2">
        <CInput
          disabled      
          v-model = CurrentEntry.shift 
        />
      </CCol>
      <!-- <CCol xl="1">Current Banbury </CCol>
      <CCol xl="1">
        <CInput
          disabled

          v-model = CurrentEntry.banbury
        />
      </CCol>  -->
    <CCol sm="2">{{"Banbury    "+"  "+" - "+ CurrentEntry.banbury}}</CCol>
      <CCol sm="1">
         
        <select   class="form-control form-control-sm" v-model="searchdata.bnbid"  > 
    <!-- <option value= "Select Material Type" selected >Select Banbury</option> -->
    <option v-for="banburyitem in banburyitems" :value="banburyitem.bnB_Name" :key="banburyitem.bnB_Name">{{banburyitem.bnB_Name}} </option>
  </select>
      </CCol>      
           
    </CRow>
 <CRow>          
        <CCol sm="2" > {{"Skid No"+"  "+"-"+" "+ CurrentEntry.skid_NO}}</CCol>
       <CCol xl="2">
        <CInput
         
           v-model = Current_reprintentry.skid_NO
      />
      </CCol>
      
           <CCol sm="2" > {{"Batch"+"  "+"-"+ CurrentEntry.batch_No}}</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = Current_reprintentry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = Current_reprintentry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
         
            </CRow>
    
 <CRow>          
        <CCol sm="2" > {{"Operator"+"  "+"-"+" "+ CurrentEntry.operator_Code}}</CCol>
       <CCol xl="2">
        <CInput
         
           v-model = Current_reprintentry.skid_NO
      />
      </CCol>
      
           <CCol sm="2" > {{"Trucker"+"  "+"-"+ CurrentEntry.trucker_Code}}</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = Current_reprintentry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = Current_reprintentry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
         
            </CRow>

        <CRow>          
        <CCol sm="2" > {{"Skid No"+"  "+"-"+" "+ CurrentEntry.skid_NO}}</CCol>
       <CCol xl="2">
        <CInput
         
           v-model = Current_reprintentry.skid_NO
      />
      </CCol>
      
           <CCol sm="2" > {{"Batch"+"  "+"-"+ CurrentEntry.batch_No}}</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = Current_reprintentry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = Current_reprintentry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
         
            </CRow>
          
        <CRow>  

            <CCol sm="2" >{{"Location"+" "+"-"+" "+CurrentEntry.location}}</CCol>
            <CCol sm="2" ><select class="form-control" v-model="Current_reprintentry.location" size="sm"  >   
              <option v-for="locitem in locitems" :value="locitem.bnB_Location_Name" :key="locitem.bnB_Location_Name">{{ locitem.bnB_Location_Name }}</option>
           </select> </CCol>      
           
       <CCol xl="2" >{{"Prod Status"+" "+"-"+" "+CurrentEntry.prod_Status }}</CCol>
       <CCol xl="1.5">
        <CCol sm="12" > <select class="form-control form-control-sm" id="prodstatus" 
         v-model="Current_reprintentry.prodstatus"   >
         <option value=" " > </option>
         <option value="HOLD" >HOLD</option> 
         <option value="OK">OK</option>       
         </select>
    </CCol>

      </CCol>
   

          <CCol xl="1"></CCol>
            </CRow>
    <CRow> 
      
      </CRow>
             </CListGroupItem  >        
        <CRow>      
  </CRow>
    <CListGroupItem  color="dark">
   <CRow>       
        <CCol xl="4" >{{"Hold Reason By Trucker"+" "+" - "+" "+CurrentEntry.prod_Remarks }}</CCol>
        <CCol sm="6">
         <select v-if='this.Current_reprintentry.prodstatus == "HOLD"' class="form-control" v-model="CurrentEntry.hold_reason"  >   
    <option v-for="item in holditems" :value="item.hold_reason" :key="item.hold_reason">{{ item.hold_reason }} </option>
       </select>

      </CCol>    
         <CCol xl="2"> 
             <CButton size="xl" color="success" class="ml-1" @click="validate(item)" >Print Tag</CButton>
             <!-- @click="LabStatusUpdate(item)" -->
              </CCol>     
    </CRow>
     </CListGroupItem> 
  
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'shift_Date',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
    { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },  
  { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'show_details',  label: '',  _style: 'width:10%', },

 ] 


 const apieditlab =  'BNB_Lab/EditProductionEntryLabStatus/'
 const apiTagRePrintfortrucker =  'BNB_Production_Entry/TagRePrintfortrucker/'
 const apilocationurl =  'BNB_Location_Master'
 const apigetbanbury =  'BNB_Master'
 const apiholdurl =  'BNB_Hold_Reason/'
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
     
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
    fields: [
     // { key: ' production_Id' , label: 'Id',},
   { key: 'prod_Barcode' , label: 'Barcode Id',},     
   { key: 'banbury' , label: 'Banbury',}   ,      
   { key: 'shift_Date', label: 'Date' },
   { key: 'shift',  label: 'Shift' },  
   { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  { key: 'trucker_Code',  label: 'Trucker' },  
  { key: 'prod_Status', label: 'Prod.Status' },
   { key: 'prod_Remarks', label: 'Prod.Remarks' },    
  { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'lab_Remarks', label: 'Lab Remarks' },  
  { key: 'show_details',  label: '',  _style: 'width:5%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  Successmsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},

UpdateModal :{
  bNB_Prod_Id: 0,
  lab_EmpCode: "",
lab_Status: "",
lab_Remarks: "",
prod_Barcode : ""
},

bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { selecteddate:new Date().toLocaleDateString(),shiftid:"",prdntime:"",bnbid:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Current_reprintentry:{},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
     this.Fncurrentshift();
    this.getAllLabDetails();
     this.getAllBanbury();
     this.getAllLocations();
      this.getAllHoldReasons();
    
  },

  methods:
  {
getAllBanbury: function()
   {
  
   Vue.axios.get(this.$url + apigetbanbury)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
  
        this.banburyitems = response.data.filter(x => x.bnB_Status == true);
       console.log(this.banburyitems);
       }
    });
   },
   getAllHoldReasons: function()
   {
    Vue.axios.get(this.$url + apiholdurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.holditems =response.data.filter(x => x.status == true);
     
       }
    });
   },

    Fncurrentshift: function()
{
          
           var Current_Shift
           
           var curTime = new Date().toTimeString('HHmmss')         
           var ShiftA = "06:01:00"           
           var ShiftB = "14:01:00"
           var ShiftC = "22:01:00"
           var EndDayTime ="23:59:55"
           var NextDayStartTime = "12:00:00"
       
            if (curTime >= ShiftA && curTime < ShiftB)
            { Current_Shift = "A";      this.Current_ShiftEntry.CurrentShiftId = 1;}
            else if (curTime >= ShiftB && curTime < ShiftC)
            { Current_Shift = "B";      this.Current_ShiftEntry.CurrentShiftId  = 2;}
            else if (curTime >= ShiftC && curTime <= EndDayTime)
            { Current_Shift = "C";      this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else if (curTime >= NextDayStartTime && curTime < ShiftA)
            { Current_Shift = "C";  this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else
            { Current_Shift = "G"; this.Current_ShiftEntry.CurrentShiftId  = 4; }
              
            this.searchdata.shiftid = Current_Shift;
             
},
 getAllLocations: function()
   {

    Vue.axios.get(this.$url + apilocationurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.locitems =response.data.filter(x => x.bnB_Location_Status == true && x.compoundCategory == "Master");
  

       }
    });
   },
 
 

getAllLabDetails()
{
  
if( this.searchdata.selecteddate == "" || this.searchdata.shiftid =="" )
{
 this.Successmsg = "Please select Shift"
      this.smallModal = true;
}
else
{
    this.shift_Date= this.Current_ShiftEntry.Current_Date;
  this.shift= this.searchdata.shiftid;
   

     Vue.axios.get(this.$url + apiTagRePrintfortrucker +this.shift_Date +'/'+ this.shift )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.Successmsg = "No  data available "
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });
}

 
},

validate(){
  alert(this.searchdata.bnbid+ this.CurrentEntry.skid_NO)
if(this.searchdata.bnbid =="" || this.CurrentEntry.skid_NO ==""){
  //  if(){

  //  }


this.Successmsg = "Print Tag"
      this.smallModal = true;
}
else
{
   this.LabStatusUpdate();
}



      
},
LabStatusUpdate(){

this.Successmsg = "Print Tag under construction"
      this.smallModal = true;
},

LabStatusUpdate1(status)
{

 if(this.CurrentEntry.lab_Status == "OK" && status == "OK")
 
 {
      this.Successmsg = "Current Lab Status is 'OK'"
      this.smallModal = true;

 }
 else
 {
 
   this.UpdateModal.bNB_Prod_Id= this.CurrentEntry.bnB_Prod_id,
   this.UpdateModal.lab_EmpCode= '236578'// this.CurrentEntry.lab_EmpCode,
  this.UpdateModal.lab_Status= status;
  this.UpdateModal.prod_Barcode = this.CurrentEntry.prod_Barcode;
  this.UpdateModal.lab_Remarks = this.CurrentEntry.lab_Remarks;
  // if(status = 'Hold')
  


       Vue.axios.put(this.$url + apieditlab ,this.UpdateModal).then((response)=>{
         console.log(this.UpdateModal)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
        
         location.reload();
       }
    })
  }


},


 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },

  Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
  },


 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
