<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

  
<CCardBody>
    <h5>Banbury Lab Approval </h5>
    <form class="form-inline">
    <h6> Lab Emp Code : </h6> 
  <div class="form-group mx-sm-2 mb-2">
    <CInput  size="sm"   
           v-model = lab_EmpCode     
        />
           <!-- <CButton size="sm" color="dark" class="ml-1" @click="GetProductionEntryForLabApproval()"> Search </CButton>         -->
  </div>  
 
   
</form>
    <CDataTable
    
      :items="items"      
      :fields="fields"
  
      hover
      striped
      border
     
      
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >    
          
            <CButton size="sm" color="success" class="ml-1"  @click="SelectBatch(item,'OK')">     OK     </CButton>
           <CButton size="sm" color="danger" class="ml-1" @click="ShowUpdateNOTOKModal=true; SelectBatch(item,'NOTOK')" >NOT OK</CButton>
           <CButton size="sm" color="dark" class="ml-1" @click="ShowDeleteModal=true; SelectBatch(item,'DETAIL')" >Details</CButton>
      
        </template>

    </CDataTable>
    
  </CCardBody>

 </div>



<!-- Show Update OkModal -->
<div id="overlay" v-if="ShowUpdateOKModal">
<div class="modal-dialog modal-xl">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Add Lab Remarks - Hold Skid By Trucker</h5>
    <button type="button" class="close"  @click="ShowUpdateOKModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl">

<form >

  <div>

           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="3" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.compound_Code
        />
      </CCol> 
    <CCol sm="3" > Barcode ID</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.prod_Barcode
        />
      </CCol> 


      <CCol sm="3" >Date</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift_Date
           
        />
        </CCol>
          <CCol sm="3" >Shift</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift
           
        />
        </CCol>
       
    </CRow>
    <CRow>
 <CCol sm="3" >Skid No</CCol>
       <CCol sm="2">
        <CInput
         readonly
           v-model = this.CurrentEntry.skid_NO
            
        />
      </CCol>
    <CCol sm="3" >  Batch</CCol>
      <CCol sm="2">
        <CInput
         readonly
         v-model = this.CurrentEntry.batch_No
        />
      </CCol>
             
    </CRow>
        <CRow>
          
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Location</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.location
           
        />
</CCol>
<CCol sm="3" >Prod.Remarks</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.prod_Remarks
           
        />
</CCol>

 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    <CListGroupItem  color="dark">
   <CRow>
       
        <CCol sm="3" >Remarks By Lab</CCol>
        <CCol sm="6">
   
             <CInput size="sm" 
          
           v-model = UpdateModal.lab_Remarks
           
        />

      </CCol>
      
         <CCol sm="2">
        <CButton size="sm" color="warning" class="ml-1" @click="SelectBatch(CurrentEntry); LabStatusUpdate('OK')"> Add Remarks</CButton>
         </CCol>
          
    <!-- <CCol sm="2">
         <CButton size="sm" color="danger" class="ml-1" @click=" ShowDeleteAlert= true;  ShowDetailModal=false;  SelectEntry(CurrentEntry);"> Delete </CButton>
       </CCol> -->
       
          
     
      
     
    </CRow>
     </CListGroupItem> 
  </div>
</form>
</div>
</div>
</div>
</div>

<!-- Show Update NOTOkModal -->
<div id="overlay" v-if="ShowUpdateNOTOKModal">
<div class="modal-dialog modal-xl">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">  Skid-Not Ok </h5>
    <button type="button" class="close"  @click="ShowUpdateNOTOKModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl">

<form >

   <div>

           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="3" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.compound_Code
        />
      </CCol> 
    <CCol sm="3" > Barcode ID</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.prod_Barcode
        />
      </CCol> 


      <CCol sm="3" >Date</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.bNBShiftDate
           
        />
        </CCol>
          <CCol sm="3" >Shift</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift
           
        />
        </CCol>
       
    </CRow>
    <CRow>
 <CCol sm="3" >Skid No</CCol>
       <CCol sm="2">
        <CInput
         readonly
           v-model = this.CurrentEntry.skid_NO
            
        />
      </CCol>
    <CCol sm="3" >  Batch</CCol>
      <CCol sm="2">
        <CInput
         readonly
         v-model = this.CurrentEntry.batch_No
        />
      </CCol>
             
    </CRow>
        <CRow>
          
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Production Status</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.prod_Status
           
        />
</CCol>
<CCol sm="3" >Prod.Remarks</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.prod_Remarks
           
        />
</CCol>

 </CRow>
 <CRow>
          
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Location</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.location
           
        />
</CCol>
</CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    <CListGroupItem  color="dark">
   <CRow>
       
        <CCol sm="3" >NOT Ok Remarks By Lab</CCol>
        <CCol sm="6">
   
             <CInput size="sm" 
          
           v-model = UpdateModal.lab_Remarks
           
        />

      </CCol>
      
         <CCol sm="2">
        <CButton size="sm" color="warning" class="ml-1" @click="SelectBatch(CurrentEntry); LabStatusUpdate('NOTOK')">NOT OK</CButton>
         </CCol>
     
     
      
     
    </CRow>
     </CListGroupItem> 
  </div>
</form>
</div>
</div>
</div>
</div>




<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Production Details</h5>
    <button type="button" class="close"  @click="ShowDetailModal=false; ">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl">

<form >

  <div>
   
        
           
<CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="3" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.compound_Code
        />
      </CCol> 
    <CCol sm="3" > Barcode ID</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.prod_Barcode
        />
      </CCol> 


      <CCol sm="3" >Date</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.bNBShiftDate
           
        />
        </CCol>
          <CCol sm="3" >Shift</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift
           
        />
        </CCol>    <CCol sm="3" >Banbury</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.banbury
           
        />
        </CCol>
       
    </CRow>
    <CRow>
 <CCol sm="3" >Skid No</CCol>
       <CCol sm="2">
        <CInput
         readonly
           v-model = this.CurrentEntry.skid_NO
            
        />
      </CCol>
    <CCol sm="3" >  Batch</CCol>
      <CCol sm="2">
        <CInput
         readonly
         v-model = this.CurrentEntry.batch_No
        />
      </CCol>
             
    </CRow>
        <CRow>
          
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Location</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.location
           
        />
</CCol>

       
   <CCol sm="3"> Trucker Code</CCol>
      <CCol sm="2">
        <CInput
         readonly
     
          v-model = this.CurrentEntry.trucker_Code
        />
      </CCol>  
    <CRow>
  
  
         
    
    </CRow>
       
 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>


  </div>
</form>
</div>
</div>
</div>
</div>

<!-- Alert hold Modal -->
<div id="overlay" v-if="ShowHoldAlert">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Adding to Hold</h5>
    <button type="button" class="close"  @click="ShowHoldAlert=false; ShowDetailModal=true;">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to add the skid to hold ? </h4>
<h5> You are adding {{this.CurrentEntry.comp_Code + ' || '+ this.CurrentEntry.skid_NO +' || '+ this.CurrentEntry.batch_No}} to Hold</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowHoldAlert=false; AddToProduction('NOTOK'); ShowDetailModal=true; "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowHoldAlert=false ;ShowDetailModal=true;"> No </button>
</div>
</div>
</div>
</div>


</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'bNBShiftDate',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
    { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },      
  { key: 'show_details',  label: '',  _style: 'width:15%', },

 ] 
 const apiurlproduction = 'BNB_Production_Entry/GetProductionEntryForLabApproval/'
 const apiurl =  'BNB_Production_Entry/UpdateProductionEntryLabStatus/'
 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
    fields: [
     // { key: ' production_Id' , label: 'Id',},
              { key: 'prod_Barcode' , label: 'Barcode Id',},     
              { key: 'banbury' , label: 'Banbury',}   ,      
              { key: 'bNBShiftDate', label: 'Date' },
              { key: 'shift',  label: 'Shift' },  
                  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
  { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },    
              { key: 'show_details',  label: '',  _style: 'width:15%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",
ShowUpdateNOTOKModal:"",
ShowUpdateOKModal:"",
  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : "",
  lab_Remarks : ""
},
UpdateModal :{
  bnB_Prod_Id: 0,
  lab_EmpCode: "",
lab_Status: "",
lab_Remarks: "",
prod_Barcode : ""
},
lab_EmpCode :"",
bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { bnbid:"",shiftid:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
    //alert("")
  this.GetProductionEntryForLabApproval();
 
  },

  methods:
  {
   


   

GetProductionEntryForLabApproval()
{
  

  
   
     Vue.axios.get(this.$url + apiurlproduction  )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.SuccessMsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });

},

LabStatusUpdate(status)
{
  
 if( this.lab_EmpCode==null || this.lab_EmpCode=="" )
 {

 
 this.SuccessMsg = "Please enter a Lab employee Code";
     this.smallModal = true;

  
   }
   else{
      this.UpdateModal.bnB_Prod_Id= this.CurrentEntry.bnB_Prod_Id,
   this.UpdateModal.lab_EmpCode=  this.lab_EmpCode,
  this.UpdateModal.lab_Status= status;
  this.UpdateModal.prod_Barcode = this.CurrentEntry.prod_Barcode
    Vue.axios.put(this.$url + apiurl ,this.UpdateModal).then((response)=>{
         console.log(this.UpdateModal)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.ShowUpdateNOTOKModal=false; 
         this.ShowUpdateOKModal=false;
         this.SuccessMsg ="Records Updated Successfully.."
         this.GetProductionEntryForLabApproval();
       }
    })
     
   }


},




 SelectBatch(Entry, Option)
  {

     this.CurrentEntry = Entry;

     if(Option =='OK')
     {
       
       if(this.CurrentEntry.prod_Status == 'HOLD')
        
        {
         
          this.ShowUpdateOKModal=true;
        }
        else if (this.CurrentEntry.prod_Status == 'OK')
        {
          
           this.LabStatusUpdate(this.CurrentEntry.prod_Status)
        }
       
     }
     else if(Option =='NOTOK')
     {
        this.ShowUpdateNOTOKModal=true; 

     }
     else if(Option =='DETAIL')
     {
       this.ShowDetailModal = true;
     }

     
  },



 

 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
