<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ Successmsg }}

</CModal>

  
<CCardBody>
    <h5>Edit Lab Status </h5>
    <form class="form-inline"><h5>Lab EmpCode</h5>
      <div class="form-group mx-sm-2 mb-2">
    <CInput  size="sm"   
           v-model = CurrentEntry.lab_EmpCode     
        />
      <CButton size="sm" color="dark" class="ml-1" @click="getAllLabApproved()"> Search </CButton>      
  </div>  
  
     <!--      <h6>Date</h6>
  <div class="form-group mx-xl-3 mb-2">
  
<input type="date" name="FromDate" class="form-control form-control-xl" placeholder="From" v-model="searchdata.fromdate"  @change="getAllLabApproved()">
  </div>
    <h6> Banbury    </h6>
  <div class="form-group mx-xl-2 mb-2">
    
    <label for="BNB" class="sr-only" id="BNB">Banbury</label>

    
    <select class="form-control" v-model="searchdata.bnbid" @change="getAllLabApproved();">
   <option value= "Select Material Type" selected disabled>Select Material Type</option> 
    <option v-for="banburyitem in banburyitems" :value="banburyitem.bnB_Name" :key="banburyitem.bnB_Name">{{banburyitem.bnB_Name}} </option>
  </select>
          <select class="form-control form-control-xl" id="Dual"  v-model="searchdata.dualid"  @change="getAllLabApproved();"><option value="1" >Dual1</option> <option value="4">Dual2</option></select> -->
    <!-- <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> 
  </div>  
   <h6> Shift</h6>
  <div class="form-group mx-xl-2 mb-2">
 
          <select class="form-control form-control-xl" id="shiftid"  v-model="searchdata.shiftid"  @change="getAllLabApproved()"><option value="A" >A</option> <option value="B">B</option><option value="A" >C</option></select>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> 
  </div>  

      <h6> Compound</h6>
  <div class="form-group mx-xl-2 mb-2">
             <select class="form-control form-control-xl" id="compound"  v-model="searchdata.shiftid"  @change="getAllLabApproved()"><option value="CurrentShift" >CurrentShift</option> <option value="PreviousShift">PreviousShift</option></select>
    <input type="text" readonly class="form-control-plaintext" id="staticEmail2" value="email@example.com"> 
  </div>  
 <div > 

   </div> -->
  
  
   <!-- <CButton size="xl" color="dark" class="ml-1" @click="getAllLabApproved()"> Search </CButton> -->
  
</form>
    <CDataTable
    
      :items="items"      
      :fields="fields"
      hover
      striped
      border
     
      
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >      
      <CButton size="xl" color="dark" class="ml-1" @click="SelectEntry(item); ">  Edit </CButton>
      <!-- <CButton size="xl" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectEntry(item)" getMHEForDual(); >Delete</CButton> -->
    
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>


<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Edit Status - {{this.CurrentEntry.prod_Barcode + "-" + this.CurrentEntry.compound_Code }}</h5>
    <button type="button" class="close"  @click="ShowDetailModal=false; ">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl " >

<form  >

  <div>
           
 <CListGroupItem  color="secondary">
    <CRow>
   
  <CCol xl="2"  >Date</CCol>
      <CCol xl="2">
        <CInput
          readonly
           v-model   = CurrentEntry.shift_Date 
           
        />
      </CCol>
      <CCol xl="1" >Shift</CCol>
         <CCol xl="2">
        <CInput
          readonly
      
          v-model = CurrentEntry.shift 
        />
      </CCol>
   <CCol xl="1"> Banbury</CCol>
      <CCol xl="1">
        <CInput
         readonly
     
          v-model = CurrentEntry.banbury
        />
      </CCol>  
     
    <CRow>
  
    </CRow>
                    
    </CRow>
        <CRow>
          
       <CCol xl="2" >Skid No</CCol>
       <CCol xl="2">
        <CInput
         readonly
           v-model = CurrentEntry.skid_NO
           
        />
      </CCol>
      <CCol xl="1" >Batch</CCol>
      <CCol xl="2">
       
        <CInput size="xl" 
             v-model = CurrentEntry.batch_No
           readonly
        />

        </CCol>
        <CCol xl="1" >Location</CCol>
      <CCol >
        <CRow>
        <CCol xl="4">
        <CInput size="xl" 
             v-model = CurrentEntry.location
           readonly
        /></CCol>
         </CRow>
              
        </CCol>
        
          <CCol xl="1"></CCol>
            </CRow>
        <CRow>
          
       <CCol xl="2" >Prod.Status</CCol>
       <CCol xl="2">
        <CInput
         readonly
           v-model = CurrentEntry.prod_Status
           
        />
      </CCol>
      <CCol xl="1" >Lab Status</CCol>
      <CCol xl="2">
       
        <CInput size="xl" 
             v-model = CurrentEntry.lab_Status
           readonly
        />

        </CCol>
      
           <CCol xl="1" >Lab Remarks</CCol>
      <CCol xl="4">
       
        <CInput size="xl" 
             v-model = CurrentEntry.lab_Remarks
           readonly
        />

        </CCol>
          <CCol xl="1"></CCol>
            </CRow>
          <CRow>
 
      </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>
    <CListGroupItem  color="dark">
   <CRow>
       
        <CCol xl="2" >Lab Remarks</CCol>
        <CCol xl="6">
   
             <CInput size="xl" 
          
           v-model = CurrentEntry.lab_Remarks
            
        />

      </CCol>
      
         <CCol xl="2"> 
             <CButton size="xl" color="success" class="ml-1" @click="LabStatusUpdate('OK')">Update to 'Ok'</CButton> </CCol>
       <CCol xl="2">  <CButton size="xl" color="danger" class="ml-1" @click="LabStatusUpdate('NOTOK')">Update to 'NotOk'</CButton>
         </CCol>

     
    </CRow>
     </CListGroupItem> 
  
  </div>
</form>
</div>
</div>
</div>
</div>


</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'shift_Date',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
    { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },  
  { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'show_details',  label: '',  _style: 'width:10%', },

 ] 

 const apiurl =  'BNB_Lab/'
 const apieditlab =  'BNB_Lab/EditProductionEntryLabStatus/'

import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
    fields: [
     // { key: ' production_Id' , label: 'Id',},
   { key: 'prod_Barcode' , label: 'Barcode Id',},     
   { key: 'banbury' , label: 'Banbury',}   ,      
   { key: 'shift_Date', label: 'Date' },
   { key: 'shift',  label: 'Shift' },  
   { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
  { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },    
  { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'lab_Remarks', label: 'Lab Remarks' },  
  { key: 'show_details',  label: '',  _style: 'width:5%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  Successmsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},

UpdateModal :{
  bNB_Prod_Id: 0,
  lab_EmpCode: "",
lab_Status: "",
lab_Remarks: "",
prod_Barcode : ""
},

bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { bnbid:"",shiftid:"",fromdate :""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
    
  // this.getAllLabApproved();
     
  },

  methods:
  {
 
 

getAllLabApproved()
{
  

 // var bnb= this.searchdata.bnbid;
  //var shiftid= this.searchdata.shiftid;
  //var fromdate= this.searchdata.fromdate;
  var labemp= this.CurrentEntry.lab_EmpCode;
  
if(labemp=="")
{  
this.Successmsg = "Please enter a Lab emp code";
    this.smallModal =  true;
   
}

else
{

     Vue.axios.get(this.$url + apiurl + labemp )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.Successmsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });
}
},

ChkLabempcode()
{
  if(this.CurrentEntry.lab_EmpCode == "" && this.CurrentEntry.lab_EmpCode == null)
 
 {
      this.Successmsg = "Please enter Lab employess code"
      this.smallModal = true;

 }
},

LabStatusUpdate(status)
{

 if(this.CurrentEntry.lab_Status == "OK" && status == "OK")
 
 {
      this.Successmsg = "Current Lab Status is 'OK'"
      this.smallModal = true;

 }
 else
 {
 
   this.UpdateModal.bNB_Prod_Id= this.CurrentEntry.bnB_Prod_id,
   this.UpdateModal.lab_EmpCode=  this.CurrentEntry.lab_EmpCode,
  this.UpdateModal.lab_Status= status;
  this.UpdateModal.prod_Barcode = this.CurrentEntry.prod_Barcode;
  this.UpdateModal.lab_Remarks = this.CurrentEntry.lab_Remarks;
  // if(status = 'Hold')
  


       Vue.axios.put(this.$url + apieditlab ,this.UpdateModal).then((response)=>{
         console.log(this.UpdateModal)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
        
         location.reload();
       }
    })
  }


},


 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },

  Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
  },


 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
