<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

  
<CCardBody>
    <h5>Banbury Tech Approval </h5>
    <form class="form-inline">
    <h6> Tech Emp Code  </h6>
  <div class="form-group mx-sm-2 mb-2">
    
   
            <CInput  size="sm"   
           v-model = CurrentEntry.tech_EmpCode     
        />
  </div>  
 
  
  
   <!-- <CButton size="sm" color="dark" class="ml-1" @click="getAllPPCShedule()"> Search </CButton> -->
  
</form>
    <CDataTable
    
      :items="items"      
      :fields="fields"
    
      hover
      striped
      border
     
      
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >    
     <CButton size="sm" color="success" class="ml-1" @click="ShowUpdateReleaseModal=true; SelectBatch(item,'RELEASE')" >RELEASE</CButton>
   <CButton size="sm" color="warning" class="ml-1" @click="ShowUpdateOKModal=true; SelectBatch(item,'DISPOSE')" >DISPOSE</CButton>
     <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteAlert=true; SelectBatch(item,'SCRAP')" >SCRAP</CButton>
      
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>



<!-- Show Update OkModal -->
<div id="overlay" v-if="ShowUpdateOKModal">
<div class="modal-dialog modal-xl">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Dispose Skid </h5>
    <button type="button" class="close"  @click="ShowUpdateOKModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl">

<form >

  <div>

           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="3" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.compound_Code
        />
      </CCol> 
    <CCol sm="3" > Barcode ID</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.prod_Barcode
        />
      </CCol> 


      <CCol sm="3" >Date</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.bNBShiftDate
           
        />
        </CCol>
          <CCol sm="3" >Shift</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift
           
        />
        </CCol>
       
    </CRow>
    <CRow>
 <CCol sm="3" >Skid No</CCol>
       <CCol sm="2">
        <CInput
         readonly
           v-model = this.CurrentEntry.skid_NO
            
        />
      </CCol>
    <CCol sm="3" >  Batch</CCol>
      <CCol sm="2">
        <CInput
         readonly
         v-model = this.CurrentEntry.batch_No
        />
      </CCol>
             
    </CRow>
        <CRow>
          
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Location</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.location
           
        />
</CCol>
<CCol sm="3" >Prod.Remarks</CCol>
        <CCol sm="4">
             <CInput 
          readonly
           v-model = this.CurrentEntry.prod_Remarks
           
        />
</CCol>

 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    <CListGroupItem  color="dark">

       <CRow> 
          <CCol sm="3" >Use By Date</CCol>
        <CCol sm="2">
   
             <CInput type="date" size="sm" 
          
           v-model = UpdateModal.use_Before
           
        />

      </CCol></CRow>
   <CRow>
       
        <CCol sm="3" >Disposition Remarks By Technology</CCol>
        <CCol sm="6">
   
             <CInput size="sm" 
          
           v-model = UpdateModal.tech_Remarks
           
        />

      </CCol>
      
         <CCol sm="2">
        <CButton size="sm" color="warning" class="ml-1" @click="SelectBatch(CurrentEntry); ValidateInputs('DISPOSE')"> Print Tag</CButton>
         </CCol>
          
    <!-- <CCol sm="2">
         <CButton size="sm" color="danger" class="ml-1" @click=" ShowDeleteAlert= true;  ShowDetailModal=false;  SelectEntry(CurrentEntry);"> Delete </CButton>
       </CCol> -->
       
          
     
      
     
    </CRow>
     </CListGroupItem> 
  </div>
</form>
</div>
</div>
</div>
</div>

<!-- Show Update NOTOkModal -->
<div id="overlay" v-if="ShowUpdateReleaseModal">
<div class="modal-dialog modal-xl">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"> Release Skid </h5>
    <button type="button" class="close"  @click="ShowUpdateReleaseModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-xl">

<form >

   <div>

           
 <CListGroupItem  color="secondary">
    <CRow>


     <CCol sm="3" > Compound Code</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.compound_Code
        />
      </CCol> 
    <CCol sm="3" > Barcode ID</CCol>
      <CCol sm="2">
        <CInput
          readonly
          v-model = this.CurrentEntry.prod_Barcode
        />
      </CCol> 


      <CCol sm="3" >Date</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.bNBShiftDate
           
        />
        </CCol>
          <CCol sm="3" >Shift</CCol>
        <CCol sm="2">
         <CInput          
         readonly
        
           v-model = this.CurrentEntry.shift
           
        />
        </CCol>
       
    </CRow>
    <CRow>
 <CCol sm="3" >Skid No</CCol>
       <CCol sm="2">
        <CInput
         readonly
           v-model = this.CurrentEntry.skid_NO
            
        />
      </CCol>
    <CCol sm="3" >  Batch</CCol>
      <CCol sm="2">
        <CInput
         readonly
         v-model = this.CurrentEntry.batch_No
        />
      </CCol>
             
    </CRow>
        <CRow>
   
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Location</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.location
           
        />
</CCol>

<CCol sm="3" >Prod.Remarks</CCol>
        <CCol sm="4">
             <CInput 
          readonly
           v-model = this.CurrentEntry.prod_Remarks
           
        />
</CCol>

 </CRow>
    <CRow>
   
      
  
            </CRow>
          <CRow>
        <CCol sm="3" >Lab Status</CCol>
        <CCol sm="2">
             <CInput 
          readonly
           v-model = this.CurrentEntry.lab_Status
           
        />
</CCol>

<CCol sm="3" >Lab.Remarks</CCol>
        <CCol sm="4">
             <CInput 
          readonly
           v-model = this.CurrentEntry.lab_Remarks
           
        />
</CCol>

 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

    <CListGroupItem  color="dark">
   <CRow>
       
        <CCol sm="3" >Release Remarks By Technology</CCol>
        <CCol sm="6">
   
             <CInput size="sm" 
          
           v-model = UpdateModal.tech_Remarks
           
        />

      </CCol>
      
         <CCol sm="2">
           
        <CButton size="sm" color="warning" class="ml-1" @click="SelectBatch(CurrentEntry); ValidateInputs('RELEASE')">Release Skid</CButton>
         </CCol>
          
    <!-- <CCol sm="2">
         <CButton size="sm" color="danger" class="ml-1" @click=" ShowDeleteAlert= true;  ShowDetailModal=false;  SelectEntry(CurrentEntry);"> Delete </CButton>
       </CCol> -->
       
          
     
      
     
    </CRow>
     </CListGroupItem> 
  </div>
</form>
</div>
</div>
</div>
</div>

<!-- Alert Delete Modal -->
 <div id="overlay" v-if="ShowDeleteAlert">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">SCRAP ENTRY</h5>
    <button type="button" class="close"  @click="ShowDeleteAlert=false; ShowDetailModal=true;">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Warning :Status will be changed to Scrap </h4>
<h5> {{this.CurrentEntry.prod_Barcode +' || Compound: '+ this.CurrentEntry.compound_Code +' || Skid No : '+ this.CurrentEntry.skid_NO +' || Batch :'+ this.CurrentEntry.batch_No   }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteAlert=false; ValidateInputs('SCRAP');   "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteAlert=false ;ShowDetailModal=true;"> No </button>
</div>
</div>
</div>
</div>

</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'bNBShiftDate',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
    { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },
    { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'lab_Remarks', label: 'Lab Remarks' },        
  { key: 'show_details',  label: '',  _style: 'width:16%', },

 ] 
 const apiurlproduction = 'BNB_Tech/GetProductionEntryForTechApproval/'
 const apiurl =  'BNB_Tech/UpdateProductionEntryTechStatus/'
 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
    fields: [
     // { key: ' production_Id' , label: 'Id',},
              { key: 'prod_Barcode' , label: 'Barcode Id',},     
              { key: 'banbury' , label: 'Banbury',}   ,      
              { key: 'bNBShiftDate', label: 'Date' },
              { key: 'shift',  label: 'Shift' },  
                  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  //{ key: 'trucker_Code',  label: 'Trucker' },  
  { key: 'prod_Status', label: 'Prod.Status' },
  { key: 'prod_Remarks', label: 'Prod.Remarks' },   
    { key: 'lab_Status', label: 'Lab Status' },  
  { key: 'lab_Remarks', label: 'Lab Remarks' },   
              { key: 'show_details',  label: '',  _style: 'width:16%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",
ShowUpdateReleaseModal:"",
ShowUpdateOKModal:"",
  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : "",
  lab_Remarks : ""
},
UpdateModal :{
  bnB_Prod_Id: 0,
  tech_EmpCode: "",
tech_Status: "",
tech_Remarks: "",
prod_Barcode : "",
use_Before: "",


},

bnbid:"",
  banburyitems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { bnbid:"",shiftid:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
    //alert("")
  this.GetProductionEntryForTechApproval();
 
  },

  methods:
  {
   

GetProductionEntryForTechApproval()
{
   
      Vue.axios.get(this.$url + apiurlproduction  )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.SuccessMsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });

},

TechStatusUpdate(status)
{

   this.UpdateModal.bnB_Prod_Id= this.CurrentEntry.bnB_Prod_Id,
   this.UpdateModal.tech_EmpCode=  this.CurrentEntry.tech_EmpCode,
  this.UpdateModal.tech_Status= status;
  this.UpdateModal.prod_Barcode = this.CurrentEntry.prod_Barcode
 
 


       Vue.axios.put(this.$url + apiurl ,this.UpdateModal).then((response)=>{
       
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         location.reload();
       }
    })
  // }


},




 SelectBatch(Entry, Option)
  {

    if(this.CurrentEntry.tech_EmpCode == "" || this.CurrentEntry.tech_EmpCode == null)
    {
this.ShowUpdateOKModal= false;
this.ShowUpdateReleaseModal = false;
this.ShowDeleteAlert = false;
      this.SuccessMsg = "Please enter Employee Code";
      this.smallModal = true;
    }
  else 
    { 
       this.CurrentEntry = Entry;
    
    
    }
   
        
  },

ValidateInputs(status)
{

  if(status =="DISPOSE")
  {
   
    if(this.UpdateModal.use_Before=="" || this.UpdateModal.tech_Remarks == "")
    {
      this.SuccessMsg = "Please enter USE BY DATE and DiSPOSITION REMARKS";
      this.smallModal = true;
    }
    else
    {
         
      this.TechStatusUpdate(status);
    }

  }
  else if (status =="RELEASE")
  { 
    
    if(this.UpdateModal.tech_Remarks == "")
    {
      this.SuccessMsg = "Please enter RELEASE REMARKS";
      this.smallModal = true;
    }
    else
    {
      this.UpdateModal.use_Before = this.CurrentEntry.use_Before;
      this.TechStatusUpdate(status);
    }

  }
  else
  {
      this.UpdateModal.tech_Remarks = "Scrap"
      this.UpdateModal.use_Before = this.CurrentEntry.use_Before;
      this.TechStatusUpdate(status);
  }

},


  Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
  },

 

 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
