<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

  
<CCardBody>
    <h5>RMS Tag Print</h5>
    <form >
   
   <div>
      <CListGroupItem  color="dark"> 
    <CRow>
      

  <CCol sm="1"  >Date</CCol>
      <CCol sm="2">
         {{new Date().toLocaleDateString()}}
      </CCol>
      
      <CCol sm="1" >Shift</CCol>
         <CCol sm="1">
        
       <CInput
          readonly
          v-model = this.searchdata.shift
        />
      </CCol> 
     
    
  
    
    <CRow>
  
    </CRow>
         
    
    </CRow>
       
   
   </CListGroupItem  >
     
           
 <CListGroupItem  color="secondary">
    <CRow>
     <CCol sm="2" > Compound Code</CCol>
      <CCol sm="2">
             <select class="form-control" v-model="CurrentEntry.compound_Code" size="sm"  >   
              <option v-for="compitem in compitems" :value="compitem.compound_Code" :key="compitem.compound_Code">{{ compitem.compound_Code }}</option>
           </select> 
       </CCol> 
       <CCol sm="2" >Vendor </CCol>
      <CCol sm="2">
     
           <select class="form-control" v-model="CurrentEntry.Vendor" size="sm"  >   
              <option v-for="supitem in SupplierItems" :value="supitem.supplierName" :key="supitem.supplierName">{{ supitem.supplierName }}</option>
           </select>  
      </CCol> 
    </CRow>

<span>     </span>
   
       <CRow>
     <CCol sm="2" > Banbury </CCol>
      <CCol sm="2">
           <CInput          
          v-model = CurrentEntry.banbury   />
      </CCol> 

     <CCol sm="2" >RMS Crew</CCol>
     <CCol sm="2">
         <CInput                   
           v-model = CurrentEntry.rMS_Crew  />
    </CCol>  
    </CRow>

        <CRow>
          
       <CCol sm="2" >SkidNo</CCol>
       <CCol sm="2">
        <CInput
        
           v-model = CurrentEntry.skid_NO
            placeholder = 0
        />
      </CCol>
      <CCol sm="2" >Batch</CCol>
      <CCol >
        <CRow>
        <CCol sm="2">
        <CInput size="sm" 
             v-model = CurrentEntry.batchI
            placeholder = 0
        /></CCol>
        -
        <CCol sm="2">
           <CInput size="sm" 
          
           v-model = CurrentEntry.batchII
            placeholder = 0
        /></CCol> </CRow>
        </CCol>
 
            </CRow>
          <CRow>
        <CCol sm="2" >Location</CCol>
            <CCol sm="2" >
              <select class="form-control" v-model="CurrentEntry.location" size="sm"  >   
              <option v-for="locitem in locitems" :value="locitem.bnB_Location_Name" :key="locitem.bnB_Location_Name">{{ locitem.bnB_Location_Name }}</option>
           </select>  

    <!-- <CInput size="sm" 
          
           v-model = CurrentEntry.location
            placeholder = 0
        /> -->
           </CCol>
         
            <CCol sm="2">
           <CButton size="sm" color="success" @click="SelectEntry(CurrentEntry);ValidateInputs();"> Print Tag</CButton>
      
      </CCol>
      
       <!-- <CCol >
           <CButton size="sm" color="info"  @click="Refresh();"> Refresh </CButton>
      
      </CCol> -->
 </CRow>
             </CListGroupItem  >
        
        <CRow>
      
  </CRow>

   
  </div>
</form>
  

    
  </CCardBody>

 </div>





</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'comp_Code' , label: 'Compound Code',},
  { key: 'sch_value', label: 'Sch_Value' },
  { key: 'sch_Remarks',  label: 'Sch_Remarks' },  
  { key: 'rpm', label: 'RPM' },          
  { key: 'show_details',  label: '',  _style: 'width:30%', },

 ] 
 const shift = ""
 const apiurl = 'BNB_RMSCompoundEntry/'
 const apicompound =  'BNB_Compound_Master'
//  const apigetsw =  'Trace_Storage_Location_Master/GetTrace_Storage_Location_MasterSW/'
 const apigetSupplier =  'BNB_RMSCompoundEntry/supplier/'
 //const apiurl =  '/BNB_RMSCompoundEntry/'
 const apiholdurl =  'BNB_Hold_Reason/'
//  const apitag =  'Trace_Tag_Generation/'
//  const apihold =  'Trace_Hold/'
const apilocationurl =  'BNB_Location_Master'
//  const apiholdreason =  'Trace_Hold_Reasons/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    

  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  prod_Barcode: "",
  shift_Date: new Date(),
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  location: "",
  no_OF_Batches: 0,
 
 banbury :"",
  
  consumtion_Status: "",
  
  consumption_BNB: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  
  modified_By: "",
  bNBShiftDate: "",
  batchI: "",
  batchII: "",
  vendor: "",
  rmS_Crew: "",
  prod_Status: "",
  module_Name: ""
},

  SupplierItems:[],
  banburyname:"",

 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { shift :""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  compitems :[]
  }
  
  },


  mounted()
  {
 
  this.Fncurrentshift();


  this.getAllSupplier();
    this.getAllLocations();
    this.getAllCompounds();
  },

  methods:
  {
 
   getAllCompounds: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apicompound)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.compitems =response.data.filter(x => x.status == true);
      //console.log(this.compitems);

       }
    });
   },

getAllSupplier: function()
   {
 
   Vue.axios.get(this.$url + apigetSupplier)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
  
        this.SupplierItems= response.data;
     
       }
    });
   },
   getAllLocations: function()
   {

    Vue.axios.get(this.$url + apilocationurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.locitems =response.data.filter(x => x.bnB_Location_Status == true && x.compoundCategory == "Master");
 // console.log(this.locitems)

       }
    });
   },

 
Fncurrentshift: function()
{
          
           var Current_Shift
           
           var curTime = new Date().toTimeString('HHmmss')         
           var ShiftA = "06:01:00"           
           var ShiftB = "14:01:00"
           var ShiftC = "22:01:00"
           var EndDayTime ="23:59:55"
           var NextDayStartTime = "12:00:00"
       
            if (curTime >= ShiftA && curTime < ShiftB)
            { Current_Shift = "A";      this.Current_ShiftEntry.CurrentShiftId = 1;}
            else if (curTime >= ShiftB && curTime < ShiftC)
            { Current_Shift = "B";      this.Current_ShiftEntry.CurrentShiftId  = 2;}
            else if (curTime >= ShiftC && curTime <= EndDayTime)
            { Current_Shift = "C";      this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else if (curTime >= NextDayStartTime && curTime < ShiftA)
            { Current_Shift = "C";  this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else
            { Current_Shift = "G"; this.Current_ShiftEntry.CurrentShiftId  = 4; }
              
            this.searchdata.shift = Current_Shift;
             
},
 
ValidateInputs()
{

  if(this.CurrentEntry.skid_NO == null || this.CurrentEntry.skid_NO == "" )//|| this.CurrentEntry.skiD_NO == undefined && this.CurrentEntry.skiD_NO.length == 13 )
  {
    this.SuccessMsg = "Please enter skid number";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }


    if(this.CurrentEntry.batchI == null || this.CurrentEntry.batchI== 0 || this.CurrentEntry.batchII == null || this.CurrentEntry.batchII0 == 0 )
    {
     this.SuccessMsg = "Please enter valid batcH_NO";
     this.smallModal =  true;
     this.ShowDetailModal = true;
    }
       this.CurrentEntry.batch_No = this.CurrentEntry.batchI + "-" + this.CurrentEntry.batchII

   if( this.CurrentEntry.location == null)
  {
    this.SuccessMsg = "select location";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
   
  if(this.CurrentEntry.rMS_Crew == null ) 
  {
    this.SuccessMsg = "Enter  RMS CREW Id";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }
   if(this.CurrentEntry.banbury == null ) 
  {
    this.SuccessMsg = "Enter Banbury";
    this.smallModal =  true;
    this.ShowDetailModal = true;
  }

 
  if(this.CurrentEntry.skid_NO >= 1 && this.CurrentEntry.batch_No != "-"  &&  this.CurrentEntry.banbury != null &&  this.CurrentEntry.location != null && this.CurrentEntry.batchI != 0 && this.CurrentEntry.batchII != 0 ) 
  {
    
    this.AddToProduction('RMS') ;
    
  }
},

AddToProduction(status)
{
  


 //this.bnbid = this.SupplierItems.filter(x => x.bnB_Name == this.searchdata.bnbid); 
 this.CurrentEntry.specail_Trails =  'O';
  this.CurrentEntry.shift = this.searchdata.shift ;
  this.CurrentEntry.created_Date = new Date().toDateString() ;
  
  this.CurrentEntry.bNBShiftDate = new Date().toLocaleDateString();
 // alert(this.CurrentEntry.bNBShiftDate )
  //this.CurrentEntry.compound_Code =  this.CurrentEntry.comp_Code;
   
  this.CurrentEntry.plant_Code =  "1001";
  //this.CurrentEntry.rMS_Crew = this.CurrentEntry.rMS_Crew;
 
  //this.CurrentEntry.prod_Status =  status;

// alert(this.CurrentEntry.specail_Trails+ this.CurrentEntry.shift+this.CurrentEntry.created_Date+this.CurrentEntry.compound_Code+this.CurrentEntry.plant_Code+this.CurrentEntry.rMS_Crew)
    if (status == 'RMS')
    {
      this.CurrentEntry.module_Name = "RMS"
    
    
    }

  Vue.axios.post(this.$url+ apiurl,this.CurrentEntry).then((response)=>{

       if(response.data.error)
       {
          alert('Data Error')
       }
       else if(response.data == "1")
       {
         
       this.SuccessMsg = "Tag generation already done for skid "
       this.smallModal = true;

       }
       else
       {
  

      //  this.SuccessMsg ="Tag Printing in progress..",
      //  this.smallModal = true;
       this.getAllLocations();
       this.ShowDetailsModal = true;
     //this.CurrentEntry.compound_Code ="";
    //  this.CurrentEntry.vendor ="";
    //  this.CurrentEntry.skid_NO="";
    //  this.CurrentEntry.batchI ="";
    //  this.CurrentEntry.batchII ="";
    
        
       }
    })
 
 

},

 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },

 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
