<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

  
<CCardBody>

  
    <h5>Age Relaxation</h5>
     <form class="form-inline">

        <h6>Employee Id  </h6>
          <div class="form-group mx-sm-2 mb-2">
       
            <CInput  size="sm"   
           v-model = CurrentEntry.tech_EmpCode     
        />
  </div>  
     </form>
    <form class="form-inline">
    <h6> Compound  </h6>
  <div class="form-group mx-sm-2 mb-2">
           
    <select class="form-control form-control-sm" v-model="searchdata.compound" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="compounditem in compounditems" :value="compounditem.compound_Code" :key="compounditem.compound_Code">{{ compounditem.compound_Code }}</option>
  </select>
       
  </div>  
      <div class="form-group mx-sm-2 mb-2">   
<CButton size="sm" color="dark" class="ml-1" @click="getAllCompoundsForAgeingRelaxation()"> Search </CButton>
  </div> 
   <h6> Relaxation Time in Hrs</h6>
  <div class="form-group mx-sm-2 mb-2">
    
     <select class="form-control form-control-sm" v-model="searchdata.relaxedTime" >
   
   <option value="1" >1</option> <option value="1.5">1.5</option><option value="2">2</option><option value="2.5">2.5</option><option value="3">3</option>
  </select></div> 
 
     <h6>Reason </h6>
    <div class="form-group mx-sm-2 mb-2">
   
 
   <CInput  size="sm"   
           v-model = CurrentEntry.tech_Remarks     
        />
         </div>  

   <!-- <CButton size="sm" color="dark" class="ml-1" @click="getAllCompounds()"> Search </CButton> -->
  
</form>
    <CDataTable
    
      :items="items"      
      :fields="fields"
      hover
      striped
      border
     
      
     >
   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}" >      
      <CButton size="sm" color="dark" class="ml-1" @click="SelectEntry(item);ValidateInputs(); "> Select</CButton>
      <!-- <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectEntry(item)" getMHEForDual(); >Delete</CButton> -->
    
    </template>

    </CDataTable>
    
  </CCardBody>

 </div>


</div>
</template>
<script>
   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode Id',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'shift_Date',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  { key: 'ageing_Time',  label: 'Ageing Time' },  
    
  { key: 'show_details',  label: '',  _style: 'width:10%', },

 ] 

 const apiurlproduction = 'BNB_Production_Entry/'
//  const apigetsw =  'Trace_Storage_Location_Master/GetTrace_Storage_Location_MasterSW/'
 const apigetcompound =  'BNB_Compound_Master'
 const apiurl =  'BNB_Tech/'
 const apirelaxageforcompound =  'BNB_Tech/RelaxAgeforCompoundProdId'
//  const apitag =  'Trace_Tag_Generation/'
//  const apihold =  'Trace_Hold/'
const apilocationurl =  'BNB_Location_Master'
//  const apiholdreason =  'Trace_Hold_Reasons/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
       fields: [
     // { key: ' production_Id' , label: 'Id',},
   { key: 'prod_Barcode' , label: 'Barcode Id',},     
   { key: 'banbury' , label: 'Banbury',}   ,      
   { key: 'shift_Date', label: 'Date' },
   { key: 'shift',  label: 'Shift' },  
   { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
 { key: 'ageing_Time',  label: 'Ageing Time' },   
   
  { key: 'show_details',  label: '',  _style: 'width:5%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},
UpdateModal :{
  bnB_Prod_Id: 0,
  tech_EmpCode: "",

tech_Remarks: "",

relaxedTime:"",

},

bnbid:"",
  compounditems:[],
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { compound:"",relaxedTime:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  Barcode :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[]
  }
  
  },


  mounted()
  {
   
   this.getAllCompounds();
 
  },

  methods:
  {
 


   getAllCompounds: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apigetcompound)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.compounditems =response.data.filter(x => x.status == 1);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },


  

getAllCompoundsForAgeingRelaxation()
{
 
  var compound= this.searchdata.compound;
if(compound=="")
{  
//   wait for user input
}

else
{
  // alert(this.$url + apiurl + compound);
     Vue.axios.get(this.$url + apiurl + compound  )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.SuccessMsg = "No data"
      this.smallModal = true;
     }
    else
      {
        this.items = response.data;
   
       }
    });
}
},




ValidateInputs()
{
 
 if(this.CurrentEntry.tech_Remarks == "")
    {
    this.SuccessMsg = "Please enter Reason for age relaxation"
       this.smallModal = true;
    
    }
   // alert(this.CurrentEntry.tech_EmpCode)
   if (this.CurrentEntry.tech_EmpCode  == "" || this.CurrentEntry.tech_EmpCode == null)
    {
      this.SuccessMsg = "Please enter your Employee code"
       this.smallModal = true;

    }
    if (this.searchdata.relaxedTime == "")
    {
      this.SuccessMsg = "Please select time in hours to relax"
       this.smallModal = true;

    }

   
  if( this.CurrentEntry.tech_Remarks.length > 1 && this.CurrentEntry.tech_EmpCode.length != null &&  this.searchdata.relaxedTime != null ) 
  {
    
    this.RelaxAgeing() ;
       
  }
},

RelaxAgeing()
{
 
  
  this.UpdateModal.bnB_Prod_Id =  this.CurrentEntry.bnB_Prod_Id;
  this.UpdateModal.tech_Remarks = this.CurrentEntry.tech_Remarks;
  this.UpdateModal.tech_EmpCode = this.CurrentEntry.tech_EmpCode;
  this.UpdateModal.relaxedTime = this.searchdata.relaxedTime;


  

  Vue.axios.put(this.$url+ apirelaxageforcompound,this.UpdateModal).then((response)=>{
     

       if(response.data.error)
       {
          alert('Data Error')
       }
   
       else
       {
  
           this.getAllCompoundsForAgeingRelaxation();
        
       }
    })
 
 

},

 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

      // this.RelaxAgeing();
       
  },

 

 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}

</style>
