<template>
  <div>
    <div>
  
<CCardBody>
    <h5>Over Aged</h5>
 

    <CDataTable
    
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="10"
      pagination
      hover
      striped
      border
      sorter
     >
   
    
   </CDataTable>
      <a
           @click="JSONToCSVConvertor(items,true)" 
          
          class="btn btn-info  btn-sm"
        >
          Export (.xls)
        </a>
  </CCardBody>

 </div>


  </div>
   </template>
</div>
</template>

<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
  { key: 'prod_Barcode' , label: 'Barcode',},
  { key: 'banbury', label: 'Banbury' },
  { key: 'bNBShiftDate',  label: 'Date' },  
  { key: 'shift', label: 'Shift' },     
  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 

  { key: 'use_Before', label: 'Use Before' },      
  

 ] 
 //const apiurl =  'Trace_Production/'
 const apigetreport =  'BNB_Reports/GetAllOveragedReport'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
    return {
  
    items: items.map((item, id) => { return {...item, id}}),
     fields: [
     // { key: ' production_Id' , label: 'Id',},
              { key: 'prod_Barcode' , label: 'Barcode',},     
              { key: 'banbury' , label: 'Banbury',}   ,      
              { key: 'bNBShiftDate', label: 'Date' },
              { key: 'shift',  label: 'Shift' },  
                  { key: 'compound_Code',  label: 'Compound' },  
  { key: 'skid_NO', label: 'Skid' }, 
  { key: 'batch_No',  label: 'Batch' },  
  { key: 'location', label: 'Location' }, 
  { key: 'use_Before',  label: 'Use Before' },  
    
            
      ],
   searchdata: {fromdate:"",todate:"" },
  
  
  }
  
  },
 
  mounted()
  {
   this.getAllOveragedReport();
  },
  methods:
  {
 
 
getAllOveragedReport()
{
 //alert(this.$url + apigetreport + '/' + this.searchdata.fromdate + '/' + this.searchdata.todate);
   Vue.axios.get(this.$url + apigetreport + this.searchdata.fromdate + '/' + this.searchdata.todate ) 
  .then((response)=>{
   
    if(response.data.error)
       {
         
         this.errMsg=response.data.message;
       }
    else
       {
        
        this.items =response.data;
     

       }
    });

},
JSONToCSVConvertor(JSONData, ShowLabel) {

  
  //If JSONData is not an object then JSON.parse will parse the JSON string in an Object
  var arrData = typeof JSONData != 'object' ? JSON.parse(JSONData) : JSONData;
   
  var CSV = '';
  //Set Report title in first row or line

  CSV += "Production Report" + '\r\n\n';

  //This condition will generate the Label/Header
  if (ShowLabel) {
    var row = "";

    //This loop will extract the label from 1st index of on array
 for (var index in arrData[0]) {

//if(index == 'Barcode Id'){  index = 'Inv.TransId';}
if(index == 'prod_Barcode'){  index = 'Barcode';}
if(index == 'banbury'){  index = 'Banbury';}

if(index == 'bNBShiftDate'){  index = 'Date';}
if(index == 'shift'){  index = 'Shift';}

if(index == 'compound_Code'){  index = 'Compound';}
if(index == 'skid_NO'){  index = 'Skid';}

if(index == 'batch_No'){  index = 'Batch';}
if(index == 'location'){  index = 'Location';}

if(index == 'prod_Status'){  index = 'Status';}
if(index == 'prod_Remarks'){  index = 'Remarks';}

// if(index == 'entryDate'){  index = 'Entry Date';}
// if(index == 'entered_By'){  index = 'Entered By';}

// if(index == 'status'){  index = 'Status';}
// if(index == 'suppliername'){  index = 'Supplier Name';}

// if(index == 'materialCode'){  index = 'Material Code';}
// if(index == 'materialDesc'){  index = 'Material Desc';}

// if(index == 'batchTypeName'){  index = 'Batch Type Name';}
// if(index == 'locationName'){  index = 'Location Name';}

// if(index == 'currentStock'){  index = 'CurrentStock';}
// if(index == 'totalConsumed'){  index = 'TotalConsumed';}
// if(index == 'stockRemaining'){  index = 'StockRemaining';}
  //Now convert each value to string and comma-seprated
      row += index + ',';


    }
 
    row = row.slice(0, -1);

    //append Label row with line break
    CSV += row + '\r\n';
 }
 

  //1st loop is to extract each row
  for (var i = 0; i < arrData.length; i++) {
    var row = "";

    //2nd loop will extract each column and convert it in string comma-seprated
    for (var index in arrData[i]) {
      row += '"' + arrData[i][index] + '",';

    }

    row.slice(0, row.length - 1);

    //add a line break after each row
    CSV += row + '\r\n';
   
  }

  if (CSV == '') {
    alert("Invalid data");
    return;
  }
  

  //Generate a file name
  var fileName = "OveragedReport";
 
  //this will remove the blank-spaces from the title and replace it with an underscore
 //fileName += ReportTitle.replace(/ /g, "_");

 // Initialize file format you want csv or xls
 
var uri = 'data:text/csv;charset=utf-8,' + escape(CSV);

 //var uri = 'data:text/xls;charset=utf-8,' + escape(CSV);


  // Now the little tricky part.
  // you can use either>> window.open(uri);
  // but this will not work in some browsers
  // or you will not get the correct file extension    

  //this trick will generate a temp <a /> tag
  var link = document.createElement("a");
  link.href = uri;
 
  //set the visibility hidden so it will not effect on your web-layout
  link.style = "visibility:hidden";
  link.download = fileName + ".csv";

  //link.download = fileName + ".xls";
 
  //this part will append the anchor tag and remove it after automatic click
  document.body.appendChild(link);
  link.click();
  document.body.removeChild(link);



}
    
  },
     
    }
  
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>