<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Banbury Master</h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped
      border
      sorter
     >
      <!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectMaster(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectMaster(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectMaster(item)"> Details </CButton>
    </template>
    </CDataTable>
  <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Machine</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Machine</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">


<div class="form-group"><label  >Machine</label>
<input type="text" name="bnB_Name" class="form-control form-control-sm"  v-model="newMasterEntry.bnB_Name">
</div>


 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="newMasterEntry.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addMaster(); " > Add Machine </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Machine</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">

<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentMaster.bnB_ID">
</div>

<div class="form-group"><label  >Master</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentMaster.bnB_Name">
</div>


<div class="form-group"><label  >Plant</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentMaster.plant_Name">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentMaster.bnB_ID">
</div>



<div class="form-group"><label  >Master</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="newMasterEntry.bnB_Name">
</div> 

 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="CurrentMaster.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

 <!-- <div class="form-group"><label  >Plant</label>
          <select class="form-control form-control-sm" id="plantid"  v-model="newMasterEntry.plant_Id"   ><option value="1" >1001</option> <option value="2">1004</option></select>
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; UpdateMaster();" > Update </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete </h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Master ? </h4>
<h5> You are deleting {{ this.CurrentMaster.bnB_ID +' || '+ this.CurrentMaster.bnB_Name }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
const apiurl =  'BNB_Master'
const apiplanturl =  'PlantMaster'
const items = [
  { key: 'bnB_ID', _style:'min-width:200px' },
  { key: 'Plant', _style:'min-width:100px;' },
  { key: 'bnB_Name', _style:'min-width:100px;' },
   
 
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
              { key: 'bnB_ID' , label: ' Id',},
              { key: 'plant_Name', label: 'Plant', },
              { key: 'bnB_Name', label: 'Machine Name', },
             
              
             { key: 'show_details',  label: '',  _style: 'width:30%', },     
                 
      ],
  CurrentMaster:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
 
  newMasterEntry: {  bnB_ID: 0, bnB_Name: "",  plant_Id: 0,  bnB_Status: true,  bnB_ID: 0,}, }
  },
 

  
  mounted()
  {
   this.getAllMasters();
  this.getAllPlant();
  },

  methods:
  {
   getAllMasters: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.items =response.data.filter(x => x.bnB_Status == 1);
       // this.subitems = response.data.fgS_FIFO_MasterEntry_Type_Master;

       }
    });
   },
   getAllPlant: function()
   {
     //alert(this.$url + apicompoudtypeurl);
    Vue.axios.get(this.$url + apiplanturl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.plantItems =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },
  SelectMaster(Master)
    {
     this.CurrentMaster=Master;
      
    },
       
  addMaster()
  {


if(this.newMasterEntry.bnB_Name == "" )

{
   this.SuccessMsg = "Please enter all fields";
  this.smallModal = true;
  this.ShowAddModal = true;
    
}
 else if(this.items.find(x => x.bnB_Name == this.newMasterEntry.bnB_Name && x.bnB_Status == true ))
     {
      
       this.SuccessMsg=  this.newMasterEntry.bnB_Name +" already exist. ";
       this.smallModal = true;
        this.ShowAddModal = true;
      }
    
    else
     {
      
       Vue.axios.post(this.$url + apiurl ,this.newMasterEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        location.reload();
      // this.getAllMasters();
       }
      })
     }
   },
 
 UpdateMaster()
  {
    

   alert(this.CurrentMaster.plant_Id)
 
    if((this.CurrentMaster.bnB_Name != this.newMasterEntry.bnB_Name ) && this.items.find(x => x.bnB_Name == this.newMasterEntry.bnB_Name && x.bnB_Status == true ))
      {
       
       this.SuccessMsg= "Master " + this.newMasterEntry.bnB_Name +" already exist.";
       this.smallModal = true;
     }
   
    else if(this.CurrentMaster.bnB_Name == "" )
    {
 
    this.SuccessMsg = "Please enter all the fields";
    this.smallModal = true;
    }
     else
     {
         this.newMasterEntry.bnB_Name = this.CurrentMaster.bnB_Name
    
       this.newMasterEntry.bnB_ID = this.CurrentMaster.bnB_ID
      this.newMasterEntry.plant_Id = this.CurrentMaster.plant_Id
       
       Vue.axios.put(this.$url + apiurl+ "/" + this.CurrentMaster.bnB_ID ,this.newMasterEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllMasters();
        location.reload();
       }
    })
   }
   
   },

  deleteItem()
    {
      var bnB_ID = this.CurrentMaster.bnB_ID;
        axios({   method: 'delete',
           url: this.$url + apiurl +"/"+ bnB_ID
    });
        this.SuccessMsg=" bnB_Status Changed to Inactive Succesfully"
        this.smallModal = true;
       
        //this.getAllMasters();
          location.reload();
    }, 
      
  
    },
  
    }
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>