<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Banbury Compounds  </h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="20"
      pagination
      hover
      striped
      border
      sorter
     >
      <!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectCompound(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectCompound(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectCompound(item)"> Details </CButton>
    </template>
    </CDataTable>
  <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Compound</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Compound</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">
 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="newCompoundEntry.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

<div class="form-group"><label  >Compound</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="newCompoundEntry.compound_Code">
</div>

<div class="form-group"><label  >Compound Type</label>
  <select class="form-control" v-model="newCompoundEntry.compound_TypeId" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="compoundtypeitem in compoundtypeitems" :value="compoundtypeitem.compound_TypeId" :key="compoundtypeitem.compound_TypeId">{{compoundtypeitem.compound_TypeName}} </option>
  </select>
</div>
<div class="form-group"><label  > Ageing Time in Hours</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm" placeholder="4" v-model="newCompoundEntry.compound_AgingHours">
</div>
<div class="form-group"><label  >Use By Days</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm" placeholder="10"  v-model="newCompoundEntry.compound_UseByDays">
</div>


<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addCompound(); " > Add Compound </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Compound</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">

<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="Currentcompound.compound_ID">
</div>


<div class="form-group"><label  >Compound</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="Currentcompound.compound_Code">
</div>
<div class="form-group"><label  > Ageing Time in Hours</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm" placeholder="4" v-model="Currentcompound.compound_AgingHours">
</div>
<div class="form-group"><label  >Use By Days</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm" placeholder="10"  v-model="Currentcompound.compound_UseByDays">
</div>

<div class="form-group"><label  >Plant</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="Currentcompound.plant_Name">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="Currentcompound.compound_ID">
</div>
 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="newCompoundEntry.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

<div class="form-group"><label  >Compound</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="Currentcompound.compound_Code">
</div> 


<div class="form-group"><label  >Compound Type</label>
  <select class="form-control" v-model="newCompoundEntry.compound_TypeId" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="compoundtypeitem in compoundtypeitems" :value="compoundtypeitem.compound_TypeId" :key="compoundtypeitem.compound_TypeId">{{compoundtypeitem.compound_TypeName}} </option>
  </select>
</div>
<div class="form-group"><label  > Ageing Time in Hours</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm" placeholder="4" v-model="newCompoundEntry.compound_AgingHours">
</div>
<div class="form-group"><label  >Use By Days</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm" placeholder="10"  v-model="newCompoundEntry.compound_UseByDays">
</div>
 <!-- <div class="form-group"><label  >Plant</label>
          <select class="form-control form-control-sm" id="plantid"  v-model="Currentcompound.plant_Id"   ><option value="1" >1001</option> <option value="2">1004</option></select>
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; UpdateCompound();" > Update </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete </h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Compound ? </h4>
<h5> You are deleting {{ this.Currentcompound.compound_ID +' || '+ this.Currentcompound.compound_Code }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
const apiurl =  'BNB_Compound_Master'
const apicompoudtypeurl =  'BNB_CompoundType_Master'
const apiplanturl =  'PlantMaster'
const items = [
  { key: 'compound_Id', _style:'min-width:200px' },
   { key: 'plant_Name', label: 'Plant', },
  { key: 'compound_Id', _style:'min-width:200px' },
  { key: 'compound_Code', _style:'min-width:100px;' },
  { key: 'compound_typeName', _style:'min-width:100px;' },
 { key: 'compound_AgingHours', _style:'min-width:100px;' },
{ key: 'compound_UseByDays', _style:'min-width:100px;' },
 
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
              { key: 'compound_ID' , label: ' Id',},
                 { key: 'plant_Name', label: 'Plant', },
              { key: 'compound_Code', label: 'Compound Code', },
              { key: 'compound_typeName', label: ' Type', },
              { key: 'compound_AgingHours', label: 'Ageing in Hours', },
              { key: 'compound_UseByDays', label: 'Use By Days', },
             { key: 'show_details',  label: '',  _style: 'width:30%', },     
                 
      ],
  Currentcompound:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
 plantItems:[],
  newCompoundEntry: {  compound_ID: 0, compound_Code: "",  plant_Id: 0, compound_AgingHours:0,compound_UseByDays:0, status: true,  compound_TypeId: 0,}, }
  },
 

  
  mounted()
  {
   this.getAllCompounds();
   this.getAllCompoundTypes();
   this.getAllPlant();
  },

  methods:
  {
   getAllCompounds: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.items =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },
    getAllPlant: function()
   {
     //alert(this.$url + apicompoudtypeurl);
    Vue.axios.get(this.$url + apiplanturl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.plantItems =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },
   getAllCompoundTypes: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apicompoudtypeurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.compoundtypeitems =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },
  SelectCompound(Compound)
    {
     this.Currentcompound=Compound;
      
    },
       
  addCompound()
  {


if(this.newCompoundEntry.compound_Code == "" )

{
   this.SuccessMsg = "Please enter all fields";
  this.smallModal = true;
  this.ShowAddModal = true;
    
}
 else if(this.items.find(x => x.compound_Code == this.newCompoundEntry.compound_Code && x.status == true  && x.plant_Id == this.newCompoundEntry.plant_Id))
     {
      
       this.SuccessMsg=  this.newCompoundEntry.compound_Code +" already exist. ";
       this.smallModal = true;
        this.ShowAddModal = true;
      }
    
    else
     {
      
       Vue.axios.post(this.$url + apiurl ,this.newCompoundEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        location.reload();
      // this.getAllCompounds();
       }
      })
     }
   },
 
 UpdateCompound()
  {
    

   
       this.newCompoundEntry.compound_Code = this.Currentcompound.compound_Code

    if((this.Currentcompound.compound_Code != this.newCompoundEntry.compound_Code ) && this.items.find(x => x.compound_Code == this.newCompoundEntry.compound_Code && x.status == true ))
      {
       
       this.SuccessMsg= "Compound " + this.newCompoundEntry.compound_Code +" already exist.";
       this.smallModal = true;
     }
   
   else if(this.newCompoundEntry.compound_Code == "" )
    {
 
    this.SuccessMsg = "Please enter all the fields";
    this.smallModal = true;
    }
    else
     {
       
       this.newCompoundEntry.compound_ID = this.Currentcompound.compound_ID

       alert(this.Currentcompound.compound_ID)
       Vue.axios.put(this.$url + apiurl+ "/" + this.Currentcompound.compound_ID ,this.newCompoundEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllCompounds();
        // response.reload();
       }
    })
   }
   
   },

  deleteItem()
    {
      var compound_ID = this.Currentcompound.compound_ID;
        axios({   method: 'delete',
           url: this.$url + apiurl +"/"+ compound_ID
    });
        this.SuccessMsg=" Status Changed to Inactive Succesfully"
        this.smallModal = true;
       
        this.getAllCompounds();
          location.reload();
    }, 
      
  
    },
  
    }
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>