<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Banbury Location</h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="20"
      pagination
      hover
      striped
      border
      sorter
     >
      <!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectLocation(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectLocation(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectLocation(item)"> Details </CButton>
    </template>
    </CDataTable>
  <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Location</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Location</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="CurrentLocation.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>
<div class="form-group"><label  >Location</label>
<input type="text" name="bnB_Location_Name" class="form-control form-control-sm"  v-model="newLocationEntry.bnB_Location_Name">
</div>


<div class="form-group"><label  >Compound Category</label>
            <select class="form-control form-control-sm" id="shiftid"  v-model="newLocationEntry.compoundCategory"  ><option value="Master" >Master</option> <option value="Final">Final</option><option value="Outside" >Outside</option><option value="Part Skid" >Partskid</option></select>

</div>
 <!-- <div class="form-group"><label  >Plant</label>
          <select class="form-control form-control-sm" id="plantid"  v-model="newLocationEntry.plant_Id"   ><option value="1" >1001</option> <option value="2">1004</option></select>
</div> -->

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addLocation(); " > Add Location </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Location</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">

<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentLocation.bnB_Location_id">
</div>
<div class="form-group"><label  >Plant</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentLocation.plant_Name">
</div>
<div class="form-group"><label  >Location</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentLocation.bnB_Location_Name">
</div>



<div class="form-group"><label  >Category</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentLocation.compoundCategory">
</div>
<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentLocation.bnB_Location_id">
</div>

 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="CurrentLocation.plant_Id" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Id" :key="planttypeitem.plant_Id">{{planttypeitem.plant_Name}} </option>
  </select>
</div>


<div class="form-group"><label  >Location</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="CurrentLocation.bnB_Location_Name">
</div> 

 <div class="form-group"><label  >Compound Category</label>
            <select class="form-control form-control-sm" id="shiftid"  v-model="newLocationEntry.compoundCategory"  ><option value="Master" >Master</option> <option value="Final">Final</option><option value="Outside" >Outside</option><option value="Part Skid" >Part Skid</option></select>

</div>

 <!-- <div class="form-group"><label  >Plant</label>
          <select class="form-control form-control-sm" id="plantid"  v-model="CurrentLocation.plant_Id"   ><option value="1" >1001</option> <option value="2">1004</option></select>
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; UpdateLocation();" > Update </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete </h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Location ? </h4>
<h5> You are deleting {{ this.CurrentLocation.bnB_Location_id +' || '+ this.CurrentLocation.bnB_Location_Name }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
const apiplanturl =  'PlantMaster'
const apiurl =  'BNB_Location_Master'
const apicompoudtypeurl =  'BNB_CompoundType_Master'
const items = [
  { key: 'bnB_Location_id', _style:'min-width:200px' },
  { key: 'bnB_Location_Name', _style:'min-width:100px;' },
  { key: 'compoundCategory', _style:'min-width:100px;' },
   { key: 'Plant', _style:'min-width:100px;' },
 
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
              { key: 'bnB_Location_id' , label: ' Id',},
                   { key: 'plant_Name', label: 'Plant', },
              { key: 'bnB_Location_Name', label: 'Location Name', },
                { key: 'compoundCategory', label: 'Compound Category', },
                
             { key: 'show_details',  label: '',  _style: 'width:30%', },     
                 
      ],
  CurrentLocation:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
 plantItems:[],
  newLocationEntry: {  bnB_Location_id: 0, bnB_Location_Name: "",  compoundCategory:"",plant_Id: 0,  bnB_Location_Status: true,  Location_TypeId: 0, status :true}, }
  },
 

  
  mounted()
  {
   this.getAllLocations();
   this.getAllPlant();
 //  this.getAllCompoundTypes();
  },

  methods:
  {
   getAllLocations: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.items =response.data.filter(x => x.status == 1);
       // this.subitems = response.data.fgS_FIFO_LocationEntry_Type_Master;

       }
    });
   },
    getAllPlant: function()
   {
     //alert(this.$url + apicompoudtypeurl);
    Vue.axios.get(this.$url + apiplanturl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.plantItems =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

       }
    });
   },
  //  getAllCompoundTypes: function()
  //  {
  //    //alert(this.$url + apicompoudtypeurl);
  //   Vue.axios.get(this.$url + apicompoudtypeurl)
  //   .then((response)=>{
  //   if(response.data.error)
  //      {
  //        this.errMsg=response.data.message;
  //      }
  //      {
  //       this.compoundtypeitems =response.data.filter(x => x.status == true);
  //      // this.subitems = response.data.fgS_FIFO_CompoundEntry_Type_Master;

  //      }
  //   });
  //  },
  SelectLocation(Location)
    {
     this.CurrentLocation=Location;
      
    },
       
  addLocation()
  {


if(this.newLocationEntry.bnB_Location_Name == "" )

{
   this.SuccessMsg = "Please enter all fields";
  this.smallModal = true;
  this.ShowAddModal = true;
    
}
 else if(this.items.find(x => x.bnB_Location_Name == this.newLocationEntry.bnB_Location_Name && x.bnB_Location_Status == true ))
     {
      
       this.SuccessMsg=  this.newLocationEntry.bnB_Location_Name +" already exist. ";
       this.smallModal = true;
        this.ShowAddModal = true;
      }
    
    else
     {
      
       Vue.axios.post(this.$url + apiurl ,this.newLocationEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        location.reload();
      // this.getAllLocations();
       }
      })
     }
   },
 
 UpdateLocation()
  {
    

   
    this.newLocationEntry.bnB_Location_Name = this.CurrentLocation.bnB_Location_Name
    this.newLocationEntry.plant_Id = this.CurrentLocation.plant_Id
    if((this.CurrentLocation.bnB_Location_Name != this.newLocationEntry.bnB_Location_Name ) && this.items.find(x => x.bnB_Location_Name == this.newLocationEntry.bnB_Location_Name && x.bnB_Location_Status == true ))
      {
       
       this.SuccessMsg= "Location " + this.newLocationEntry.bnB_Location_Name +" already exist.";
       this.smallModal = true;
     }
   
    else if(this.newLocationEntry.bnB_Location_Name == "" )
    {
 
    this.SuccessMsg = "Please enter all the fields";
    this.smallModal = true;
    }
     else
     {
       
       this.newLocationEntry.bnB_Location_id = this.CurrentLocation.bnB_Location_id

       //alert(this.CurrentLocation.bnB_Location_id)
       Vue.axios.put(this.$url + apiurl+ "/" + this.CurrentLocation.bnB_Location_id ,this.newLocationEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllLocations();
        // response.reload();
       }
    })
   }
   
   },

  deleteItem()
    {
      var bnB_Location_id = this.CurrentLocation.bnB_Location_id;
        axios({   method: 'delete',
           url: this.$url + apiurl +"/"+ bnB_Location_id
    });
        this.SuccessMsg=" bnB_Location_Status Changed to Inactive Succesfully"
        this.smallModal = true;
       
        //this.getAllLocations();
             location.reload();
    }, 
      
  
    },
  
    }
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>