<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Banbury Compound Type  </h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="20"
      pagination
      hover
      striped
      border
      sorter
     >
      <!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectCompoundType(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectCompoundType(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectCompoundType(item)"> Details </CButton>
    </template>
    </CDataTable>
  <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Compound Type</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Compound Type</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">


<div class="form-group"><label  >Compound Type</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="newCompoundTypeEntry.compound_TypeName">
</div>




<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addCompoundType(); " > Add CompoundType </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Compound Type</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">

<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentCompoundType.compound_TypeId">
</div>

<div class="form-group"><label  >CompoundType</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentCompoundType.compound_TypeName">
</div>




<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentCompoundType.compound_TypeId">
</div>



<div class="form-group"><label  >CompoundType</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="CurrentCompoundType.compound_TypeName">
</div> 



<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; UpdateCompoundType();" > Update </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete </h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Compound Type ? </h4>
<h5> You are deleting {{ this.CurrentCompoundType.compound_TypeId +' || '+ this.CurrentCompoundType.compound_TypeName }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
const apiurl =  'BNB_CompoundType_Master'

const items = [
  { key: 'compound_TypeId', _style:'min-width:200px' },
  { key: 'compound_TypeName', _style:'min-width:100px;' },
 
 
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
              { key: 'compound_TypeId' , label: ' Id',},
              { key: 'compound_TypeName', label: 'Compound Type', },
             
             { key: 'show_details',  label: '',  _style: 'width:30%', },     
                 
      ],
  CurrentCompoundType:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
 
  newCompoundTypeEntry: {  CompoundType_ID: 0, compound_TypeName: "",  status: true}, }
  },
 

  
  mounted()
  {
   this.getAllCompoundTypes();
  
  },

  methods:
  {
   getAllCompoundTypes: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.items =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_CompoundTypeEntry_Type_Master;

       }
    });
   },
 
  SelectCompoundType(CompoundType)
    {
     this.CurrentCompoundType=CompoundType;
      
    },
       
  addCompoundType()
  {


if(this.newCompoundTypeEntry.compound_TypeName == "" )

{
   this.SuccessMsg = "Please enter all fields";
  this.smallModal = true;
  this.ShowAddModal = true;
    
}
 else if(this.items.find(x => x.CompoundType_Code == this.newCompoundTypeEntry.compound_TypeName && x.status == true ))
     {
      
       this.SuccessMsg=  this.newCompoundTypeEntry.compound_TypeName +" already exist. ";
       this.smallModal = true;
        this.ShowAddModal = true;
      }
    
    else
     {
      
       Vue.axios.post(this.$url + apiurl, this.newCompoundTypeEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        location.reload();
      // this.getAllCompoundTypes();
       }
      })
     }
   },
 
 UpdateCompoundType()
  {
    

   
       this.newCompoundTypeEntry.compound_TypeName = this.CurrentCompoundType.compound_TypeName

    if((this.CurrentCompoundType.compound_TypeName != this.newCompoundTypeEntry.compound_TypeName ) && this.items.find(x => x.compound_TypeName == this.newCompoundTypeEntry.compound_TypeName && x.status == true ))
      {
       
       this.SuccessMsg= "CompoundType " + this.newCompoundTypeEntry.compound_TypeName +" already exist.";
       this.smallModal = true;
     }
   
   else if(this.newCompoundTypeEntry.compound_TypeName == "" )
    {
 
    this.SuccessMsg = "Please enter all the fields";
    this.smallModal = true;
    }
    else
     {
       
       this.newCompoundTypeEntry.compound_TypeId = this.CurrentCompoundType.compound_TypeId

      // alert(this.CurrentCompoundType.compound_TypeId)
       Vue.axios.put(this.$url + apiurl+ "/" + this.CurrentCompoundType.compound_TypeId ,this.newCompoundTypeEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllCompoundTypes();
        // response.reload();
       }
    })
   }
   
   },
   
 

  deleteItem()
    {
      
      var compound_TypeId = this.CurrentCompoundType.compound_TypeId;
     
       axios({   method: 'delete',
           url: this.$url + apiurl +"/"+ compound_TypeId
    });
      
               
          location.reload();
    }, 
      
  
    },
  
    }
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>