<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Material Mapping</h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="20"
      pagination
      hover
      striped
      border
      sorter
     >
      <!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectMapping(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectMapping(item)" >Delete</CButton>
      <!-- <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectMapping(item)"> Details </CButton> -->
    </template>
    </CDataTable>
  <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Material Mapping</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Material Mapping</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">
 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="newMappinEntry.plant_Code" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Code" :key="planttypeitem.plant_Code">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

<div class="form-group"><label  >Machine Center</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="newMappinEntry.machine_Center">
</div>

<div class="form-group"><label  >Scheduled Material</label>
 <input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="newMappinEntry.scheduled_Material">
</div>
<div class="form-group"><label  > Input Material</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="newMappinEntry.input_Material">
</div>

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addMapping(); " > Add Mapping </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Mapping</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">

<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentMapping.Mapping_ID">
</div>


<div class="form-group"><label  >plant_Code</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentMapping.plant_Code">
</div>
<div class="form-group"><label  > Machine Center</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm" placeholder="4" v-model="CurrentMapping.machine_Center">
</div>
<div class="form-group"><label  >Scheduled Material</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm" placeholder="10"  v-model="CurrentMapping.scheduled_Material">
</div>

<div class="form-group"><label  >Input Material</label>
<input type="text" name="mhE_Name" readonly class="form-control form-control-sm"  v-model="CurrentMapping.input_Material">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label  > Id</label>
<input type="text" name="mhE_Id" readonly class="form-control form-control-sm"  v-model="CurrentMapping.mapping_ID">
</div>
 <div class="form-group"><label  >Plant</label>
  <select class="form-control" v-model="newMappinEntry.plant_Code" >
    <!-- <option value= "Select Material Type" selected disabled>Select Material Type</option> -->
    <option v-for="planttypeitem in plantItems" :value="planttypeitem.plant_Code" :key="planttypeitem.plant_Code">{{planttypeitem.plant_Name}} </option>
  </select>
</div>

<div class="form-group"><label  >Machine Center</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="CurrentMapping.machine_Center">
</div> 


<div class="form-group"><label  >Scheduled Material</label>
<input type="text" name="mhE_Type" class="form-control form-control-sm"   v-model="CurrentMapping.scheduled_Material">
</div>
<div class="form-group"><label  > Input Material</label>
<input type="text" name="mhE_Name" class="form-control form-control-sm"  v-model="CurrentMapping.input_Material">
</div>
        

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; UpdateMapping();" > Update </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete </h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Mapping ? </h4>
<h5> You are deleting {{ this.CurrentMapping.Mapping_ID  }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem(); "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>
<script>
const apiurl =  'BNB_MaterialMapping'
const apicompoudtypeurl =  'BNB_MappingType_Master'
const apiplanturl =  'PlantMaster'
const items = [
  { key: 'mapping_ID' , label: ' Id',},
                 { key: 'plant_Code', label: 'Plant', },
              { key: 'machine_Center', label: 'Machine Center', },
              { key: 'scheduled_Material', label: ' Scheduled Material', },
              { key: 'input_Material', label: 'Input Material', },
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
               { key: 'mapping_ID' , label: ' Id',},
                 { key: 'plant_Code', label: 'Plant', },
              { key: 'machine_Center', label: 'Machine Center', },
              { key: 'scheduled_Material', label: ' Scheduled Material', },
              { key: 'input_Material', label: 'Input Material', },
             
             { key: 'show_details',  label: '',  _style: 'width:30%', },     
                 
      ],
  CurrentMapping:"",
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
 plantItems:[],
  newMappinEntry: {  mapping_ID: 0, plant_Code: "",  machine_Center: "", scheduled_Material:"",input_Material:""}, }
  },
 

  
  mounted()
  {
   this.getAllMapping();
   this.getAllPlant();
  },

  methods:
  {
   getAllMapping: function()
   {
     //alert(this.$url + apiurl);
    Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.items =response.data;
       // this.subitems = response.data.fgS_FIFO_MappinEntry_Type_Master;

       }
    });
   },
    getAllPlant: function()
   {
     //alert(this.$url + apicompoudtypeurl);
    Vue.axios.get(this.$url + apiplanturl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.plantItems =response.data.filter(x => x.status == true);
       // this.subitems = response.data.fgS_FIFO_MappinEntry_Type_Master;

       }
    });
   },

  SelectMapping(Mapping)
    {
     this.CurrentMapping=Mapping;
      
    },
       
  addMapping()
  {

//alert(this.newMappinEntry.plant_Code + this.newMappinEntry.machine_Center +this.newMappinEntry.scheduled_Material+this.newMappinEntry.input_Material)
if(this.newMappinEntry.plant_Code == "" || this.newMappinEntry.machine_Center == "" ||this.newMappinEntry.scheduled_Material == "" ||this.newMappinEntry.input_Material == "" )

{
   this.SuccessMsg = "Please enter all fields";
  this.smallModal = true;
  this.ShowAddModal = true;
    
}

    
    else
     {
      
       Vue.axios.post(this.$url + apiurl ,this.newMappinEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        location.reload();
      this.getAllMappings();
       }
      })
     }
   },
 
 UpdateMapping()
  {
    

   
  this.newMappinEntry.mapping_ID = this.CurrentMapping.mapping_ID
  
  alert(this.newMappinEntry.plant_Code + this.newMappinEntry.machine_Center +this.newMappinEntry.scheduled_Material+this.newMappinEntry.input_Material)

if(this.newMappinEntry.plant_Code == "" || this.newMappinEntry.machine_Center == "" ||this.newMappinEntry.scheduled_Material == "" ||this.newMappinEntry.input_Material == "" )
    {
 
    this.SuccessMsg = "Please enter all the fields";
    this.smallModal = true;
    }
    else
     {
       
       this.newMappinEntry.mapping_ID = this.CurrentMapping.mapping_ID

       alert(this.CurrentMapping.mapping_ID)
       Vue.axios.put(this.$url + apiurl+ "/" + this.CurrentMapping.mapping_ID ,this.newMappinEntry).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllMappings();
        // response.reload();
       }
    })
   }
   
   },

  deleteItem()
    {
      var mapping_ID = this.CurrentMapping.mapping_ID;
        axios({   method: 'delete',
           url: this.$url + apiurl +"/"+ mapping_ID
    });
        this.SuccessMsg=" Mapping removed Succesfully"
        this.smallModal = true;
       
        this.getAllMappings();
          location.reload();
    }, 
      
  
    },
  
    }
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>