<template>
  <div>
    <div>
<CModal
           title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Trace Display </h5>
    
    <CDataTable
    
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="10"
      pagination
      hover
      striped
      border
    
     >
   

<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >      
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectMaterial(item)"> Display </CButton>
    </template> 

    </CDataTable>
      
  </CCardBody>

 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog  modal-lg" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"> Display</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body modal-lg">

<form >

  <div>
        <!-- <CListGroupItem href="#" color="secondary"> -->
    <CRow>
       <CCol sm="2" > Item Code</CCol>
      <CCol sm="3">
        <CInput
          readonly
          v-model = CurrentMaterial.material_Code
        />
      </CCol>
     <CCol sm="1" > Truck </CCol>
      <CCol sm="3">
        <CInput
          readonly
         v-model = CurrentMaterial.mhename
        />
      </CCol>
    </CRow>
       
     <CRow>
       <CCol sm="2" >Color Code</CCol>
      <CCol sm="3">
        <CInput
          readonly
          v-model = CurrentMaterial.colorCode
        />
      </CCol>
      <CCol sm="1" >  Date</CCol>
      <CCol sm="3">
        <CInput
         readonly
        v-model   = CurrentMaterial.prod_Date
        />
      </CCol>
    </CRow>
      <CRow>
      
      <CCol sm="2" >  Shift</CCol>
      <CCol sm="3">
        <CInput
         readonly
         v-model  = CurrentMaterial.shift
        />
      </CCol>
         <CCol sm="1" >  Time</CCol>
      <CCol sm="3">
        <CInput
         readonly
        v-model   = CurrentMaterial.prod_Time
        />
      </CCol>
    </CRow>


       <CRow>
      
   
    </CRow>
       <CRow>
       <CCol sm="2" >Treads</CCol>
      <CCol sm="3">
        <CInput
          readonly
          v-model = CurrentMaterial.quantity
        />
      </CCol>
      <!-- <CCol sm="2" >  Ageing Period</CCol>
      <CCol sm="3">
        <CInput
         readonly
         v-model   = this.CurrentMaterial.ageing_Time
        />
      </CCol> -->
  <CCol sm="1" > Age</CCol>
      <CCol sm="5">
        <CInput
          readonly
         v-model= CurrentMaterial.currentAge
        />
      </CCol>
    </CRow>
        <CRow>
        <CCol sm="2" >Status </CCol>
      <CCol sm="3">
        <CInput
         readonly
        v-model   = CurrentMaterial.ageStatus
        />
      </CCol>

     <div v-if="issw()">
         <CCol >
           <CRow>
             
               <CCol >  <CButton size="sm" color="dark" class="ml-1"  @click="updateTakenToTb()" >Take To Tyre Building</CButton> </CCol>
          </CRow>
         </CCol>
        </div>










      <!-- <CCol sm="1" > </CCol>
      <CCol sm="3">
  
 <CButton size="sm" color="dark" class="ml-1"  @click="updateTakenToTb()" >Take To Tyre Building</CButton>
      </CCol> -->
      
    </CRow>
  </div>

</form>

</div>
</div>
</div>
</div>




</div>
</template>

<script>

const apiget =  'Trace_Production/'
const apitakentotb = 'Trace_Taken_ToTB/'
const items = [
  { key: 'production_Id',  },
  { key: 'material_Id',  },
  { key: 'prod_Date', }, 
  { key: 'shift_Id',    },
  { key: 'mhename',      },
  { key: 'workCent_Id',     },
   { key: 'quantity',     },
 ]   

//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
       // { key: 'show_details1',  label: '',  _style: 'width:1%', },
            
              { key: 'production_Id' , label: 'Id',},
              { key: 'material_Code', label: 'Tread Code',},
               { key: 'size_Code', label: 'Color Code',},
            //  { key: 'prod_Date', label: 'Time',  },             
              //{ key: 'shift',  label: 'Shift',   },              
              { key: 'mhename',  label: 'Truck', },              
              { key: 'workCenterName',  label: 'Extruder',  },              
              { key: 'quantity',  label: 'Treads',   },              
                    
              { key: 'show_details',  label: '',  _style: 'width:35%', },     
      ],

  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentMaterial:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  agestatus:"",

  updatetb : { takenToTb_Id:0, production_Id :0, requestID:0,takenToTb_IssuedTime:"",takenToTB_ReqTime:"", takenToTB_By :"123366", issue_Status :1, mhe_Id :0,status :0,mhename:""  }




   }
  },
  
  
  mounted()
  {
   this.getAllProductionDetails();
  },

  methods:
  {
   getAllProductionDetails: function()
   {

   Vue.axios.get(this.$url+ apiget)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.status = 1 && x.prod_Status == 4);
        this.agestatus = this.items.ageStatus;
     

       }
    });
   },

   
  addMaterials()
  {
   //  alert(this.$url+ apiget),
    Vue.axios.post(this.$url+ apiget,this.newMaterial).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
      //  this.getAllMaterialDetails();
       }
    })
   },

 
      
  SelectMaterial(Material)
    {
     this.CurrentMaterial = Material;
  this.CurrentMaterial.prod_Date=this.CurrentMaterial.prod_Date.slice(0,10);
   this.CurrentMaterial.prod_Time=this.CurrentMaterial.prod_Time;
    },

 updateTakenToTb()
    {

     this.updatetb.mhename = this.CurrentMaterial.mhename,
     this.updatetb.production_Id =this.CurrentMaterial.production_Id,
    this.updatetb.RequestID=0,
    this.updatetb.TakenToTb_IssuedTime=new Date();
    this.updatetb.TakenToTb_IssuedTime=new Date();
    this.updatetb.TakenToTB_ReqTime=new Date();
     this.updatetb.takenToTB_By="111111",
     this.updatetb.issue_Status= 1,
     this.updatetb.mhe_Id=this.CurrentMaterial.mhE_Id,
     this.updatetb.status=1,
  


   // alert(this.updatetb.production_Id)
    Vue.axios.put(this.$url + apitakentotb + this.updatetb.production_Id ,this.updatetb).then((response)=>{
    //alert(this.Currentproductiondetails.taketotb)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else if(response.data == "1")
       {
         
      this.SuccessMsg = "Already Updated",
      this.smallModal = true;

       }
       else
       {
         this.SuccessMsg ="Records Updated To Taken To TB.."
         this.smallModal = true;
         this.ShowDetailsModal = false;
        }
    })

    },
   issw()
  {
     
      if (this.CurrentMaterial.mhename.includes("SW"))
      {  return true;   }
       else 
      {    return false;  }
    },
    
    },
  
 

}
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>