<template>
  <div cloak>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}
</CModal>  
<CCardBody>
    <h5>Skid Retrieval</h5>    
  <form class="formppc">
  <div class="form-row">
    <div class="col">
    <CButton size="lg" color="secondary" @click="ShowDetailModal=true; SelectBanbury(101); getAllPPCShedule();"> 101</CButton>
    </div>
    <div class="col">
     <CButton size="lg" color="secondary" @click="ShowDetailModal=true; SelectBanbury(102); getAllPPCShedule();"> 102</CButton>
    </div>
     <div class="col">
      <CButton size="lg" color="secondary" @click="ShowDetailModal=true; SelectBanbury(103); getAllPPCShedule();"> 103</CButton>
    </div>
    <div class="col">
    <CButton size="lg" color="secondary" @click="ShowDetailModal=true; SelectBanbury(104); getAllPPCShedule();"> 104</CButton>
    </div>
  </div>
</form>     
  </CCardBody>
 </div>
<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailModal">
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"></h5>
    <CButton color="info" variant="outline" @click="ShowDetailModal=false; ">Back</CButton>
  </div>
<div class="modal-body modal-xl " >

<form>
  <div>
 <form>
  <div class="row">
    <div class="col">   
        <div><label>Banbury</label></div>     
      <input type="text"  class="form-control" disabled placeholder="Banbury" id="banbury" v-model = this.searchdata.bnbid>
    </div>
   
    <div class="col">
          <div><label>Shift</label></div>     
      <input type="text" class="form-control" disabled placeholder="Shift" id="shift" v-model = this.searchdata.shift>
    </div>
     
  </div>
   <div class="row">
  <div class="col">
          <div><label>Date</label></div>     
      <input type="text" class="form-control" disabled placeholder="Date" id="date" v-model = this.searchdata.date>
  </div>
     <div class="col">
        <div><label>.</label></div>  
    <CButton color="info" variant="outline" @click=" getAllPPCShedule();">Refresh</CButton>
    </div>
   
    </div>
 
<CCardBody> 
    <CDataTable    
      :items="items"      
      :fields="fields"      
      hover
      striped
      border>   
<!--Adding Customs buttons to each row -->
 
       <template #show_details="{item}">     
        
<CButton color="info" variant="outline"   block="inline" @click="ShowCompoundDetailModal=true; ShowDetailModal=false;
 SelectLocation(item.mapped_Comp_Code); getstockinFIFO(item.comp_Code); SelectEntry(item);"> {{ item.comp_Code + " - " +item.mapped_Comp_Code}}</CButton>  
  
     </template>
    </CDataTable>    
  </CCardBody>
</form>
  </div>
</form>
</div>
</div>
</div>
</div>


<!--  -->
<!-- ShowCompoundDetailModal -->
<div id="overlay" v-if="ShowCompoundDetailModal" v-cloak >
<div class="modal-dialog  modal-xl" >
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"></h5>
     <CButton color="info" variant="outline" @click="ShowCompoundDetailModal=false; ">Back</CButton>
   <CButton color="info" variant="outline" @click="Refresh();">Refresh</CButton>
    <!-- <span aria-hidden="true">&times;</span> -->
    
  </div>
<div class="modal-body modal-xl " >
<form>
  <div>
 <form>
  <div class="row">
    <div class="col">   
        <!-- <div class="col "><label>Sch-Compound: {{this.searchdata.comp_Code}}/ Input:{{FIFOlocation[0].compound_Code}}  </label></div>   -->
           <div class="col"><label></label></div>        

    </div >
     <div class="col">
     
   
    </div>
  </div>  
   <div class="row">
    <div class="col">   
        <div><label>Scan Barcode</label></div> 
            <form action="#" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  name="Barcode"
                  class="form-control form-control-sm"
               @keyup.capture ="onBarcodeScanned(scannedItem.barcode)" 
                  placeholder="Barcode"
                  v-model="scannedItem.barcode"
                />
              </div>            

            </form>
         
    </div>
  </div>
<CCardBody> 
    <CDataTable    
      :items="FIFOlocation"      
      :fields="fields2"      
      hover
      striped
      border>   
<!--Adding Customs buttons to each row -->
       <template #show_details="{item}">    
       <CButton color="primary" variant="outline" disabled block  v-on="SelectEntryCompound(item) " >{{item.location +" - "+ item.prod_Barcode}}
      </CButton>  
          <!-- <CInput  color="danger" variant="outline"    disabled  :value="item.prod_Barcode +' - '+ item.location" @input="item = $event.target.value" /> -->
          <!-- <Clabel   color="danger" variant="outline"    disabled  v-model="item.prod_Barcode" >{{item.prod_Barcode +" - "+ item.location}}</Clabel> -->

     </template>
    </CDataTable>    
  </CCardBody>

</form>
  </div>
</form>
</div>
</div>
</div>
</div>
<!--  -->

<!-- Alert hold Modal
<div id="overlay" v-if="ShowHoldAlert">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Adding to Hold</h5>
    <button type="button" class="close"  @click="ShowHoldAlert=false; ShowDetailModal=true;">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to add to hold ? </h4>
<h5> You are adding {{this.CurrentEntry.skid_NO +' || '+ this.CurrentEntry.batch_No}} to Hold</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowHoldAlert=false; AddToProduction('HOLD'); ShowDetailModal=true; "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowHoldAlert=false ;ShowDetailModal=true;"> No </button>
</div>
</div>
</div>
</div> -->
</div>
</template>
<script>

   const items = [
  //{ key: ' production_Id' , label: 'Id',},
// { key: 'comp_Code' , label: 'Compound Code',},
//   { key: 'sch_value', label: 'Sch_Value' },
  // { key: 'prod_Barcode',  label: 'Sch_Remarks' },
           
  { key: 'comp_Code',  label: '',     _style: 'width:100%', },

 ] 
 const apiurlproduction = 'BNB_Production_Entry/'
//  const apigetsw =  'Trace_Storage_Location_Master/GetTrace_Storage_Location_MasterSW/'
 const apigetbanbury =  'BNB_Master'
 const apiurl =  'BNB_Production_Entry/'
 const apigetFIFO =  'BNB_Production_Entry/GetFiveLocationforcompounds/'
 const apiUpdateConsumeption =  'BNB_Production_Entry/UpdateConsumeptionStatus/'
 const apiholdurl =  'BNB_Hold_Reason/'
//  const apitag =  'Trace_Tag_Generation/'
//  const apihold =  'Trace_Hold/'
const apilocationurl =  'BNB_Location_Master'
//  const apiholdreason =  'Trace_Hold_Reasons/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
//import VueBarcodeScanner from 'vue-barcode-scanner'
Vue.use(VUEAxios,axios)
//Vue.use(VueBarcodeScanner, options)
export default {
 
  data ()
  {
    return {
    ShowDetailModal : "",
     ShowCompoundDetailModal:false,
    items: items.map((item, id) => { return {...item, id}}),
  // CurrentdeleteEntry : CurrentdeleteEntry[0],
    fields: [                    
              { key: 'show_details',   label: 'Schedule Item  -  Input Item',  _style: 'width:100%', },
      ],
       fields2: [                    
              { key: 'show_details',  label: 'Locations-Barcode',  _style: 'width:100%', },
      ],
  Reasonitems:"",
  ShowHoldAlert:"",
  ShowDeleteAlert:"",
  ShowRevertDeleteAlert:"",
 
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  newEntry:"",
 

  CurrentEntry:{
  bnB_Prod_Id: 0,
  plant_Code: "",
  prod_Barcode: "",
  banbury: "",
  shift_Date: "",
  shift: "",
  compound_Code: "",
  specail_Trails: "",
  skid_NO: 0,
  batch_No: "",
  no_OF_Batches: 0,
  location: "",
  operator_Code: "",
  trucker_Code: "",
  prod_Status: "",
  prod_Remarks: "",
  lab_EmpCode: "",
  tech_Status: "",
  tech_Remarks: "",
  tech_EmpCode: "",
  bnB_ProdTime: "",
  ageing_Time: "",
  use_Before: "",
  last_TagPrinting_Time: "",
  consumtion_Status: "",
  consumption_Time: "",
  consumption_BNB: "",
  forkliftOpt_Code: "",
  ageing_Status: 0,
  created_Date: "",
  created_By: "",
  modified_DateTime: "",
  modified_By: "",
  module_Name: "",
  hold_reason: "",
  hold_reason_id: 0,
  batchI:"",
  batchII:"",
  compound_Code : "",
  hold_reason_id :0,
  module_Name : "",
  compound_Code : "",
  bnB_Name : "",
  hold_reason : "",
  location_Name : "",
  bNBShiftDate : "",
  batchI : "",
  batchII : ""
},


bnbid:"",
  banburyitems:[],
  FIFOlocation:[],
  scannedItem:{barcode:""},
  banburyname:"",
  mheitemsn:[],
  mheitemname:"",
 // CurrentdeleteEntry:"",
  ShowUpdateModal:"",
  smallModal: false,
  searchdata: { bnbid:"",shift:"",date:"",comp_Code:"",barcode:""},
  Current_ShiftEntry:{Current_Date: new Date().toISOString().slice(0,10),Current_Shift:"" ,Current_ShiftId :0},
  barcode :"",
  comp_Code :"",
  BarcodeId :0,
  holdreason:[],
  holdreasonName:"",
  ShowDeleteModal1:"",
   locitems:[],
   locName:[],
   location_Name:"",
  holditems :[],
   bNB_Consump:{ forkliftOpt_Code:"",bnB_Prod_Id:0,consumptionBnb:""},


  }
  
  },
 

  mounted()
  {
    //alert("")
  //this.BNB_Production_Entry();
   this.getAllBanbury();
   
      this.getAllLocations();
  this.getAllHoldReasons();
 //this.getAllStorageLocDetails();
  },

  methods:
  {

 SelectBanbury(bnb_name) {
this.searchdata.bnbid =bnb_name;
this.searchdata.shift =this.Fncurrentshift();
this.searchdata.date = new Date(Date.now()).toLocaleString();

 },
   Refresh()
  {
    this.CurrentEntry.skid_NO = 0;
    this.CurrentEntry.batchII = 0;
    this.CurrentEntry.batchI = 0;
    this.CurrentEntry.compound_Code = "";  
    this.CurrentEntry.prod_Barcode = "";  
   this.getstockinFIFO()
   this.scannedItem.barcode="";
     
  },

 SelectLocation(mapped_Comp_Code) {
this.searchdata.comp_Code =mapped_Comp_Code;


 },       

Fncurrentshift()
{
          
           var Current_Shift
           
           var curTime = new Date().toTimeString('HHmmss')         
           var ShiftA = "06:01:00"           
           var ShiftB = "14:01:00"
           var ShiftC = "22:01:00"
           var EndDayTime ="23:59:55"
           var NextDayStartTime = "12:00:00"
       
            if (curTime >= ShiftA && curTime < ShiftB)
            { Current_Shift = "A";      this.Current_ShiftEntry.CurrentShiftId = 1;}
            else if (curTime >= ShiftB && curTime < ShiftC)
            { Current_Shift = "B";      this.Current_ShiftEntry.CurrentShiftId  = 2;}
            else if (curTime >= ShiftC && curTime <= EndDayTime)
            { Current_Shift = "C";      this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else if (curTime >= NextDayStartTime && curTime < ShiftA)
            { Current_Shift = "C";  this.Current_ShiftEntry.CurrentShiftId  = 3;}
            else
            { Current_Shift = "G"; this.Current_ShiftEntry.CurrentShiftId  = 4; }
              
            return Current_Shift;
            
},
onBarcodeScanned (barcode) {
     var v = this;
     this.$nextTick(() => {      
          v.UpdateBarcodeDetails(barcode); 
       });
     },
  
    UpdateBarcodeDetails(barcode)
  {
    


     
try 
{
 
  if( this.scannedItem.barcode === this.FIFOlocation[0].prod_Barcode )
  { 

   this.bNB_Consump.bnB_Prod_Id = this.FIFOlocation[0].bnB_Prod_Id;
    this.bNB_Consump.forkliftOpt_Code = "2222222";
     this.bNB_Consump.consumptionBnb = this.searchdata.bnbid;

  Vue.axios.put(this.$url + apiUpdateConsumeption,this.bNB_Consump).then((response)=>{
         console.log(this.bNB_Consump)
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         
         this.SuccessMsg ="Records Updated Successfully.."
         location.reload();
       }
    })    
  }
  else
  {
      
     alert("barcode doesnot match" )  
    
  }
    
  
} 
catch (error)
{
  
}

      

   },

getAllBanbury: function()
   {
  
   Vue.axios.get(this.$url + apigetbanbury)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
  
        this.banburyitems = response.data.filter(x => x.bnB_Status == true);
       
       }
    });
   },
getstockinFIFO: function()
   {
  
  var comp_Code= this.searchdata.comp_Code;
   Vue.axios.get(this.$url +apigetFIFO + comp_Code)
    .then((response)=>{
        
    if(response.data.error)
       {
         
         this.errMsg=response.data.message;
       }
    else
       {
  
        this.FIFOlocation = response.data
        console.log(this.FIFOlocation)
      
       }
    });
   },



   getAllLocations: function()
   {

    Vue.axios.get(this.$url + apilocationurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.locitems =response.data.filter(x => x.bnB_Location_Status == true);
  

       }
    });
   },
  getAllHoldReasons: function()
   {
    Vue.axios.get(this.$url + apiholdurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
       {
        this.holditems =response.data.filter(x => x.status == true);
     
       }
    });
   },
 

  

getAllPPCShedule()
{
  

  var bnb= this.searchdata.bnbid;
  var shiftid= 'CurrrentShift';

if(bnb=="")
{  
//   wait for user input
}
else if (shiftid =="")
{
//     wait for user input
}
else
{
 
     Vue.axios.get(this.$url + apiurl + bnb +'/'+ shiftid )
    .then((response)=>{
    if(response.data.error)
       {
       this.errMsg=response.data.message;
       }
    else if(response.data.length == 0)
     {
     this.SuccessMsg = "No data"
      this.smallModal = true;
      location.reload();
     }
    else
      {
        this.items = response.data;
   
       }
    });
}
},

 SelectEntry(Entry)
  {
     this.CurrentEntry = Entry;

       this.ShowDetailModal = true;
       
  },
 SelectEntryCompound(Entry)
  {
     this.CurrentEntry = Entry;
   // alert( this.CurrentEntry.prod_Barcode);

       this.ShowCompoundDetailModal = true;
       
  },





 getUserIP(onNewIP) { //  onNewIp - your listener function for new IPs
    //compatibility for firefox and chrome
    var myPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection;
    var pc = new myPeerConnection({
        iceServers: []
    }),
    noop = function() {},
    localIPs = {},
    ipRegex = /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g,
    key;

    function iterateIP(ip) {
        if (!localIPs[ip]) onNewIP(ip);
        localIPs[ip] = true;
    }

     //create a bogus data channel
    pc.createDataChannel("");

    // create offer and set local description
    pc.createOffer(function(sdp) {
        sdp.sdp.split('\n').forEach(function(line) {
            if (line.indexOf('candidate') < 0) return;
            line.match(ipRegex).forEach(iterateIP);
        });
        
        pc.setLocalDescription(sdp, noop, noop);
    }, noop); 

    //listen for candidate events
    pc.onicecandidate = function(ice) {
        if (!ice || !ice.candidate || !ice.candidate.candidate || !ice.candidate.candidate.match(ipRegex)) return;
        ice.candidate.candidate.match(ipRegex).forEach(iterateIP);
    };
}

 
 
 },
     
 }
  
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
  
}
.formppc{
     display: inline-block;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
[v-cloak] {
  display: none;
}

</style>
