<template>
 <!-- <div v-if="!isMobile()">
  <desktop>
  </desktop>
</div>
<div v-else>
  <mobile>
  </mobile>
</div>  -->
  <div>
    <div  v-if="!isMobile()">
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Despatch Request Processing</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"     
    
      items-per-page-select
        :items-per-page="15"
      pagination
      hover
      striped
      border
      
     >
     <!-- table-filter -->
     <!-- sorter -->
    <template #show_details1="{item, index}">
        <td class="py-2">
          <CButton
            color="primary"
            variant="outline"
            square
            size="sm"
            @click="toggleDetails(item, index)"
          >
            {{Boolean(item._toggled) ? '-' : '+'}}
          </CButton>
        </td>
      </template>
   <template #details="{item}">
        <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
          <CCardBody>
             <CRow>
      <CCol sm="12">
        <CDataTable
          :items="item.icfgS_FIFO_Daily_Despatch_Transaction"
          :fields="subfields"
          hover
          striped
           small
            
        />
      </CCol>
    </CRow>
        
          </CCardBody>
        </CCollapse>
      </template>
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowIssueModal=true; SelectDespatchRequest(item)"> Issue </CButton>
      <!-- <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectDespatchRequest(item)" >Delete</CButton> -->
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectDespatchRequest(item)"> Details </CButton>
    </template>
    </CDataTable>
   
  </CCardBody>

 </div>

<!--/////////////////////////////////////desktop view ends here//////////// mobile view starts-->

<div  v-else>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Despatch Request Processing</h5>
   
    <CDataTable
      :items="items"
      :fields="mobfields"
      table-filter
    
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped
      border
     >
    <template #show_details1="{item, index}">
        <td class="py-2">
          <CButton
            color="primary"
            variant="outline"
            square
            size="sm"
            @click="toggleDetails(item, index)"
          >
            {{Boolean(item._toggled) ? '-' : '+'}}
          </CButton>
        </td>
      </template>
   <template #details="{item}">
        <CCollapse :show="Boolean(item._toggled)" :duration="collapseDuration">
          <CCardBody>
             <CRow>
      <CCol sm="12">
        <CDataTable
          :items="item.icfgS_FIFO_Daily_Despatch_Transaction"
          :fields="mobsubfields"
          hover
          striped
           small
            
        />
      </CCol>
    </CRow>
        
          </CCardBody>
        </CCollapse>
      </template>
  
      <CButton size="sm" color="info" class="ml-1"  @click="ShowIssueModal=true; SelectDespatchRequest(item)"> Issue </CButton>
      <!-- <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectDespatchRequest(item)" >Delete</CButton> -->
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectDespatchRequest(item)"> Details </CButton>
    
    </CDataTable>
   
  </CCardBody>

 </div>

<!--/////////////////////////////////////mobile view ends here////////////-->

<div id="overlay" v-if="ShowIssueModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Barcode Scanner</h5>
    <button type="button" class="close"  @click="ShowIssueModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<div class="form-group">
<input type="text" name="Barcode" class="form-control form-control-lg"  placeholder="Barcode" v-model="scannedItem.Barcode">
</div>



<div class="form-group">
<CButton size="sm" color="info" class=""  @click="getBarcodeDetails(scannedItem.Barcode); ShowUpdateModal=true; ShowIssueModal = false; " > Issue </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Despatch Request Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
   <label for="Desp_Req_Id">DespatchRequest Id </label>
<div class="form-group">
<input type="text" name="desp_Req_Id" class="form-control form-control-sm" readonly placeholder="DespatchRequest Id" v-model="CurrentDespatchRequest.desp_Req_Id">
</div>

<!-- <div class="form-group">
    <label for="Barcode">Barcode</label>
<input type="text" name="Barcode" class="form-control form-control-lg" readonly placeholder="Barcode" v-model="CurrentDespatchRequest.barcode">
</div> -->

<div class="form-group">
    <label for="MaterialDesc">Material </label>
<input type="text" name="MaterialDesc" class="form-control form-control-sm" readonly placeholder="Material " v-model="CurrentDespatchRequest.material_Desc">
</div>

<div class="form-group">
    <label for="customer_id">Customer </label>
<input type="text" name="customer_id" class="form-control form-control-sm" readonly placeholder="customer_id"  v-model="CurrentDespatchRequest.customer_Name">
</div>

<div class="form-group">
    <label for="quantity">Quantity</label>
<input type="text" name="quantity" class="form-control form-control-sm" readonly placeholder="quantity "  v-model="CurrentDespatchRequest.quantity">
</div>

<div class="form-group">
    <label for="requested_DateTime">Requested DateTime</label>
<input type="text" name="requested_DateTime" class="form-control form-control-sm" readonly placeholder="requested_DateTime"  v-model="CurrentDespatchRequest.requested_DateTime">
</div>

<div class="form-group">
    <label for="entered_By">Entered By</label>
<input type="text" name="entered_By" class="form-control form-control-sm" readonly placeholder="entered_By"  v-model="CurrentDespatchRequest.entered_By">
</div>

<div class="form-group">
    <label for="invoice_No">Invoice No</label>
<input type="text" name="invoice_No" class="form-control form-control-sm" readonly placeholder="invoice_No"  v-model="CurrentDespatchRequest.invoice_No">
</div>

<div class="form-group">
    <label for="invoice_Date">Invoice Date</label>
<input type="text" name="invoice_Date" class="form-control form-control-sm" readonly placeholder="invoice_Date"  v-model="CurrentDespatchRequest.invoice_Date">
</div>

<div class="form-group">
    <label for="request_Status">Request Status</label>
<input type="text" name="request_Status" class="form-control form-control-sm" readonly placeholder="request_Status"  v-model="CurrentDespatchRequest.statusName">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">
 <!-- scannedItem:{barcode:"",materialDesc:"",quantity:0,location_Id:0,prodDate:"",exp_Date:"",invoice_No:"",entryDate:"",prodDate:""}, -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"> Quantity Entry </h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">

<div class="form-group">
   <label for="barcode">Barcode</label>
<input type="text" name="barcode" class="form-control form-control-sm" readonly placeholder="barcode" v-model="scannedItem.barcode">
</div>

<div class="form-group">
   <label for="materialDesc">Material Description</label>
<input type="text" name="materialDesc" class="form-control form-control-sm"  readonly v-model="scannedItem.materialDesc">
</div>

<div class="form-group">
   <label for="location_Id">Location Id</label>
<input type="text" name="location_Id" class="form-control form-control-sm"   v-model="scannedItem.location_Id">
</div>

<div class="form-group">
   <label for="exp_Date">Exp Date</label>
<input type="text" name="exp_Date" class="form-control form-control-sm"  readonly  v-model="scannedItem.exp_Date">
</div> 

<div class="form-group">
   <label for="invoice_No">Invoice No</label>
<input type="text" name="invoice_No" class="form-control form-control-sm" readonly   v-model="scannedItem.invoice_No">
</div>
<div class="form-group">
   <label for="quantity_Despatched">Quantity Despatched</label>
<input type="text" name="quantity_Despatched" class="form-control form-control-sm"   placeholder="quantity_Despatched"  v-model="scannedItem.quantity_Despatched">
</div>
<div class="form-group">
   <label for="prodDate">Production Date</label>
<input type="text" name="prodDate" class="form-control form-control-sm" readonly    v-model="scannedItem.prodDate">
</div>
<div class="form-group">
   <label for="vehicle_number">Vehicle Number</label>
<input type="text" name="vehicle_number" class="form-control form-control-sm"   placeholder="vehicle_number"  v-model="scannedItem.vehicle_number">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false; addDespatchRequests();" > Issue  </button>
</div>
</form>

</div>
</div>
</div>
</div>


</div>
</template>

<script>


const items = [
  { key: 'desp_Req_Id' , label: 'Desp Req Id',_classes: 'font-weight-bold',_style:'max-width:5%'},             
          //  { key: 'material_Id' , label: 'Material Id',_classes: 'font-weight-bold', _style:'min-width:100px' },
              { key: 'material_Desc' , label: 'Material Desc',_style:'max-width:10%' },
              { key: 'customer_Name' , label: 'Customer Name',_style:'max-width:20%'  },
             
             { key: 'requested_DateTime' , label: 'Requested DateTime',_style:'max-width:20%' },
             { key: 'quantity' , label: 'Quantity',_style:'max-width:10%' },
              
              {key: 'totdespatched' , label: 'Desp Quantity',_style:'max-width:10%'  },
             // { key: 'invoice_No' , label: 'Invoice No',},
            //  { key: 'invoice_Date' , label: 'Invoice Date', },  
            { key: 'locations' , label: 'Avl Loctaion', },
              { key: 'request_Status' , label: 'Status',},
         
              ]
//var  scannedItem:[{barcode,materialDesc,quantity,location_Id,prodDate,exp_Date,invoice_No,entryDate,prodDate}],        
const Currentdetails =[
   
  { key: 'barcode' , label: 'Barcode',_style:'min-width:50px' },  
  { key: 'materialDesc' , label: 'materialDesc',_style:'min-width:50px' },  
  { key: 'quantity' , label: 'quantity',_style:'min-width:50px' },  
  { key: 'location_Id' , label: 'location_Id',_style:'min-width:50px' },  
  { key: 'prodDate' , label: 'prodDate',_style:'min-width:50px' },  
  { key: 'exp_Date' , label: 'exp_Date',_style:'min-width:50px' },  
  { key: 'entryDate' , label: 'entryDate',_style:'min-width:50px' },  
  // { key: 'Entered_By' , label: 'Invoice Date',_style:'min-width:50px' },  
  // { key: 'Status' , label: 'Invoice Date',_style:'min-width:50px' },  
  { key: 'invoice_No' , label: 'invoice_No',_style:'min-width:50px' },  
  // { key: 'Invoice_Date' , label: 'Invoice Date',_style:'min-width:50px' }, 
  // { key: 'Inv_TransId' , label: 'Invoice Date',_style:'min-width:50px' }, 
  // { key: 'Supplier_Id' , label: 'Invoice Date',_style:'min-width:50px' },  
  // { key: 'Batch_Type_Id' , label: 'Invoice Date',_style:'min-width:50px' }, 
]

import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
const apiurl =  'FGS_FIFO_Despatch_Request/'
//import App from './App'


Vue.use(VUEAxios,axios)

export default {
 
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
   
    fields: [
              { key: 'show_details1',  label: '', _classes: 'font-weight-bold', _style: 'max-width:1%', },
              { key: 'desp_Req_Id' , label: 'Id', _style:'max-width:10%'},             
              { key: 'material_Desc' , label: 'Material Desc',_style:'max-width:10%' },
              { key: 'customer_Name' , label: 'Cust.Name',_style:'max-width:15%' ,},
              { key: 'requested_DateTime' , label: 'Request Time',_style:'max-width:20%' },
              { key: 'quantity' , label: 'Quantity',_style:'max-width:10%' },
              // { key: 'Avl_Quantity' , label: 'In Stock',_style:'width:10px' },
              { key: 'totdespatched' , label: 'Desp Quantity',_style:'max-width:10%' },
              { key: 'statusName' , label: 'Status',_style:'max-width:1%' },
                { key: 'locations' , label: 'Avl Loctaion',_style:'width:1%' },
              { key: 'show_details',  label: '',  _style: 'max-width:20%' },
              //{ key: 'entered_By' , label: 'Entered By',_style:'min-width:50px' },
              //{ key: 'invoice_No' , label: 'Invoice No',_style:'min-width:100px' },
              //{ key: 'invoice_Date' , label: 'Invoice Date',_style:'min-width:50px' },  
            
              //{ key: 'material_Id' , label: 'Material Id',_classes: 'font-weight-bold', _style:'min-width:100px' },
                     
      ],
  mobfields: [
              //{ key: 'show_details1',  label: '',  _style: 'max-width:1%', },
              //{ key: 'desp_Req_Id' , label: 'Id',_classes: 'font-weight-bold', _style:'max-width:10%'},             
              { key: 'material_Desc' , label: 'Mat.Desc',_style:'max-width:10%' },
            //  { key: 'customer_Name' , label: 'Cust.Name',_style:'max-width:20%' ,},
              //{ key: 'quantity' , label: 'Quantity',_style:'max-width:5%' },
                
              //{ key: 'request_Status' , label: 'Status',_style:'max-width:1%' },
              { key: 'show_details',  label: '',  _style: 'max-width:5%' },
                           
      ],
  subfields: [
            //{ key: 'show_details1',  label: '',  _style: 'width:1%', },
              { key: 'desp_TransId' , label: 'Id'},
            //{ key: 'desp_Req_Id', label: 'Desp Req Id',_classes: 'font-weight-bold' },
            { key: 'barcode', label: 'Barcode',  },
              { key: 'quantity_Despatched' , label: 'Quantity',},
              { key: 'entryDate', label: 'Desp Time', },
              { key: 'entered_By', label: 'Entered By', },
            //{ key: 'desp_Status_Id' , label: 'Desp Status Id',_classes: 'font-weight-bold'},
              { key: 'vehicle_number', label: 'Vehicle No', },
                                         
      ],
       mobsubfields: [
            //{ key: 'show_details1',  label: '',  _style: 'width:1%', },
              { key: 'desp_TransId' , label: 'Id',},
            //{ key: 'desp_Req_Id', label: 'Desp Req Id',_classes: 'font-weight-bold' },
            //{ key: 'inv_TransId', label: 'Inv TransId', _classes: 'font-weight-bold' },
              { key: 'quantity_Despatched' , label: 'Quantity'},
            //  { key: 'entryDate', label: 'Desp Time',_classes: 'font-weight-bold' },
            //  { key: 'entered_By', label: 'Entered By', _classes: 'font-weight-bold' },
            //{ key: 'desp_Status_Id' , label: 'Desp Status Id',_classes: 'font-weight-bold'},
              { key: 'vehicle_number', label: 'Vehicle No', },
                                         
      ],
  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowIssueModal:"",
  ShowDeleteModal:"",
  scannedItem: { barcode:"",materialDesc:"",desp_TransId:0,quantity_Despatched:0 ,location_Id:0 ,prodDate:"" ,exp_Date:"" ,invoice_No:"" ,entryDate:"" ,prodDate:"" ,desp_Req_Id:0 ,vehicle_number:0,desp_Status_Id:1}, 
  //{\"desp_TransId\":0,\"desp_Req_Id\":2,\"inv_TransId\":9,\"quantity_Despatched\":0,\"entryDate\":\"2021-05-29T13:22:43.531Z\",\"entered_By\":\"hiii\",\"desp_Status_Id\":1,\"vehicle_number\":\"9\",\"materialId\":1,\"totDespatched\":0}"
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  Currentdetails:{barcode:"",materialDesc:"",quantity:0,location_Id:0,prodDate:"",exp_Date:"",invoice_No:"",entryDate:"",prodDate:""},
  CurrentDespatchRequest:{barcode:"",materialDesc:"",quantity:0,location_Id:0,prodDate:"",exp_Date:"",invoice_No:"",entryDate:"",prodDate:""},
  smallModal:false,
  newTransaction: {desp_Req_Id:0,material_Desc:"",customer_Id:0,quantity:0,requested_DateTime:new Date(),entered_By:"1",invoice_No:"",invoice_Date:"",request_Status:1,}, }
  },
 


  mounted()
  {
     
   this.getAllDespatchRequestDetails();
      
 this.isMobile();
  },

  methods:
  {
   getAllDespatchRequestDetails: function()
   {

//alert('alert inside mouted' + this.$ApiURL);
     Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
   else
       {
        this.items =response.data.filter(x => x.request_Status > 0);
          //this.items =response.data.filter(x => x.request_Status = 4 );
       }
      });
   },

   
  getBarcodeDetails(barcode)
  {
      Vue.axios.get(this.$url +'FGS_FIFO_Daily_Receipt_Transaction/GetFGS_Daily_Receipt_Transaction_Barcode/'+barcode).then((response)=>{
          
        if(response.data[0].material_Id  != this.CurrentDespatchRequest.material_Id)
         {
               
         this.SuccessMsg ="Scanned Barcode doesnt contain requested material/ Invalid Barcode"
         this.smallModal = true;
          
          this.ShowUpdateModal = false;
         }
         
         if(response.data.error)
         {
       
          alert('Data Error')
         }
       
        
          this.scannedItem = response.data[0];
          this.scannedItem.desp_Req_Id = this.CurrentDespatchRequest.desp_Req_Id;
        // }
         
    })
   },
  addDespatchRequests()
  {
         
      Vue.axios.post(this.$url + 'FGS_FIFO_Daily_Despatch_Transaction/',this.scannedItem).then((response)=>{
     
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
           location.reload();
         this.SuccessMsg ="Suceess"
          this.smallModal = true;
       this.getAllDespatchRequestDetails();
       }
    })
   },
  UpdateDespatchRequests()
  {
     Vue.axios.put(this.$url +'FGS_FIFO_Daily_Despatch_Transaction/'+this.scannedItem,).then((response)=>{
        if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Success"

       }
    })
   },


  SelectDespatchRequest(DespatchRequest)
    {
    
  
    this.scannedItem.desp_Req_Id  = DespatchRequest;
   this.CurrentDespatchRequest = DespatchRequest;


    },
    
     
    toggleDetails (item,index) {
      this.$set(this.items[index], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    },
    
 isMobile(){

  // alert();
   if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
     return true
   } else {
     return false
   }
 
}
  },
  
    

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>