<template>
  <div>
    <div>
<CModal
      title="Modal title"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Material Despatch Request</h5>
   
    <CDataTable
      :items="items"
      :fields="fields"
     table-filter
      items-per-page-select
        :items-per-page="15"
      pagination
      hover
      striped
      border
      sorter
     >
   
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectDespatchRequest(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectDespatchRequest(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectDespatchRequest(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Despatch Request</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">New Despatch Request</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<!-- <div class="form-group">
<input type="text" name="desp_Req_Id" class="form-control form-control-lg" readonly placeholder="Despatch Id" v-model="newDespatchRequest.desp_Req_Id">
</div> -->


<div class="form-group">
   <label for="customer_Type_Id">Select Customer </label>
 <select class="form-control"   @change="getAllCustomerDetails($event);" v-model="newDespatchRequest.customer_Type_Id" >
    <option value="" selected disabled>Select Customer Type</option>
    <option v-for="item in custitems" :value="item.customer_Type_Id" :key="item.customer_Type_Id">{{ item.customer_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
   <!-- <label for="customer_Id">Select Customer  </label> -->
 <select class="form-control"   v-if="newDespatchRequest.customer_Type_Id"   v-model="newDespatchRequest.customer_Id"> 
    <option value="" selected disabled>Select Customer </option>
    <option v-for="item in customeritems" :value="item.customer_Id" :key="item.customer_Id">{{ item.customer_Name }}</option>
  </select>
</div>

 <div class="form-group">
   <label for="material_Type_Name">Select Material </label>
 <select class="form-control" v-model="newDespatchRequest.material_Type_Id"  @change="getAllMaterialDetails($event);"  >
     <option value="" selected disabled>Select Material Type</option>
    <option v-for="item in materialtypeitems"  :value="item.material_Type_Id"  :key="item.material_Type_Name">{{ item.material_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
 <select class="form-control" v-if="newDespatchRequest.material_Type_Id" v-model="newDespatchRequest.material_Id" >
   
    <option value="" selected disabled>Material || Production Date </option>
     <label for="materialDesc">Material Description </label>
    <option v-for="item in materialitems" :value="item.material_Id" :key="item.material_Id">{{ item.matCodeProdDate }}</option>
  </select>
</div>

<div class="form-group">
   <label for="quantity">Quantity</label>
<input type="text" name="quantity" class="form-control form-control-lg" placeholder="Quantity "  v-model="newDespatchRequest.quantity">
</div>

<div class="form-group">
   <label for="requested_DateTime">Requested Date Time </label>
<input type="date" name="requested_DateTime" class="form-control form-control-lg"  placeholder="requested_DateTime"  v-model="newDespatchRequest.requested_DateTime">
</div>

<div class="form-group">
   <label for="entered_By">Entered By </label>
<input type="text" name="entered_By" class="form-control form-control-lg" placeholder="entered_By"  v-model="newDespatchRequest.entered_By">
</div>

<div class="form-group">
   <label for="invoice_No">Invoice No </label>
<input type="text" name="invoice_No" class="form-control form-control-lg" placeholder="invoice_No"  v-model="newDespatchRequest.invoice_No">
</div>

<div class="form-group">
   <label for="invoice_Date">Invoice Date </label>
<input type="date" name="invoice_Date" class="form-control form-control-lg"  placeholder="invoice_Date"  v-model="newDespatchRequest.invoice_Date">
</div>
<!-- 
<div class="form-group">
   <label for="request_Status">request_Status</label>
<input type="text" name="request_Status" class="form-control form-control-lg" placeholder="invoice_Date"  v-model="newDespatchRequest.request_Status">
</div> -->

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addDespatchRequests();" > Place Request </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Despatch Request Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group">
   <label for="desp_Req_Id">DespatchRequest Id</label>
<input type="text" name="desp_Req_Id" class="form-control form-control-lg" readonly placeholder="DespatchRequest Id" v-model="CurrentDespatchRequest.desp_Req_Id">
</div>

<div class="form-group">
     <label for="MaterialDesc">Material</label>
<input type="text" name="MaterialDesc" class="form-control form-control-lg" readonly  v-model="CurrentDespatchRequest.matCodeProdDate">
</div>

<!-- <div class="form-group">
     <label for="invoice_Date">Invoice Date</label>
<input type="text" name="DespatchRequest_Desc" class="form-control form-control-lg" readonly placeholder="DespatchRequest Description" v-model="CurrentDespatchRequest.DespatchRequest_Desc">
</div> -->

<div class="form-group">
     <label for="customer_id">Customer Id</label>
<input type="text" name="customer_id" class="form-control form-control-lg" readonly placeholder="customer_id"  v-model="CurrentDespatchRequest.customer_id">
</div>

<div class="form-group">
     <label for="quantity">Quantity</label>
<input type="text" name="quantity" class="form-control form-control-lg" readonly placeholder="quantity "  v-model="CurrentDespatchRequest.quantity">
</div>

<!-- <div class="form-group">
     <label for="requested_DateTime">requested_DateTime</label>
<input type="date" name="requested_DateTime" class="form-control form-control-lg" readonly placeholder="requested_DateTime"  v-model="CurrentDespatchRequest.requested_DateTime">
</div> -->

<div class="form-group">
     <label for="entered_By">Entered By</label>
<input type="text" name="entered_By" class="form-control form-control-lg" readonly placeholder="entered_By"  v-model="CurrentDespatchRequest.entered_By">
</div>

<div class="form-group">
     <label for="invoice No">Invoice No</label>
<input type="text" name="invoice_No" class="form-control form-control-lg" readonly placeholder="invoice_No"  v-model="CurrentDespatchRequest.invoice_No">
</div>

<div class="form-group">
     <label for="invoice_Date">Invoice Date</label>
<input type="date" name="invoice_Date" class="form-control form-control-lg" readonly placeholder="invoice_Date"  v-model="CurrentDespatchRequest.invoice_Date">
</div>

<div class="form-group">
     <label for="request_Status">Request Status</label>
<input type="text" name="request_Status" class="form-control form-control-lg" readonly placeholder="request_Status"  v-model="CurrentDespatchRequest.statusName">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update DespatchRequest</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">

<div class="form-group">
<input type="text" name="desp_Req_Id" class="form-control form-control-lg" readonly placeholder="DespatchRequest Id" v-model="CurrentDespatchRequest.desp_Req_Id">
</div>

<div class="form-group">
   <label for="customer_Type_Id">Customer </label>
 <select class="form-control"   @change="getAllCustomerDetails($event);" v-model="CurrentDespatchRequest.customer_Type_Id" >
    <option value="" selected  disabled>Select Customer Type</option>
    <option v-for="item in custitems" :value="item.customer_Type_Id" :key="item.customer_Type_Id">{{ item.customer_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
   <!-- <label for="customer_Id">Select Customer  </label> -->
 <select class="form-control"   v-if="CurrentDespatchRequest.customer_Type_Id"   v-model="CurrentDespatchRequest.customer_id"> 
    <option value="" selected disabled>Select Customer </option>
    <option v-for="item in customeritems" :value="item.customer_Id" :key="item.customer_Id">{{ item.customer_Name }}</option>
  </select>
</div>


 <div class="form-group">
   <label for="material_Type_Name">Material </label>
 <select class="form-control" v-model="CurrentDespatchRequest.material_Type_Id"  @change="getAllMaterialDetails($event);"  >
     <option value="" selected disabled>Select Material Type</option>
    <option v-for="item in materialtypeitems"  :value="item.material_Type_Id"  :key="item.material_Type_Name">{{ item.material_Type_Name }}</option>
  </select>
</div>

<div class="form-group">
 <select class="form-control" v-if="CurrentDespatchRequest.material_Type_Id" v-model="CurrentDespatchRequest.material_Id">
   
    <option value="" selected disabled>Select Material </option>
     <label for="materialDesc">Material || Production Date </label>
    <option v-for="item in materialitems" :value="item.material_Id" :key="item.material_Id">{{ item.matCodeProdDate}}</option>
  </select>
</div>


<div class="form-group">
     <label for="quantity">Quantity</label>
<input type="text" name="quantity" class="form-control form-control-lg"  placeholder="quantity "  v-model="CurrentDespatchRequest.quantity">
</div>

<div class="form-group">
    <label for="requested_DateTime">Requested Date Time </label>
<input type="date" name="requested_DateTime" class="form-control form-control-lg"  placeholder="requested_DateTime"  v-model="CurrentDespatchRequest.requested_DateTime">
</div>

<div class="form-group">
    <label for="entered_By">Entered By </label>
<input type="text" name="entered_By" class="form-control form-control-lg"  placeholder="entered_By"  v-model="CurrentDespatchRequest.entered_By">
</div>

<div class="form-group">
    <label for="invoice_No">Invoice No </label>
<input type="text" name="invoice_No" class="form-control form-control-lg"  placeholder="invoice_No"  v-model="CurrentDespatchRequest.invoice_No">
</div>

<div class="form-group">
    <label for="invoice_Date">Invoice Date </label>
<input type="date" name="invoice_Date" class="form-control form-control-lg"  placeholder="invoice_Date"  v-model="CurrentDespatchRequest.invoice_Date">
</div>

<!-- <div class="form-group">
<input type="text" name="request_Status" class="form-control form-control-lg"  placeholder="request_Status"  v-model="CurrentDespatchRequest.request_Status">
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-lg"  @click="ShowUpdateModal=false;UpdateDespatchRequests();" > Update Request </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete DespatchRequest</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the DespatchRequest ? </h4>
<h5> You are deleting {{ this.CurrentDespatchRequest.desp_Req_Id +' || '+ this.CurrentDespatchRequest.DespatchRequest_Id }}</h5>
<hr>
<button class="btn btn-danger btn-lg" @click="ShowDeleteModal=false; deleteItem();getAllDespatchRequestDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-lg" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>

const apiurl =  'FGS_FIFO_Despatch_Request/'
const items = [
  { key: 'desp_Req_Id' , label: 'Req Id',_classes: 'font-weight-bold', _style:'width:5%'},             
              //{ key: 'material_Id' , label: 'Material Id',_classes: 'font-weight-bold', _style:'min-width:100px' },
              { key: 'material' , label: 'Material',_style:'width:15%' },
              { key: 'customer_Name' , label: 'Customer',_style:'width:10%' },
              { key: 'quantity' , label: 'Quantity',_style:'width:10%' },
              { key: 'requested_DateTime' , label: 'Req.Time',_style:'width:15%' },
              { key: 'entered_By' , label: 'Entered By',_style:'width:10%' },
             { key: 'invoice_No' , label: 'Invoice No',_style:'width:10%' },
              { key: 'invoice_Date' , label: 'Invoice Date',_style:'min-width:50px' },  
             // { key: 'request_Status' , label: 'Status',_style:'width:1%' },
              ] 


import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {

  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
      
  
     fields: [
       // { key: 'show_details1',  label: '',  _style: 'width:1%', },
            
              { key: 'desp_Req_Id' , label: 'Req Id',_classes: 'font-weight-bold', _style:'width:5%'},             
             // { key: 'material_Id' , label: 'Material Id',_classes: 'font-weight-bold', _style:'min-width:100px' },
              { key: 'material' , label: 'Material',_style:'width:10%'},
              { key: 'customer_Name' , label: 'Customer',_style:'width:10%' },
              { key: 'quantity' , label: 'Quantity',_style:'width:10%' },
              { key: 'requested_DateTime' , label: 'Req.Time', },
             { key: 'entered_By' , label: 'Entered By',_style:'width:10%' },
              { key: 'invoice_No' , label: 'Invoice No',_style:'width:10%'},
              { key: 'invoice_Date' , label: 'Invoice Date', },  
            //  { key: 'request_Status' , label: 'Status',_style:'width:1%' },
             { key: 'show_details',  label: '', _style:'min-width:35%' }
                    
      ],
materialitems:[],
customeritems:[],
  custitems:[],
  details: [],
  materialtype: [ ],
  materialtypeitems :[],
  selected :{customer_id:0},
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentDespatchRequest:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newDespatchRequest: {desp_Req_Id:0,material_Id:0,material_Desc:"",customer_id:0,quantity:0,requested_DateTime:new Date(),entered_By:"1",invoice_No:"",invoice_Date:"",request_Status:1,}, }
  },
 


  mounted()
  {
  this.getAllMaterialType();
  this.getAllDespatchRequestDetails();
  this.getAllCustomerTypeDetails();
  this.getAllCustomerDetails();
 // this.getAllMaterilalTypeDetails();
  
  },

  methods:
  {
   getAllDespatchRequestDetails: function()
   {

   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter((x) => x.request_Status > 0);
        this.subitems = response.data.fgS_FIFO_Daily_Despatch_Transaction;

       }
    });
   },
  getAllCustomerTypeDetails: function()
   {

   Vue.axios.get(this.$url +'FGS_FIFO_CustomerType_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
       
        this.custitems =response.data.filter(x => x.customer_Type_Status == 1);
       

       }
    });
   },
  getAllCustomerDetails: function(event)
   {
      
    
      Vue.axios.get(this.$url +'FGS_FIFO_Customer_Master/GetFGS_Customer_MasterByCustType/'+ event.target.value)
      .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.selected.customer_id = event.target.value;
        this.customeritems = response.data.filter(x => x.cust_Status == 1);// &&  x.customer_Type == this.newDespatchRequest.customertype );
     
       }
    });
   },

   getAllMaterialType: function()
   {

  Vue.axios.get(this.$url + 'FGS_FIFO_MaterialType_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
         
        this.materialtypeitems = response.data.filter(x => x.material_Type_Status == 1);
       
       }
    });
   },


    getAllMaterialDetails: function(event)
   {
       
   Vue.axios.get(this.$url + 'FGS_FIFO_Despatch_Request/GetMaterial_ForCustomer_MaterialType/'+this.selected.customer_id+'/'+ event.target.value)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
       
        this.materialitems =response.data;
       

       }
    });
   },
  addDespatchRequests()
  {
   
    Vue.axios.post(this.$url + apiurl ,this.newDespatchRequest).then((response)=>{
  
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {

        this.SuccessMsg ="Records Inserted Successfully.."
       // this.SuccessMsg = response.data.message;
       
       this.getAllDespatchRequestDetails();
         location.reload();
       }
    })
   },

  UpdateDespatchRequests()
  {
 Vue.axios.put(this.$url + apiurl +this.CurrentDespatchRequest.desp_Req_Id,this.CurrentDespatchRequest,).then((response)=>{
  
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {

         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllDespatchRequestDetails();
       }
    })
   },

  deleteItem()
    {
      var desp_Req_Id = this.CurrentDespatchRequest.desp_Req_Id;
        axios({   method: 'delete',
           url: this.$url + apiurl + desp_Req_Id
       
    });
    this.getAllDespatchRequestDetails();
        this.SuccessMsg="Material Status Changed to Inactive Succesfully"
    },
      
  SelectDespatchRequest(DespatchRequest)
    {
     this.CurrentDespatchRequest=DespatchRequest;
    
    },
    
     
   toggleDetails (item) {
      this.$set(this.items[item.desp_Req_Id-9], '_toggled', !item._toggled)
      this.collapseDuration = 300
      this.$nextTick(() => { this.collapseDuration = 0})
    },
  
    
    },
  
    

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>