<template>
  <!-- <div v-if="!isMobile()">
  <desktop>
  </desktop>
</div>
<div v-else>
  <mobile>
  </mobile>
</div>  -->
  <div>
    <div v-if="isMobile()">
      <CModal title="Info" size="sm" :show.sync="smallModal">
        {{ SuccessMsg }}
      </CModal>
      <CCardBody>
        <div>
          <h6>Select Request for Despatch</h6>
          <div class="form-group">
            <select
              id="selectdesp_Req_Id"
              class="form-control"
              v-model="CurrentDespatchRequest.desp_Req_Id"
              placeholder="Despatch Request ID"
            >
              <option value="" selected>Select Request</option>
              <option
                v-for="(item, index) in items"
                :value="item.desp_Req_Id"
                :key="item.index"
              >
                {{ item.reqIdCustMat }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <CButton
              size="sm"
              color="dark"
              class="btn btn-info btn-block btn-sm"
              @click="
                SelectDespatchRequest(CurrentDespatchRequest.desp_Req_Id);
                ShowDetailsModal = true;
                getAllDespatchRequestDetails();
              "
            >
              Details
            </CButton>
          </div>
        </div>
      </CCardBody>
    </div>

    <!-- <div id="overlay" v-if="ShowIssueModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Barcode Scanner</h5>
    <button type="button" class="close"  @click="ShowIssueModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<div class="form-group">
<input type="text" name="Barcode" class="form-control form-control-sm"  placeholder="Barcode" v-model="scannedItem.Barcode">
</div>



<div class="form-group">
<CButton size="sm" color="info" class=""  @click="getBarcodeDetails(scannedItem.Barcode); ShowIssueModal = false;" > Issue </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div> -->
    <!-- Show Details Modal -->
    <div id="overlay" v-if="ShowDetailsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Despatch Request Details</h5>
            <button
              type="button"
              class="close"
              @click="ShowDetailsModal = false"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
            <form action="#" method="POST">
              <label for="Desp_Req_Id">Request Id </label>
              <div class="form-group">
                <input
                  type="text"
                  name="desp_Req_Id"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="DespatchRequest Id"
                  v-model="CurrentDespatchRequest.desp_Req_Id"
                />
              </div>

              <div class="form-group">
    <label for="locations">Material Locations</label>
<input type="text" name="locations" class="form-control form-control-sm" readonly placeholder="locations" v-model="CurrentDespatchRequest.locations">
</div>
              <!-- <div class="form-group">
    <label for="barcode">Barcode</label>
<input type="text" name="barcode" class="form-control form-control-sm" readonly placeholder="barcode" v-model="CurrentDespatchRequest.barcode">
</div> -->
              <div class="form-group">
                <label for="MaterialDesc">Material </label>
                <input
                  type="text"
                  name="MaterialDesc"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="Material Description"
                  v-model="CurrentDespatchRequest.material"
                />
              </div>

              <!-- <div class="form-group">
    <label for="customer_id">Customer</label>
<input type="text" name="customer_id" class="form-control form-control-sm" readonly placeholder="customer_id"  v-model="CurrentDespatchRequest.customer_Name">
</div> -->

              <div class="form-group">
                <label for="quantity">Required/Total Despatched</label>
                <input
                  type="text"
                  name="quantity"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="quantity "
                  v-model="CurrentDespatchRequest.reqNDespacthed"
                />
              </div>
              <!-- <div class="form-group">
                <label for="entered_By">Total Despatched</label>
                <input
                  type="text"
                  name="totdespatched"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="totdespatched"
                  v-model="CurrentDespatchRequest.totdespatched"
                />
              </div> -->
              <div class="form-group">
                <label for="requested_DateTime">Requested Time</label>
                <input
                  type="text"
                  name="requested_DateTime"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="requested_DateTime"
                  v-model="CurrentDespatchRequest.requested_DateTime"
                />
              </div>

              <!-- <div class="form-group">
    <label for="invoice_No">Invoice No</label>
<input type="text" name="invoice_No" class="form-control form-control-sm" readonly placeholder="invoice_No"  v-model="CurrentDespatchRequest.invoice_No">
</div> -->

              <!-- <div class="form-group">
    <label for="invoice_Date">Invoice Date</label>
<input type="text" name="invoice_Date" class="form-control form-control-sm" readonly placeholder="invoice_Date"  v-model="CurrentDespatchRequest.invoice_Date">
</div> -->

              <!-- <div class="form-group">
    <label for="request_Status">Request Status</label>
<input type="text" name="request_Status" class="form-control form-control-sm" readonly placeholder="request_Status"  v-model="CurrentDespatchRequest.statusName">
</div> -->
              <div class="form-group">
                <CButton
                  size="sm"
                  color="dark"
                  class="btn btn-info btn-block btn-sm"
                  @click="
                    ShowDetailsModal = false;
                    ShowIssueModal = true;
                    SelectDespatchRequest(CurrentDespatchRequest.desp_Req_Id);
                  "
                >
                  Issue
                </CButton>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Show Issue Modal -->
    <div id="overlay" v-if="ShowIssueModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Scan Barcode</h5>
            <button type="button" class="close" @click="ShowIssueModal = false">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-7">
            <form action="#" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  name="Barcode"
                  class="form-control form-control-sm"
                v-on:keyup ="onBarcodeScanned(scannedItem.Barcode) " 
                  placeholder="Barcode"
                  v-model="scannedItem.Barcode" 
                />
              </div>
 
              
<!-- <div class="form-group">
<CButton size="sm" color="dark" class="btn btn-info btn-block btn-sm"  @click="getBarcodeDetails(scannedItem.Barcode);  ShowIssueModal = false; " > Issue </CButton>
</div> -->
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Show Update Modal -->
    <div id="overlay" v-if="ShowUpdateModal">
      <div class="modal-dialog">
        <!-- scannedItem:{barcode:"",materialDesc:"",quantity:0,location_Id:0,prodDate:"",exp_Date:"",invoice_No:"",entryDate:"",prodDate:""}, -->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Quantity Entry</h5>
            <button
              type="button"
              class="close"
              @click="ShowUpdateModal = false"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
            <form action="#" method="POST">
              <!-- <div class="form-group"> -->
              <!-- <label for="barcode">Barcode</label> -->
              <!-- <input type="text" name="barcode" class="form-control form-control-sm" readonly placeholder="barcode" v-model="scannedItem.barcode">
</div> -->

              <div class="form-group">
                <label for="materialDesc">Material Description</label>
                <input
                  type="text"
                  name="materialDesc"
                  class="form-control form-control-sm"
                  readonly
                  v-model="scannedItem.materialDesc"
                />
              </div>

              <!-- 
<div class="form-group">
   <label for="prodDate">Production Date</label>
<input type="text" name="prodDate" class="form-control form-control-sm" readonly    v-model="scannedItem.prodDate">
</div> -->
              <div class="form-group">
                <label for="exp_Date">Exp Date</label>
                <input
                  type="text"
                  name="exp_Date"
                  class="form-control form-control-sm"
                  readonly
                  v-model="scannedItem.exp_Date"
                />
              </div>

              <!-- <div class="form-group">
   <label for="invoice_No">Invoice No</label>
<input type="text" name="invoice_No" class="form-control form-control-sm" readonly   v-model="scannedItem.invoice_No">
</div> -->

              <div class="form-group">
                <label for="quantity_Despatched">Current Stock</label>
                <input
                  type="text"
                  name="currentStock"
                  class="form-control form-control-sm"
                  readonly
                  placeholder="currentStock"
                  v-model="scannedItem.currentStock"
                />
              </div>

              <div class="form-group">
                <label for="quantity_Despatched">Quantity</label>
                <input
                  type="text"
                  name="quantity_Despatched"
                  class="form-control form-control-sm"
                  placeholder="0"
                  required
                  v-model="scannedItem.quantity_Despatched"
                />
                <!-- <span v-if="!scannedItem.quantity_Despatched">Please enter quantity</span> -->
              </div>
              <!-- <div class="form-group">
   <label for="location_Id">Location Id</label>
<input type="text" name="location_Id" class="form-control form-control-sm"   v-model="scannedItem.location_Id">
</div> -->
              <div class="form-group">
                <label for="vehicle_number">Vehicle Number</label>
                <input
                  type="text"
                  name="vehicle_number"
                  class="form-control form-control-sm"
                  placeholder=""
                  v-model="scannedItem.vehicle_number"
                />
              </div>
              <div class="form-group">
                <button
                  class="btn btn-info btn-block btn-sm"
                  @click="
                    ShowUpdateModal = false;
                    addDespatchRequests();
                  "
                >
                  Issue
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//var  scannedItem:[{barcode,materialDesc,quantity,location_Id,prodDate,exp_Date,invoice_No,entryDate,prodDate}],
import Vue from "vue";
import axios from "axios";
import VUEAxios from "vue-axios";
import VueBarcodeScanner from 'vue-barcode-scanner'
const apiurl =  'FGS_FIFO_Despatch_Request/'
Vue.use(VUEAxios, axios);
let options = {
  sound: true, // default is false
  soundSrc: '/static/sound.wav', // default is blank
  sensitivity: 300, // default is 100
  requiredAttr: true, // default is false
  controlSequenceKeys: ['NumLock', 'Clear'], // default is null
  callbackAfterTimeout: true // default is false
}

Vue.use(VueBarcodeScanner, options)

export default {
  data() {
    return {
      items: {},

      details: [],
      collapseDuration: 0,
      errMsg: "",
      SuccessMsg: "",
      ShowIssueModal: "",
      ShowDeleteModal: "",
      selected: this.selectedItem,
      scannedItem: {
        barcode: "",
        materialDesc: "",
        desp_TransId: 0,
        quantity_Despatched: 0,
        location_Id: 0,
        prodDate: "",
        exp_Date: "",
        invoice_No: "",
        entryDate: "",
        prodDate: "",
        desp_Req_Id: 0,
        vehicle_number: 0,
        desp_Status_Id: 1,
      },
      //{\"desp_TransId\":0,\"desp_Req_Id\":2,\"inv_TransId\":9,\"quantity_Despatched\":0,\"entryDate\":\"2021-05-29T13:22:43.531Z\",\"entered_By\":\"hiii\",\"desp_Status_Id\":1,\"vehicle_number\":\"9\",\"materialId\":1,\"totDespatched\":0}"
      ShowUpdateModal: "",
      ShowDetailsModal: "",
      Currentdetails: {
        barcode: "",
        materialDesc: "",
        quantity: 0,
        location_Id: 0,
        prodDate: "",
        exp_Date: "",
        invoice_No: "",
        entryDate: "",
        prodDate: "",
      },
      CurrentDespatchRequest: {
        desp_Req_Id: 0,
        barcode: "",
        materialDesc: "",
        quantity: 0,
        location_Id: 0,
        prodDate: "",
        exp_Date: "",
        invoice_No: "",
        entryDate: "",
        prodDate: "",
      },
      smallModal: false,
      newTransaction: {
        desp_Req_Id: 0,
        material_Desc: "",
        customer_Id: 0,
        quantity: 0,
        requested_DateTime: new Date(),
        entered_By: "1",
        invoice_No: "",
        invoice_Date: "",
        request_Status: 1,
      },
    };
  },

  mounted() {
    this.getAllDespatchRequestDetails();
  },

  methods: {
    getAllDespatchRequestDetails: function () {
      Vue.axios
        .get(this.$url + apiurl)
        .then((response) => {
          if (response.data.error) {
            this.errMsg = response.data;
          } else {
            //console.log(response.data);
            this.items = response.data.filter((x) => x.request_Status > 0);
          }
        });
    },

onBarcodeScanned (barcode) {
     var v = this;
     this.$nextTick(() => {v.getBarcodeDetails(barcode); });
     },

getBarcodeDetails(barcode) {
      
      setTimeout(() => {
      Vue.axios
        .get(this.$url + apiurl + barcode )
        .then((response) => {
         if (response.data[0].error)
           {
            alert("Data Error");
          } 
         else
         {
        
        this.scannedItem = response.data[0];
        if(response.data[0].material_Id  != this.CurrentDespatchRequest.material_Id)
         {
               
         this.SuccessMsg ="Scanned Barcode doesnt contain requested material / Invalid Barcode"
         this.smallModal = true;
         this.ShowIssueModal = true;
                
         }
         
       
       else {
          this.smallModal = false;
          this.ShowUpdateModal=true;
          this.scannedItem.desp_Req_Id = this.CurrentDespatchRequest.desp_Req_Id;
        }
      }
        });

       }, 3000);
    }, 


    addDespatchRequests() {
      if (this.scannedItem.quantity_Despatched > this.scannedItem.currentStocks) 
      {
        this.SuccessMsg =
          "Entered quantity exceeded the stock available in the scanned barcode";
        this.smallModal = true;
        this.ShowIssueModal = true;
      } 
      else if ( this.scannedItem.quantity_Despatched == undefined ||this.scannedItem.quantity_Despatched == 0 ) 
      {
        this.SuccessMsg = "Please enter quantity";
        this.smallModal = true;
      } 

      // else if((this.scannedItem.quantity_Despatched- )
      // {

      // }
      else {
        Vue.axios
          .post(this.$url + apiurl ,this.scannedItem )
          .then((response) => {
            if (response.data.error)
            
            {
              alert("Data Error");
            }
            else
             {
              //alert(response.message)
              this.SuccessMsg = "Suceess";
              this.smallModal = true;
              //this.getAllDespatchRequestDetails();
            }

            this.getAllDespatchRequestDetails();
          });
      }
    },
    UpdateDespatchRequests() {
      Vue.axios.put(this.$url + apiurl + this.scannedItem).then((response) => {
        if (response.data.error) {
          alert("Data Error");
        } else {
          this.SuccessMsg = "Success";
        }
      });
    },

    SelectDespatchRequest(DespatchRequest) {
      if (DespatchRequest == 0) {
        this.SuccessMsg = "Please select a request to proceed";
        this.smallModal = true;
        location.reload();
      }

      this.CurrentDespatchRequest = this.items.find(
        (x) => x.desp_Req_Id === DespatchRequest
      );
      this.scannedItem.desp_Req_Id = this.CurrentDespatchRequest.desp_Req_Id;
    },

    isMobile() {
      // alert();
      if (
        /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
          navigator.userAgent
        )
      ) {
        return true;
      } else {
        return false;
      }
    },
  },
};
</script>

<style scoped>
#overlay {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
}
</style>