<template>
  <div>
    <div>
  
<CCardBody>
    <h5>Production</h5>
   
    <CDataTable
    
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="10"
      pagination
      hover
      striped
      border
      sorter
     >
   
    
   </CDataTable>
    
  </CCardBody>

 </div>


  </div>
   </template>
</div>
</template>

<script>

   const items = [
  
  { key: 'production_Id'},
  { key: 'workCenterName',},
  { key: 'material_Code', },
  { key: 'comp_Code' , label: 'Description',},
   { key: 'colorCode', label: 'Color Code' },
    
  { key: 'mhE_Id',  },          
  { key: 'prod_Time',  },
 { key: 'crewDetails' },
  { key: 'barcode' , label: 'Barcode',},
  { key: 'quantity',  },
  { key: 'shift_Id',  },  
  { key: 'pstatus',  },    
     { key: 'status',  },    
            



 ]
 //const apiurl =  'Trace_Production/'
 const apigetshedule =  'Trace_Production/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'

Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
    return {
  
    items: items.map((item, id) => { return {...item, id}}),
    fields: [
     
              { key: 'production_Id' , label: 'Id',},
               { key: 'workCenterName',  label: 'WorkCent' }, 
                  { key: 'material_Code', label: 'Material ' },
                    { key: 'colorCode', label: 'Color Code' },
              { key: 'comp_Code' , label: 'Description',},
           
              
             { key: 'mhename', label: 'MHE' },   
    { key: 'ageStatus', label: 'Age Status' }, 
              { key: 'prod_Time',  label: 'Prod Time',  },
               { key: 'crewDetails' , label: 'Crew ',},
  { key: 'barcode' , label: 'Barcode ',},
  { key: 'quantity', label: 'Quantity' },
  { key: 'shift_Id',  label: 'Shift Id' },  
  { key: 'pstatus', label: 'Prod Status' },          
  { key: 'status', label: 'Status' },  
      ],
   
  
  
  }
  
  },
 
  mounted()
  {
   this.getAllProduction();
  },
  methods:
  {
 
 
getAllProduction()
{
 
   Vue.axios.get(this.$url + apigetshedule ) 
  .then((response)=>{
   
    if(response.data.error)
       {
         
         this.errMsg=response.data.message;
       }
    else
       {
        
        this.items =response.data;
     

       }
    });

},

    
  },
     
    }
  
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>