<template>
  <div>
    <div>
<CModal
           title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Trace Scrap Report </h5>
    
    <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped
      border
      sorter
     >


    </CDataTable>
      
  </CCardBody>

 </div>




</div>
</template>

<script>
const items = [
  { key: 'material_Id', _style:'min-width:200px' },
  { key: 'material_Code', _style:'min-width:100px;' },
  { key: 'workCent_Id', _style:'min-width:50px;' }, 
  { key: 'material_CreationDate',     _style: 'width:1%',  },
  { key: 'material_CreatedBy',     _style: 'width:1%',  },
  { key: 'status',     _style: 'width:1%',  },
 ]   
  
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
  
              { key: 'scrap_EntryId',  label: 'scrap_EntryId',  _style: 'width:1%', }, 
              { key: 'material_Id' , label: 'material_Id',_classes: 'font-weight-bold'},
              { key: 'updated_By', label: 'updated_By',_classes: 'font-weight-bold' },
              { key: 'entry_Date', label: 'entry_Date', _classes: 'font-weight-bold' },             
              { key: 'entry_Date',  label: 'entry_Date',  _style: 'width:1%', },
               
      ],
 
  details: [],
    }
  },
  selectOptions: [
    { 
          value: 1, 
          label: 'FLAP'
    },
    { 
          value: 2, 
          label: 'TYRE'
    }
    ],
    selectedOption: 1,

  
  mounted()
  {
   this.getAllScrapDetails();
  },

  methods:
  {
   getAllScrapDetails: function()
   {
  
   Vue.axios.get('https://localhost:44348/api/Trace_Scrap_Entry')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.status == 1);
       // this.subitems = response.data.fgS_FIFO_Material_Type_Master;

       }
    });
   },

    
    },
  
    

}
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>