<template>
  <div>
    <div>
<CModal
           title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>

<CCardBody>
     <h5>Trace UWB Tag-MHE Mapping</h5>
   
     <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="10"
      pagination
      hover
      striped
      border  
      sorter
     >
   

<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectUWBTagMHEMapping(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectUWBTagMHEMapping(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectUWBTagMHEMapping(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> Add UWB Tag MHE Mapping</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Add New Mapping</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<div class="form-group">
  <label for="mhE_Id">MHE </label>
 <select class="form-control"   v-model="newMapping.mhE_Id" >
    <option value="" selected disabled>Select MHE</option>
    <option v-for="item in mheitems" :value="item.mhE_Id" :key="item.mhE_Id">{{ item.mhE_Name }}</option>
  </select>
</div>

<div class="form-group">
    <label for="uwB_Tag_Id">UWB Tag</label>
 <select class="form-control"   v-model="newMapping.uwB_Tag_Id" >
    <option value="" selected disabled>Select Tag</option>
    <option v-for="item in uwbtagitems" :value="item.uwB_Tag_Id" :key="item.uwB_Tag_Id">{{ item.uwB_Tag_Uniqe_Id }}</option>
  </select>
</div>

<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Status" class="form-control form-control-lg" placeholder="UWBTag uwB_Tag_Status"  v-model="newUWBTag.uwB_Tag_Status">
</div> -->

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addUWBTagMHEMapping();" > Add UWB Tag MHE Mapping</CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">UWBTag Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group"><label  >Id</label>
<input type="text" name="uwB_Tag_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Id" v-model="CurrentUWBTagMHEMapping.uwB_Tag_Id">
</div>

<!-- <div class="form-group"><label  >MHE Id</label>
<input type="text" name="uwB_Tag_Name" readonly class="form-control form-control-sm" placeholder="mhE_Id" v-model="CurrentUWBTagMHEMapping.mhE_Id">
</div> -->
<div class="form-group"><label  >MHE</label>
<input type="text" name="uwB_Tag_Name" readonly class="form-control form-control-sm" placeholder="mhE_Id" v-model="CurrentUWBTagMHEMapping.mhename">
</div>

<div class="form-group"><label  >Tag Unique ID</label>
<input type="text" name="uwB_Tag_Uniqe_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Uniqe Id" v-model="CurrentUWBTagMHEMapping.uwbTagUid">
</div>
<div class="form-group"><label  > Tag Name</label>
<input type="text" name="uwB_Tag_Uniqe_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Uniqe Id" v-model="CurrentUWBTagMHEMapping.uwbTagName">
</div>
<div class="form-group"><label  >Installed Date </label>
<input type="text" name="uwB_Tag_Uniqe_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Uniqe Id" v-model="CurrentUWBTagMHEMapping.installedDatestring">
</div>


<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Status" readonly class="form-control form-control-lg" placeholder="UWBTag uwB_Tag_Status"  v-model="newUWBTag.uwB_Tag_Status">
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update UWBTag</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group">
<div class="form-group"><label  >MHE</label>
<input type="text" name="uwB_Tag_Name" readonly class="form-control form-control-sm" placeholder="mhE_Id" v-model="CurrentUWBTagMHEMapping.mhename">
</div>

</div>

<div class="form-group">
    <label for="uwB_Tag_Id">UWB Tag</label>
 <select class="form-control"   v-model="newMapping.uwB_Tag_Id" >
    <option value="" selected disabled>Select Tag</option>
    <option v-for="item in uwbtagitems" :value="item.uwB_Tag_Id" :key="item.uwB_Tag_Id">{{ item.uwB_Tag_Uniqe_Id }}</option>
  </select>
</div>
<!-- 
<div class="form-group"><label  >uwB_Tag_Uniqe_Id</label>
<input type="text" name="uwB_Tag_Uniqe_Id" class="form-control form-control-sm" placeholder="uwB Tag Uniqe Id" v-model="CurrentUWBTagMHEMapping.uwB_Tag_Uniqe_Id">
</div> -->



<!-- <div class="form-group"><label  >MHE Name</label>
<input type="text" name="uwB_Tag_Status" class="form-control form-control-sm" placeholder="UWBTag uwB Tag Status"  v-model="CurrentUWBTagMHEMapping.uwB_Tag_Status">
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false;UpdateUWBTagMHEMapping();" > Update UWBTag </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete UWBTag</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the UWBTag / MHE Mapping? </h4>
<h5> You are deleting Mapping No :{{ this.CurrentUWBTagMHEMapping.tag_MHE_Id  }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem();"> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>

const items = [
  { key: 'tag_MHE_Id', _style:'min-width:200px' },
  { key: 'uwbTagUid', _style:'min-width:100px;' },
  { key: 'mhename', _style:'min-width:50px;' },   
  { key: 'installedDatestring',     _style: 'width:1%' },
 ]   
const apiget =  'Trace_UWBTag_MHEMapping/'
//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)
 
export default {
  
  data ()
  {
    return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
              { key: 'tag_MHE_Id' , label: 'Id',},
              { key: 'mhename', label: 'MHE', },
              { key: 'uwbTagUid', label: 'UWB Tag ',},
              { key: 'installedDatestring',  label: 'Installed Date', },
              { key: 'show_details',  label: '',  _style: 'width:30%', },           
      ],
  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentUWBTagMHEMapping:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  mheitems:"",
  uwbtagitems:"",
  newMapping: {tag_MHE_Id:0,mhE_Id:0,uwB_Tag_Id:0,installed_Date:new Date(),status:1}, }
  },
 

  
  mounted()
  {
   this.getAllUWBTagMHEMappingDetails();
   this.getAllMHEDetails();
   this.getAllUWBTAGDetails();
  },

  methods:
  {
   getAllUWBTagMHEMappingDetails: function()
   {

   Vue.axios.get(this.$url+ apiget)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.status == 1);
      

       }
    });
   },

  getAllMHEDetails: function()
   {

   Vue.axios.get(this.$url+ 'Trace_MHE_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.mheitems =response.data.filter(x => x.status == 1) ;
      

       }
    });
   },
   //
  getAllUWBTAGDetails: function()
   {
 
   Vue.axios.get(this.$url+ 'Trace_UWB_Tag_Master/')
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.uwbtagitems =response.data.filter(x => x.uwB_Tag_Status == 1);
      

       }
    });
   },
  addUWBTagMHEMapping()
  {
    if(this.items.find(x => x.mhE_Id == this.newMapping.mhE_Id && x.status == 1 ))
    {
     this.SuccessMsg= "UWB TAG already mapped for selected MHE. Please update/check MHE Name";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
    else if(this.items.find(x => x.uwB_Tag_Id == this.newMapping.uwB_Tag_Id && x.status == 1 ))
    {
     this.SuccessMsg= "UWB TAG already in use. Please select another";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
   
   else if(this.newMapping.mhE_Id =="" || this.newMapping.uwB_Tag_Id=="")
    {
      this.SuccessMsg= " Please select all fields";
       this.smallModal = true;
      this.ShowAddModal = true;
    }

     // this.validate()
    else
     {


    Vue.axios.post(this.$url+ apiget,this.newMapping).then((response)=>{
      //alert(this.$url+ apiget,this.newUWBTag);
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        this.smallModal = true;
        this.getAllUWBTagMHEMappingDetails();
       }
    })
     }
   },

  UpdateUWBTagMHEMapping()
  {

    //  if(this.items.find(x => x.mhE_Id == this.newMapping.mhE_Id && x.status == 1 ))
    // {
    //  this.SuccessMsg= "UWB TAG already mapped for selected MHE. Please update/check MHE Name";
    //  this.smallModal = true;
    //  this.ShowAddModal = true;
    // }
    // else
     if(this.items.find(x => x.uwB_Tag_Id == this.newMapping.uwB_Tag_Id && x.status == 1 ))
    {
     this.SuccessMsg= "UWB TAG already in use. Please select another";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
   
   else if(this.newMapping.uwB_Tag_Id=="")
    {
      this.SuccessMsg= " Please select UWB TAG";
       this.smallModal = true;
      this.ShowAddModal = true;
    }

     // this.validate()
    else
     {
       this.newMapping.tag_MHE_Id = this.CurrentUWBTagMHEMapping.tag_MHE_Id,
       this.newMapping.mhE_Id =   this.CurrentUWBTagMHEMapping.mhE_Id,
        //alert(this.$url+ apiget + this.newMapping.tag_MHE_Id)
        Vue.axios.put(this.$url+ apiget + this.newMapping.tag_MHE_Id,this.newMapping,).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.smallModal = true;
         this.getAllUWBTagMHEMappingDetails();
       }
    })
     }
   },

  deleteItem()
    {
      var tag_MHE_Id = this.CurrentUWBTagMHEMapping.tag_MHE_Id;
     
        axios({   method: 'delete',
           url: this.$url + apiget+ tag_MHE_Id
    });
        this.SuccessMsg="MHE Mapping Status Changed to Inactive Succesfully"
        this.smallModal = true;
        this.getAllUWBTagMHEMappingDetails();
    },
      
  SelectUWBTagMHEMapping(UWBTagMHEMapping)
    {
     this.CurrentUWBTagMHEMapping=UWBTagMHEMapping;
    },
    
  
    
    },
  
    

}
</script>

<style scoped>
#overlay{
  position:absolute;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>