<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Trace Status Master</h5>
   
      <CDataTable
      :items="items"
      :fields="fields"
      table-filter 
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped 
      border
      sorter
     >
   

<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectStatus(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectStatus(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectStatus(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true">  New Status</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Add New Status</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">
<!-- 
<div class="form-group">

<input type="text" name="status_Id" class="form-control form-control-sm" placeholder="status Id" v-model="newStatus.status_Id">
</div> -->
<div class="form-group"><label  >Status Code</label>

<input type="text" name="status_Code" class="form-control form-control-sm"  v-model="newStatus.status_Code">
</div>
<div class="form-group"><label  >Status Name</label>

<input type="text" name="status_Name" class="form-control form-control-sm"  v-model="newStatus.status_Name">
</div>

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addStatuss();" > Add Status </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Status Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<!-- <div class="form-group">
<input type="text" name="status_Id"  readonly class="form-control form-control-sm" placeholder="status Id" v-model="CurrentStatus.status_Id">
</div> -->

<div class="form-group"><label  >Status Code</label>
<input type="text" name="status_Code" readonly class="form-control form-control-sm"  v-model="CurrentStatus.status_Code">
</div>

<div class="form-group"><label  >Status Name</label>
<input type="text" name="status_Name" readonly class="form-control form-control-sm"  v-model="CurrentStatus.status_Name">
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Status</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<!-- <div class="form-group">
<input type="text" name="status_Id" readonly class="form-control form-control-sm" placeholder="status Id" v-model="CurrentStatus.status_Id">
</div> -->
<div class="form-group"><label  >Status Code</label>
<input type="text" name="status_Code" class="form-control form-control-sm"  v-model="newStatus.status_Code">
</div>

<div class="form-group"><label  >Status Name</label>
<input type="text" name="status_Name" class="form-control form-control-sm"  v-model="newStatus.status_Name">
</div>
<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;UpdateStatus();" > Update Status </CButton>
</div>

</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Status</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Status ? </h4>
<h5> You are deleting {{ this.CurrentStatus.status_Id +' || '+ this.CurrentStatus.status_Code }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem();getAllStatusDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const items = [
 // { key: 'status_Id', _style:'min-width:200px' },
  { key: 'status_Code', _style:'min-width:100px;' },
  { key: 'status_Name', _style:'min-width:50px;' }, 
  
 ]   

//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)
 const apiget =  'Trace_Status_Master/' 
export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
       // { key: 'show_details1',  label: '',  _style: 'width:1%', },
            
            // { key: 'status_Id',  lable:'id',  _style: 'width:1%',},
            { key: 'status_Code', lable:' Code', _style:'min-width:100px;' },
            { key: 'status_Name', lable:'Status ', _style:'min-width:50px;' },
           { key: 'show_details',  label: '',  _style: 'width:20%', },
           
                    
      ],

  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentStatus:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newStatus: {status_Id:0,status_Code:0,status_Name:"",status:1}, }
  },


  
  mounted()
  {
   this.getAllStatusDetails();
  },

  methods:
  {
   getAllStatusDetails: function()
   {
 //alert(this.$url+ apiget)
     Vue.axios.get(this.$url+ apiget)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.status == 1);
       // this.subitems = response.data.fgS_FIFO_Status_Type_Master;

       }
    });
   },

   
  addStatuss()
  {
   alert("12")
    if(this.items.find(x => x.status_Code == this.newStatus.status_Code && x.status == 1))
    {
            alert("1")
     this.SuccessMsg= "Status code " + this.newStatus.status_Code +" already exist. Please try another Code";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
   else if(this.items.find(x => x.status_Name == this.newStatus.status_Name && x.status == 1))
    {
        alert("2")
     this.SuccessMsg= "Status Name " + this.newStatus.status_Name +" already exist. Please try another Name";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
    else if(this.newStatus.status_Code =="" || this.newStatus.status_Name == "")
    {
        alert("3")
    this.SuccessMsg= "Please Enter All Fields";
     this.smallModal = true;
     this.ShowAddModal = true;
    }
    else
     {


    Vue.axios.post(this.$url+ apiget,this.newStatus).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        //this.smallModal = true;
        this.getAllStatusDetails();
          location.reload();
       }
    })
     }
   },

  UpdateStatus()
  {
    if (this.CurrentStatus.status_Code =="" || this.CurrentStatus.status_Name == "")
    {
    this.SuccessMsg= "Please Enter All Fields";
     this.smallModal = true;
   
    }
    else
     {
    
        Vue.axios.put(this.$url+ apiget + this.CurrentStatus.status_Id,this.CurrentStatus).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.smallModal = true;
         this.getAllStatusDetails();
           location.reload();
       }
    })
     }
     
   },

  deleteItem()
    {
      var status_Id = this.CurrentStatus.status_Id;
        axios({   method: 'delete',
           url: this.$url+ apiget + status_Id
    });
        this.SuccessMsg=" Status Changed to Inactive Succesfully"
          this.smallModal = true;
          this.getAllStatusDetails();
          location.reload();
    },
      
  SelectStatus(Status)
    {
     this.CurrentStatus=Status;
    },
  

  
  
       
    },
  
}
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>