<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Trace Work Center Type Master</h5>
   
     <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped
      border
      sorter
     > 
   
 
<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectWorkCentreType(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectWorkCentreType(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectWorkCentreType(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New Work Center Type</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New Work Centre Type</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">



<div class="form-group"><label>Work Center Type</label>
<input type="text" name="workCent_Type" class="form-control form-control-sm"  v-model="newWorkCentreType.workCentType_Name">
</div>


<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addWorkCentreTypes();" > Add Work Centre Type </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Work Centre Type Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group"><label>Id</label>
<input type="text" name="workCent_Id" readonly class="form-control form-control-sm" placeholder=" Id" v-model="CurrentWorkCentreType.workCentType_Id">
</div>


<div class="form-group"><label>Work Center Type</label>
<input type="text" name="workCent_Type" readonly class="form-control form-control-sm"   v-model="CurrentWorkCentreType.workCentType_Name">
</div>



<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update Work Centre Type</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<div class="form-group"><label>Id</label>
<input type="text" name="workCent_Id" readonly class="form-control form-control-sm"  v-model="CurrentWorkCentreType.workCentType_Id">
</div>


<div class="form-group"><label>Work Center Type</label>
<input type="text" name="workCent_Type" class="form-control form-control-sm"  v-model="newWorkCentreType.workCentType_Name">
</div>


<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false;SelectWorkCentreType(CurrentWorkCentreType);UpdateWorkCentreTypes();" > Update Work Centre Type </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete Work Centre Type</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the Work Centre Type ? </h4>
<h5> You are deleting {{ this.CurrentWorkCentreType.workCentType_Id +' || '+ this.CurrentWorkCentreType.workCentType_Name }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem();getAllWorkCentreTypeDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
const items = [
  { key: 'workCentType_Id', _style:'min-width:200px' },
 
  { key: 'workCent_Type',     _style: 'width:1%',  },
  { key: 'status',     _style: 'width:1%',  },
 ]   
const apigetPlantMaster =  'Trace_Plant_Master/'
const apiurl =  'Trace_WorkCenterType_Master/'
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
       // { key: 'show_details1',  label: '',  _style: 'width:1%', },
            
             // { key: 'workCentType_Id' , label: 'Id',},
              { key: 'workCentType_Name', label: 'Name', },
            
             { key: 'show_details',  label: '',  _style: 'width:30%', },
                    
      ],
   
  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentWorkCentreType:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  pmitems : "",
  smallModal: false,
  newWorkCentreType: {workCentType_Id:0,workCentType_Name:"",status:1,}, }
  },

  
  mounted()
  {
   this.getAllWorkCentreTypeDetails();
   //this.getAllPlantMasterDetails();
  },

  methods:
  {
   getAllWorkCentreTypeDetails: function()
   {

   Vue.axios.get(this.$url + apiurl)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items = response.data.filter(x => x.status == 1);
       // this.subitems = response.data.fgS_FIFO_WorkCentreType_Type_Master;

       }
    });
   },




   
  addWorkCentreTypes()
  {
   
     if(this.items.find(x => x.workCentType_Name == this.newWorkCentreType.workCentType_Name && x.status == 1 ))
    {
     this.SuccessMsg= "Work Center Type Name  " + this.newWorkCentreType.workCentType_Name +" already exist. Please try another Name";
    this.smallModal = true;
    }
     else if(this.newWorkCentreType.workCentType_Name =="")
    {
     this.SuccessMsg= "Please enter a Name";
    this.smallModal = true;
    }
    else
    {
    Vue.axios.post(this.$url + apiurl,this.newWorkCentreType).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        this.getAllWorkCentreTypeDetails();
         location.reload();
       }
    })
    }
   },

  UpdateWorkCentreTypes()
  {   
    
    if(this.newWorkCentreType.workCentType_Name =="")
    {
    
   this.SuccessMsg= "Please enter all the fields";
      this.smallModal = true;
     
    }
    else if(this.items.find(x => x.workCentType_Name == this.newWorkCentreType.workCentType_Name && x.status == 1 ) )
    {
      
        this.SuccessMsg= "Work Center name already exist";
   
    this.smallModal = true;
     
    }
    else
    {
     
       this.newWorkCentreType.workCentType_Id = this.CurrentWorkCentreType.workCentType_Id;
      Vue.axios.put(this.$url + apiurl + this.newWorkCentreType.workCentType_Id, this.newWorkCentreType).then((response)=>{
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllWorkCentreTypeDetails();
         location.reload();
       }
    })
    }
   },

  deleteItem()
    {
      var workCentType_Id = this.CurrentWorkCentreType.workCentType_Id;
        axios({   method: 'delete',
           url: this.$url + apiurl+ workCentType_Id
    });
     //   this.SuccessMsg="WorkCentreType Status Changed to Inactive Succesfully"
     location.reload();
        // this.getAllWorkCentreTypeDetails();
    },
      
  SelectWorkCentreType(WorkCentreType)
    {
     this.CurrentWorkCentreType=WorkCentreType;
    },
    
  
    
    },
  
    

}
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>