<template>
  <div>
    <div>
<CModal
      title="Info"
      size="sm"
      :show.sync="smallModal">
      {{ SuccessMsg }}

</CModal>


<CCardBody>
     <h5>Trace UWB Tag Master</h5>
   
     <CDataTable
      :items="items"
      :fields="fields"
      table-filter
      items-per-page-select
      :items-per-page="5"
      pagination
      hover
      striped
      border 
      sorter 
     >
   

<!--Adding Customs buttons to each row -->
    <template #show_details="{item}" >
      <CButton size="sm" color="info" class="ml-1"  @click="ShowUpdateModal=true; SelectUWBTag(item)"> Update </CButton>
      <CButton size="sm" color="danger" class="ml-1" @click="ShowDeleteModal=true; SelectUWBTag(item)" >Delete</CButton>
      <CButton size="sm" color="dark" class="ml-1" @click="ShowDetailsModal=true; SelectUWBTag(item)"> Details </CButton>
    </template>

    </CDataTable>
      <CButton size="sm" color="info" class="" @click="ShowAddModal=true"> New UWB Tag</CButton>
  </CCardBody>

 </div>
<div id="overlay" v-if="ShowAddModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title"> New UWB Tag</h5>
    <button type="button" class="close"  @click="ShowAddModal=false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-7">
<form action="#" method="POST">

<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Id" class="form-control form-control-sm" placeholder="uwB Tag Id" v-model="newUWBTag.uwB_Tag_Id">
</div> -->
<div class="form-group"><label> Unique Id</label>
<input type="text" name="uwB_Tag_Uniqe_Id" class="form-control form-control-sm"  v-model="newUWBTag.uwB_Tag_Uniqe_Id">
</div>

<div class="form-group"><label>UWB Tag </label>
<input type="text" name="uwB_Tag_Name" class="form-control form-control-sm"  v-model="newUWBTag.uwB_Tag_Name">
</div>




<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Status" class="form-control form-control-sm" placeholder="UWBTag uwB_Tag_Status"  v-model="newUWBTag.uwB_Tag_Status">
</div> -->

<div class="form-group">
<CButton size="sm" color="info" class=""  @click="ShowAddModal=false;addUWBTags();" > Add UWB Tag </CButton>
</div>

</form>
 </div>
</div>
</div>
 </div>

<!-- Show Details Modal -->
<div id="overlay" v-if="ShowDetailsModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">UWB Tag Details</h5>
    <button type="button" class="close"  @click="ShowDetailsModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body p-4">

<form action="#" method="POST">
<div class="form-group"><label>Tag Id</label>
<input type="text" name="uwB_Tag_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Id" v-model="CurrentUWBTag.uwB_Tag_Id">
</div>

<div class="form-group"><label>Tag Name</label>
<input type="text" name="uwB_Tag_Name" readonly class="form-control form-control-sm" placeholder="uwB Tag Name" v-model="CurrentUWBTag.uwB_Tag_Name">
</div>

<div class="form-group"><label>Uniqe Id</label>
<input type="text" name="uwB_Tag_Uniqe_Id" readonly class="form-control form-control-sm" placeholder="uwB Tag Uniqe Id" v-model="CurrentUWBTag.uwB_Tag_Uniqe_Id">
</div>


<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Status" readonly class="form-control form-control-sm" placeholder="UWBTag uwB_Tag_Status"  v-model="newUWBTag.uwB_Tag_Status">
</div> -->

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowDetailsModal=false;" > Close </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Show Update Modal -->
<div id="overlay" v-if="ShowUpdateModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Update UWB Tag</h5>
    <button type="button" class="close"  @click="ShowUpdateModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<form action="#" method="POST">
<!-- <div class="form-group">
<input type="text" name="uwB_Tag_Id" class="form-control form-control-sm" placeholder="uwB Tag Id" v-model="newUWBTag.uwB_Tag_Id">
</div> -->

<div class="form-group"><label>Tag Name</label>
<input type="text" name="uwB_Tag_Name" class="form-control form-control-sm"  v-model="newUWBTag.uwB_Tag_Name">
</div>

<div class="form-group"><label>Tag Uniqe Id</label>
<input type="text" name="uwB_Tag_Uniqe_Id" class="form-control form-control-sm"  v-model="newUWBTag.uwB_Tag_Uniqe_Id">
</div>

<div class="form-group">
<button class="btn btn-info btn-block btn-sm"  @click="ShowUpdateModal=false;UpdateUWBTags();" > Update UWB Tag </button>
</div>
</form>

</div>
</div>
</div>
</div>

<!-- Delete Modal -->
<div id="overlay" v-if="ShowDeleteModal">
<div class="modal-dialog">

<div class="modal-content">
  <div class="modal-header">

    <h5 class="modal-title">Delete UWBTag</h5>
    <button type="button" class="close"  @click="ShowDeleteModal=false">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body p-4">
<h4 class="text-danger"> Are you sure want to delete the UWBTag ? </h4>
<h5> You are deleting {{ this.CurrentUWBTag.uwB_Tag_Id +' || '+ this.CurrentUWBTag.uwB_Tag_Name }}</h5>
<hr>
<button class="btn btn-danger btn-sm" @click="ShowDeleteModal=false; deleteItem();getAllUWBTagDetails()  "> Yes </button>
&nbsp;&nbsp;&nbsp;&nbsp;  
<button class="btn btn-success btn-sm" @click="ShowDeleteModal=false"> No </button>
</div>
</div>
</div>
</div>
</div>
</template>

<script>
 const apiget =  'Trace_UWB_Tag_Master/'
const items = [
  //{ key: 'uwB_Tag_Id', _style:'min-width:200px' },
  { key: 'uwB_Tag_Name', _style:'min-width:100px;' },
  { key: 'uwB_Tag_Uniqe_Id', _style:'min-width:50px;' },   
  { key: 'uwB_Tag_Status',     _style: 'width:1%',  },
 ]   

//import CTableWrapper from '.@/Table.vue' 
import Vue from 'vue'
import axios from 'axios'
import VUEAxios from 'vue-axios'
Vue.use(VUEAxios,axios)

export default {
   //components: { CTableWrapper },
  data ()
  {
     return {
    items: items.map((item, id) => { return {...item, id}}),
    
     fields: [
       // { key: 'show_details1',  label: '',  _style: 'width:1%', },
            
             { key: 'uwB_Tag_Id' , label: 'Id',},
              { key: 'uwB_Tag_Name', label: 'UWB Tag',},
              { key: 'uwB_Tag_Uniqe_Id', label: 'Unique Id', },
             // { key: 'uwB_Tag_Status',  label: 'uwB Tag Status',  _style: 'width:12%', },
                { key: 'show_details',  label: '',  _style: 'width:30%', },           
      ],
   
  details: [],
  collapseDuration: 0,
  errMsg:"",
  SuccessMsg:"",
  ShowAddModal:"",
  ShowDeleteModal:"",
  CurrentUWBTag:"",
  ShowUpdateModal:"",
  ShowDetailsModal:"",
  smallModal: false,
  newUWBTag: {uwB_Tag_Id:0,uwB_Tag_Name:"",uwB_Tag_Uniqe_Id:0,uwB_Tag_Status:1,}, }
  },
 

  
  mounted()
  {
   this.getAllUWBTagDetails();
  },

  methods:
  {
   getAllUWBTagDetails: function()
   {
 
   Vue.axios.get(this.$url+ apiget)
    .then((response)=>{
    if(response.data.error)
       {
         this.errMsg=response.data.message;
       }
    else
       {
        this.items =response.data.filter(x => x.uwB_Tag_Status == 1);
        }
    });
   },

   
  addUWBTags()
  {

    if(this.items.find(x => x.uwB_Tag_Name == this.newUWBTag.uwB_Tag_Name && x.uwB_Tag_Status == 1 ))
    {
     // alert(this.newUWBTag.uwB_Tag_Name)
    this.SuccessMsg= "UWB Tag Name " + this.newUWBTag.uwB_Tag_Name +" already exist. Please try another Name";
    this.smallModal = true;
    }
    else if(this.items.find(x => x.uwB_Tag_Uniqe_Id == this.newUWBTag.uwB_Tag_Uniqe_Id && x.uwB_Tag_Status == 1 ))
    {
     // alert(this.newUWBTag.uwB_Tag_Uniqe_Id)
     
    this.SuccessMsg= "UWB Tag Unique Id " + this.newUWBTag.uwB_Tag_Uniqe_Id +" already exist. Please try another Id";
    this.smallModal = true;
    }
    else if(this.newUWBTag.uwB_Tag_Name ==""|| this.newUWBTag.uwB_Tag_Uniqe_Id== 0 )
    {
   //   alert("Please enter all fields")
    this.SuccessMsg= "Please enter all fields";
    this.smallModal = true;
    }

   else
    {

    alert("1")
    Vue.axios.post(this.$url+ apiget, this.newUWBTag).then((response)=>{
      //alert(this.$url+ apiget,this.newUWBTag);
       if(response.data.error)
       {
          alert('Data Error')
       }
       else
       {
        this.SuccessMsg ="Records Inserted Successfully.."
        this.getAllUWBTagDetails();
        location.reload();
       }
    })
    }
   },

  UpdateUWBTags()
  {
    // alert(this.newUWBTag.uwB_Tag_Uniqe_Id+"/"+this.CurrentUWBTag.uwB_Tag_Uniqe_Id);
    // alert(this.newUWBTag.uwB_Tag_Name+"/"+this.CurrentUWBTag.uwB_Tag_Name);
    //chk if tagid or tagname is changed
    if(this.newUWBTag.uwB_Tag_Name != this.CurrentUWBTag.uwB_Tag_Name && this.items.find(x => x.uwB_Tag_Name == this.newUWBTag.uwB_Tag_Name && x.uwB_Tag_Status == 1 ))
    //new tagname is assigned already for another
    {
      alert(this.newUWBTag.uwB_Tag_Name)
      this.SuccessMsg= "UWB Tag Name already exist. Please try another";
      this.smallModal = true;
    }
       
       //check if new tagid is assigned already
    else if(this.newUWBTag.uwB_Tag_Uniqe_Id != this.CurrentUWBTag.uwB_Tag_Uniqe_Id && this.items.find(x => x.uwB_Tag_Uniqe_Id == this.newUWBTag.uwB_Tag_Uniqe_Id && x.uwB_Tag_Status == 1 ))
   {       
        //alert(this.newUWBTag.uwB_Tag_Uniqe_Id)
        this.SuccessMsg= "Unique Id already exist. Please try another";
        this.smallModal = true;
    }
    else if(this.newUWBTag.uwB_Tag_Name == ""|| this.newUWBTag.uwB_Tag_Uniqe_Id == 0 )
    {
     this.SuccessMsg= "Please enter all fields";
     this.smallModal = true;
    }
    else 
    {
     // alert("");
      this.newUWBTag.uwB_Tag_Id = this.CurrentUWBTag.uwB_Tag_Id;
     // alert(this.newUWBTag.uwB_Tag_Id+"/"+this.CurrentUWBTag.uwB_Tag_Id);
      Vue.axios.put(this.$url+ apiget+this.newUWBTag.uwB_Tag_Id,this.newUWBTag,).then((response)=>{
      if(response.data.error)
       {
          alert('Data Error')
       }
       

       else
       {
         this.SuccessMsg ="Records Updated Successfully.."
         this.getAllUWBTagDetails();
          location.reload();
       }
    })
    }
   },

  deleteItem()
    {
 //alert(this.CurrentUWBTag.uwB_Tag_Id)
              
        axios({   method: 'delete',
           url: this.$url + apiget + this.CurrentUWBTag.uwB_Tag_Id });
        this.SuccessMsg="UWBTag uwB_Tag_Status Changed to Inactive Succesfully"
         this.getAllUWBTagDetails();
         location.reload();
    },
      
  SelectUWBTag(UWBTag)
    {
     this.CurrentUWBTag = UWBTag;
    },
    
  
    
    },
  
    

}
</script>

<style scoped>
#overlay{
  position:fixed;
  top:100px;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
}
</style>